{% extends 'core/base.html' %}
{% load static from staticfiles %}

{% load add_export_elements_classes from directory_components_tags %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/ukef-lead-generation-success.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'finance/lead_generation_form/breadcrumbs.html' %}
        <div class="grid-row">
            <div class="column-two-thirds">
                <div id="success-message-container">
                    <h1 class="heading-medium">We have received your enquiry. Thank you</h1>
                </div>  
                <h2 class="heading-medium">What happens next</h2>
                <span>Our team will take a look at what you need and get back to you soon.</span>
                <div>
                    <br/>
                    <a href="{{ header_footer_urls.home }}">Continue to great.gov.uk</a>
                </div>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}
