
<div class="container">
  <div id="contact-section-cta-box" class="cta-box padding-45 margin-bottom-0 background-stone-30">
    <div class="grid-row">
      <div class="column-half-m column-full">
        <div class="box-description">{{ page.contact_proposition|safe }}</div>
      </div>
      <div class="column-third-xl column-half-m column-full button-container">
        <a class="button button-blue button-large" href="{% url 'uk-export-finance-lead-generation-form' step='contact' %}">{{ page.contact_button }}</a>
      </div>
    </div>
  </div>
</div>
