// Breadcrumb Component
// -------------------------

// REQIURES...
// $white
// $light-grey
//


.breadcrumbs {
  background-color: $white;
  border-bottom: $light-grey solid 2px;

  li:after {
    left: .2em;
  }
}
