// Export Status Selector
// ----------------------
//

.export-status-selector {
  border: $light-grey solid 1px;
  position: relative;
  
  img {
    margin-bottom: -8px;
    width: 100%;
  }
  
  .link {
    @include heading-s;
    display: block;
    margin: 0;
    padding: $spacing-3;
  }
}


// TABLET
@media (max-width: 900px) {
  .export-status-selector {
  }
}

@media (max-width: 767px) {
  .export-status-selector {
    float: none;
    margin-bottom: $spacing-3;
    overflow: hidden;
    padding-top: 250px;
    position: relative;

    img {
      left: 0;
      position: absolute;
      top: -25px
    }
    
    .link {
      background-color: $white;
      position: relative;
    }
  }
}


// MOBILE
@media (max-width: 540px) {
  .export-status-selector {
     margin-bottom: $spacing-3-m;
     padding-top: 125px;

     .link {
       @include heading-s-mob;
       margin: 0;
       padding: $spacing-3-m;
     }
  }
}
