// Fact Component
// ---------------------------

// REQUIRES...
// From _vars.scss
// $spacing-3

// From _typography
// @mixin body-xl
// @mixin body-l

// From _colours.scss
// $active-blue


.fact {
  display: table;

  strong {
    color: $active-blue;
    display: block;
    font-family: $brand-font-alternative;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2em;
    white-space: nowrap;
  }
  
  .figure {
    border-left: $active-blue solid 5px;
    display: table-cell;
    min-width: 270px;
    padding-left: $spacing-3;
    vertical-align: top;
    width: 30%;
  }
  
  .intro {
    @include body-xl;
    display: table-cell;
    float: none;
    padding-right: 15%;
    width: 100%;
  }
}


// TABLET
@media (max-width: 1024px) {
  .fact {
    .intro {
      padding-right: 5%;
    }
  }
}

@media (max-width: 767px) {
  .fact {
    display: block;

    .figure,
    .intro {
      display: block;
      float: none;
      width: 100%;
    }
  }
}

// MOBILE
@media (max-width: 480px) {
  .fact {
    .intro {
      @include body-l;
    }
    
    strong {
      font-size: 48px;
    }
  }
}
