// Multi-step form wizard progress indicator
// ---------------------------
// REQUIRES...

.exred-form-progress-indicator {
  padding: 0;
  background-color: #DCE0DF;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      button {
        line-height: 15px;
      }
      display: inline-block;
      &.exred-form-progress-indicator-line {
        border-bottom: 9px solid #007EA3;
      }
      &.exred-form-progress-indicator-prev {
        button {
          cursor: pointer;
          span {
            color: #007ea3;
          }
        }
      }
      &.exred-form-progress-indicator-active {
        button span {
          color: #007ea3;
          font-size: 18px;
        }
        .exred-form-tab-order {
          padding: 6px 12px;
        }
      }
    }
  }
  button {
    text-align: left;
    padding: 18px 0;
    padding-top: 20px;
    width: 100%;
    border: none;
    background: transparent;
    span {
      color: #777;
      font-size: 15px;
      margin-top: -8px;
    }
    @media (max-width: 640px) {
      text-align: center;
    }
    &:focus {
      outline: 3px solid #FFC236;
    }
  }
  .exred-form-tab-order {
    border-radius: 100px;
    border-style: solid;
    border-width: 2px;
    padding: 3px 8px;
  }
  .exred-form-tab-label {
    margin-left: 5px;
    font-weight: 600;
    @media (max-width: 640px) {
      display: none;
    }
  }
}
