// Hero Banner Component Template
// -------------------------------

.hero-campaign-section {
  background-color: $white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  position: relative;

  img {
    float: right;
    height: 90px;
  }

  p {
    margin-top: $spacing-3;
    width: 50%;
  }

  .container {
    min-height: 286px;
    position: relative;
  }

  .video {
    float: left;
    padding-top: $spacing-3;
    img {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &:before {
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.7) 100%);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.hero-campaign-teaser {
  img {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  p {
    color: $white;
  }

  .title {
    @include heading-hero;
    color: $white;
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;

    span {
      background-color: $great-red;
      display: inline-block;
      margin: 0 0 5px -#{$spacing-4};
      padding: 8px $spacing-4 5px $spacing-4;

      // firefox specific styling to fix how background colour is positioned in span tags
      @-moz-document url-prefix() {
        & {
          padding: 13px $spacing-4 0px $spacing-4;
        }
      }
    }
  }
}


// TABLET
@media (max-width: 767px) {
  .hero-campaign-section {
    p {
      width: 62%;
    }
  }
}


// MOBILE
@media (max-width: 540px) {
  .hero-campaign-section {
    padding-top: 200px;
    position: relative;

    img {
      display: none;
    }

    p {
      margin-top: $spacing-3-m;
      width: 100%;
    }

    .video {
      width: 100%;
      .button-video {
        width: 100%;
      }
    }
  }
}

@media (max-width: 420px) {
  .hero-campaign-section {
    padding-bottom: $spacing-3-m;
    padding-top: 0;
  }

  .hero-campaign-teaser {
    .title {
      @include heading-hero-mob;
      margin-top: 0;
      margin-left: 10px;
      span {
        margin-bottom: 2px;
        padding: 5px $spacing-4;

        // firefox specific styling to fix how background colour is positioned in span tags
        @-moz-document url-prefix() {
          & {
            padding: 8px $spacing-4 1px $spacing-4;
          }
        }
      }
    }
  }
}
