// Resources Component
// ---------------------------

// REQUIRES...
// $active-blue
// $light-grey
// $mid-blue
// $mid-grey
// $white
//
// @mixin body-s 
// @mixin heading-s

.resources-teaser {
  height: 345px;
  background-color: $white;
  border: $light-grey solid 1px;
  margin-bottom: $spacing-3;
  padding: 80px $spacing-3 $spacing-3 $spacing-3;
  position: relative;
  
  .count {
    @include body-s;
    color: $mid-grey;
  }
  
  .icon {
    height: 35px;
    left: $spacing-3;
    position: absolute;
    top: $spacing-3;
  }
  
  .more {
    @include heading-s;
    background-color: $white;
    color: $active-blue;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;

    span {
      left: -1000px;
      position: absolute;
    }
    
    &:hover {
      color: $mid-blue;
    }
  }
  
  .title {
    @include heading-s;
    margin-bottom: 0.2em;
    position: relative;
    z-index: -1;
  }
}

// MOBILE
@media (max-width: 540px) {
  .resources-teaser {
    padding: 10px;
    height: auto;
    .resource-description {
      display: none;
    }
    .more {
      font-size: 20px;
      top: 0;
      position: relative;
      left: 0;
    }
    .count {
      margin-top: 10px;
      margin-bottom: 0;
    }
    .icon {
      right: 20px;
      left: inherit;
      top: 22px;
      z-index: 1;
    }
  }
}
