// Service Teaser Component.
// -------------------------

// REQIURES...

// From _colours.scss
// $active-blue
// $great-red
// $grey
// $light-grey
// $mid-blue
// $white

// From _vars.scss
// $spacing-3
// $spacing-3-m
// $spacing-4-m

// From _typography.scss
// @mixin heading-s
// @mixin body-m

// From _mixins.scss
// @mixin great-red-trim

.service-section {
  padding: $spacing-3 0 0 0;
  position: relative;

  img {
    float: right;
    width: calc(50% - #{$spacing-3});
  }

  .heading,
  .intro {
    color: inherit;
  }

  &:after {
    @include great-red-trim;
    bottom: 0;
    left: initial;
    max-width: 600px;
    right: 50%;
    top: initial;
    width: $cols-6;
  }

  &.fab   {
    background-color: #1E1248;
    color: $white;
  }

  &.fas   {
    background-color: #1E1547;
    color: $white;
  }

  &.soo   {
    background-color: #DFD5C6;
    .button {
      @include button-ghost($grey, $white);
    }
    ul.list-bullet li::before {
      background-color: $black;
    }
  }

  &.exops {
    background-color: #DFD5C6;

  }
}

.service-teaser {
  background-color: $white;
  border: $light-grey solid 1px;
  position: relative;

  article {
    padding: $spacing-4 $spacing-3;
    margin-top: -6px;
    height: 300px;
  }

  img {
    width: 100%;
  }

  .link {
    text-decoration: none;
    color: $grey;
    display: block;

    &:focus {
      outline: 3px solid $focus-yellow;
      outline-offset: -3px;
    }
  }

  .text {
    @include body-m;
    margin-bottom: 0;
  }

  .title {
    @include heading-s;
    color: $active-blue;
    text-decoration: underline;
  }

  &:hover {
    .title {
      color: $mid-blue;
    }
  }
}

@media (max-width: 915px) {
  .service-teaser {
    height: 540px;
  }
}


// TABLET
@media (max-width: 767px) {
  .service-section {
    &:after {
      max-width: none;
      right: $spacing-3;
      width: calc(100% - #{$spacing-3 * 2});
    }
  }

  .service-teaser {
    height: auto;
    margin-bottom: $spacing-3;
    overflow: hidden;

    article {
      margin-top: 0;
      padding: $spacing-3;
      height: auto;
    }

    img {
      display: none;
    }
  }
}

// DESKTOP
@media (min-width: 800px) {
  .service-section {
    img {
      max-width: 360px;
    }
  }
}

@media (min-width: 1000px) {
  .service-section {
    img {
      margin-right: 10%;
    }
  }
}

// MOBILE
@media (max-width: 480px) {
  .service-section {
    img {
      display: none;
    }

    &:after {
      right: $spacing-3-m;
      width: calc(100% - #{$spacing-3-m * 2});
    }
  }

  .service-teaser {
    padding: $spacing-3-m;
    margin-bottom: $spacing-4-m;

    .text {
      @include body-m-mob;
      float: none;
      margin-left: 0;
      margin-right: 0;
      width: auto;
    }

    .title {
      @include heading-s-mob;
      float: none;
      margin-left: 0;
      margin-right: 0;
      width: auto;
    }
  }
}
