// Triage (section and teaser)
// ---------------------------

// REQIURES...
// From _vars.scss
// $spacing-3

// From _mixins.scss
// @mixin button-ghost

.triage-section {
  img {
    float: right;
    width: calc(50% - #{$spacing-3});
  }
}

.triage-teaser {
  padding: $spacing-3;

  img {
    margin: 0 0 $spacing-3 0;
  }
}


// TABLET
@media (max-width: 767px) {
  .triage-section {
    img {
      margin-bottom: $spacing-3;
      width: 100%;
    }
  }

  .triage-teaser {
    img {
      float: right;
      margin: 0 0 0 $spacing-3;
      width: 50%;
    }

    .text {
      display: inline;
    }
  }
}


// MOBILE
@media (max-width: 580px) {
  .triage-section,
  .triage-teaser {
    img {
      display: none;
    }

    .text {
      display: block;
    }
  }
}
