
// PROTOTYPE HEADER/FOOTER OVERRIDES
// ==================================

@import '../partials/typography';
@import '../partials/colours';

#header,
#header-bar {
  font-family: $brand-font-alternative;
}

#menu {
  margin-top: -2.7em;
  font-size: 17px;

  a {
    padding: 0;
    margin-left: 20px;
  }

  ul li:first-child {
    a {
      margin-left: 0;
    }
  }
}

#header-dit-logo {
  display: block;
}

#header {
  height: 115px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $great-blue;
    }
  }

  .account-links {
    padding: 15px 0;

    a {
      color: $stone;
      background-position: left;
      background-repeat: no-repeat;
      background-size: 21px;
      display: inline-block;

      &:active {
        color: $great-blue;
      }
    }

    li:first-child:after {
      content: '';
    }
  }

  a.navigation:hover:before {
    display: none;
  }

  .LanguageSelectorDialog-Tracker {
    background-image: url("/static/icons/international-icon.svg");
    font: inherit;

    &:hover {
      color: $stone;
    }
  }

}

#header-sign-in-link {
  background-image: url("/static/icons/signin-icon.svg");
  padding-left: 25px;
  margin-left: 15px;
}

@media screen and (max-width: 767px){
  #header {
    height: auto;
  }

  #menu-activator {
    height: 45px;
    top: -10px;
  }

  #menu {
    a {
      cursor: pointer;

      &:active:focus {
        background-color: $focus-yellow;
        border-color: $focus-yellow;
      }
    }

    ul li a,
    ul li:first-child a {
      margin-left: 0;
      padding-left: 15px;
    }
  }
}

#footer {
  a:active {
    color: $great-blue;
  }

  .heading {
    color: $stone;
    font-family: $brand-font-alternative;
    font-size: 17px;
  }

  .footer-links-list {
    li:last-child {
      margin-top: 30px;
    }
  }

  .logo-container {
    padding: 30px 0;
    border-bottom: 1px solid #3b3458;

    img {
      margin: 0;
    }
  }

  nav.container {
    padding-top: 30px;
  }
}

#footer-copyright-text {
  white-space: nowrap;
  margin: 1em 0;
}

@media (max-width: 767px) {
  #footer {
    .column-fifth {
      width: 50%;
    }
  }
}

@media (max-width: 540px) {
  #footer-dit-logo,
  #footer-eig-logo {
    height: 70px;
    width: auto;
  }
}

@media (max-width: 480px) {
  #footer-dit-logo,
  #footer-eig-logo {
    height: 70px;
    width: auto;
  }
}

@media (max-width: 420px) {
  #footer {
    .column-fifth {
      width: 100%;
    }
  }

  #footer-dit-logo {
    margin-right: 15px
  }

  #footer-dit-logo,
  #footer-eig-logo {
    height: auto;
    width: calc(50% - 15px);
  }
}
