
// PROTOTYPE HEADER/FOOTER OVERRIDES
// ==================================

@import '../partials/typography';
@import '../partials/colours';
@import '../partials/mixins';

.great-header {
  height: 115px;
  font-weight: 700;

  a {
    text-decoration: none;

    &:focus {
      @include focus;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $great-blue;
    }
  }

  .LanguageSelectorDialog-Tracker {
    background-image: url('/static/icons/international-icon.svg');
    padding-left: 25px;
  }
}

.great-header-menu {
  font-size: 17px;
}

.great-header-menu,
.great-header-bar {
  & > .container {
    position: relative;
  }
}

.great-header-account-links {
  padding: 15px 0;

  a {
    color: $stone;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 21px;
    display: inline-block;
  }

  .great-header-sign-in-link {
    background-image: url("/static/icons/signin-icon.svg");
    padding-left: 25px;
    margin-left: 15px;
  }
}

.great-header-bar {
  .great-header-account-links {
    float: right;
    font-size: 15px;

    li {
      display: inline-block;
    }
  }
}

.great-header-container {
  max-width: 1200px;
  position: relative;
}

.great-header-dit-logo {
  position: absolute;
  top: 20px;

  img {
    max-width: 158px;
    width: 100%;
  }
}

.great-header-nav {
  position: absolute;
  top: 70px;
  right: 0;

  a {
    color: $white;
  }

  ul li.link-heading {
    display: inline-block;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .great-header-container {
    margin: 0 15px;
  }
}

.great-footer,
.great-header {
  font-family: $brand-font-alternative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.47;
}

.great-footer a {
  color: $light-grey;
}

.great-footer-logo-container,
.great-footer-links-container {
  border-bottom: 1px solid #3b3458; // no sass variable since this colour is only used once here in the footer
}

.great-footer-links-container {
  .heading {
    font-size: 17px;
  }
}

.great-footer-links-list {
  li {
    line-height: 30px;

    &:last-child {
      margin-top: 30px;
    }
  }
}

.services-links {
  li:last-child {
    margin-top: 0;
  }
}

.great-footer-site-links {
  ul li {
    display: inline-block;
    margin-right: 30px;
  }
}

.great-footer-site-links,
.great-footer-copyright {
  font-size: 12px;
}

.great-footer-copyright {
  padding: 10px 0;
}

.great-footer-links-list-column {
  width: 25%;
  float: left;
}

@media (max-width: 640px) {
  .great-footer-links-list-column {
    width: 50%;
  }

  .great-footer-site-links {
    text-align: center;

    ul li {
      margin-right: 15px;
    }
  }

  .great-footer-links-container {
    margin-top: 30px;

    ul {
      margin-bottom: 30px;
    }
  }
}
