
// PROTOTYPE HEADER/FOOTER OVERRIDES
// ==================================

@import '../partials/typography';
@import '../partials/colours';
@import '../partials/mixins';

#header {
  .column-seventh {
    width: calc(100% / 7);
    float: left;
    box-sizing: border-box;
  }
}

@media (max-width: 767px) {
  #header .column-seventh {
    width: 100%;
  }
}
