{% load static %}
<footer id="footer">
  <nav class="container">
    <div class="link-group">
      <img id="footer-dit-logo" src="{% static 'directory_components/images/dfit-logo-white.png' %}" alt="Department for International Trade"/>
      <img id="footer-eig-logo" src="{% static 'directory_components/images/eig-logo-stacked.svg' %}" alt="Exporting is Great"/>
    </div>
    <div class="link-group">
      <a class="links-list-heading custom-page-link" id="footer-custom-page-link" href="{{ header_footer_urls.custom }}">Your export journey</a>
    </div>

    <div class="link-group">
      <h4 class="links-list-heading" id="footer-guidance-links">Guidance</h4>
      <ul aria-labelledby="footer-guidance-links" class="links-list">
        <li>
          <a id="footer-guidance-make-an-export-plan" href="{% url 'article-list' 'guidance' 'make-an-export-plan' %}">Make an export plan</a>
        </li>
        <li>
          <a id="footer-guidance-how-to-find-an-export-market" href="{% url 'article-list' 'guidance' 'how-to-find-an-export-market' %}">How to find an export market</a>
        </li>
        <li>
          <a id="footer-guidance-how-to-enter-an-export-market" href="{% url 'article-list' 'guidance' 'how-to-enter-an-export-market' %}">How to enter an export market</a>
        </li>
        <li>
          <a id="footer-guidance-managing-finance" href="{% url 'article-list' 'guidance' 'managing-finance' %}">Managing finance</a>
        </li>
        <li>
          <a id="footer-guidance-doing-business-overseas" href="{% url 'article-list' 'guidance' 'doing-business-overseas' %}">Doing business overseas</a>
        </li>
        <li>
          <a id="footer-guidance-legal-and-compliance" href="{% url 'article-list' 'guidance' 'legal-and-compliance' %}">Legal and compliance</a>
        </li>
        <li>
          <a id="footer-guidance-legal-and-compliance" href="{% url 'article-list' 'guidance' 'export-procedures' %}">Export procedures</a>
        </li>
      </ul>
    </div>
    <div class="link-group">
      <h4 class="links-list-heading" id="footer-services-links">Services</h4>
      <ul aria-labelledby="footer-services-links" class="links-list">
        <li>
          <a id="footer-services-find-a-buyer" href="{{ services_urls.fab }}">Create a business profile</a>
        </li>
        <li>
          <a id="footer-services-selling-online-overseas" href="{{ services_urls.soo }}">Sell online overseas</a>
        </li>
        <li>
          <a id="footer-services-export-opportunities" href="{{ services_urls.exopps }}">Find export opportunities</a>
        </li>
        <li>
          <a id="footer-services-get-finance" href="{{ header_footer_urls.get_finance }}">Get finance</a>
        </li>
        <li>
          <a id="footer-services-events" href="{{ services_urls.events }}">Find events and visits</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container site-links">
    <ul>
      <li>
        <a id="footer-site-links-about" href="{{ header_footer_urls.about }}">About</a>
      </li>
      <li>
        <a id="footer-site-links-contact" href="{{ services_urls.contact_us }}">Contact us</a>
      </li>
      <li>
        <a id="footer-site-links-privacy-and-cookies" href="{{ header_footer_urls.privacy_and_cookies }}">Privacy and cookies</a>
      </li>
      <li>
        <a id="footer-site-links-t-and-c" href="{{ header_footer_urls.terms_and_conditions }}">Terms and conditions</a>
      </li>
      <li>
        <a id="footer-site-links-performance" href="{{ header_footer_urls.performance }}">Performance</a>
      </li>
      <li>
        <a id="footer-site-links-dit" href="{{ header_footer_urls.dit }}">Department for International Trade on GOV.UK</a>
      </li>
    </ul>
  </div>
  <div id="footer-copyright">
    <p class="container"><span id="footer-copyright-text">&copy; Crown copyright {% now "Y" %}. All rights reserved.</span></p>
  </div>
</footer>
