{% load static %}
<header id="header">
  <div id="header-bar">
    <div class="container">
      {% block login_state %}
      <ul aria-label="Account links" class="account-links">
        {% if not sso_is_logged_in %}
        <li class="anonymous">
          <a id="header-register-link" href="{{ sso_register_url }}" class="register">Register</a>
        </li>
        <li class="anonymous">
          <a id="header-sign-in-link" href="{{ sso_login_url }}" class="signin">Sign in</a>
        </li>
        {% else %}
        <li class="authenticated">
          <a id="header-profile-link" href="{{ sso_profile_url }}" class="profile">{% block profile_label %}Account{% endblock %}</a>
        </li>
        <li class="authenticated">
          <a id="header-sign-out-link" href="{{ sso_logout_url }}" class="signout">Sign out</a>
        </li>
        {% endif %}

        {% block international_link_js_disabled %}
        {% endblock %}

      </ul>
      {% endblock %}
      <span id="header-greeting"></span>

      <a id="header-dit-logo" href="{{ services_urls.exred }}">
        <img src="{% static 'directory_components/images/dfit-logo-white.png' %}" alt="Home">
      </a>
    </div>
  </div>

  <div class="js-disabled-only">
  {% block no_js_header_beta_banner %}
  {% endblock %}
  </div>

  <div id="header-menu">
    <div class="container">
      <nav id="menu">
        <ul>
          <li>
            <a class="navigation " href="{% url 'prototype-landing-page' %}" id="header-home-link">Home</a>
          </li>

          <li><a class="navigation links-list-heading" href="#guidance-links-list" id="header-guidance-links">Guidance</a>
            <ul id="guidance-links-list" aria-labelledby="header-guidance-links" class="container links-list">
              <li class="links-list-item column-seventh">
                <a id="header-guidance-make-an-export-plan" href="{% url 'article-list' 'guidance' 'make-an-export-plan' %}">Make an export plan</a>
              </li>
              <li class="links-list-item column-seventh">
                <a id="header-guidance-how-to-find-an-export-market" href="{% url 'article-list' 'guidance' 'how-to-find-an-export-market' %}">How to find an export market</a>
              </li>
              <li class="links-list-item column-seventh">
                <a id="header-guidance-how-to-enter-an-export-market" href="{% url 'article-list' 'guidance' 'how-to-enter-an-export-market' %}">How to enter an export market</a>
              </li>
              <li class="links-list-item column-seventh">
                <a id="header-guidance-managing-finance" href="{% url 'article-list' 'guidance' 'managing-finance' %}">Managing finance</a>
              </li>
              <li class="links-list-item column-seventh">
                <a id="header-guidance-doing-business-overseas" href="{% url 'article-list' 'guidance' 'doing-business-overseas' %}">Doing business overseas</a>
              </li>
              <li class="links-list-item column-seventh">
                <a id="header-guidance-legal-and-compliance" href="{% url 'article-list' 'guidance' 'legal-and-compliance' %}">Legal and compliance</a>
              </li>
              <li class="links-list-item column-seventh">
                <a id="header-guidance-legal-and-compliance" href="{% url 'article-list' 'guidance' 'export-procedures' %}">Export procedures</a>
              </li>
            </ul>
          </li>

          <li><a class="navigation links-list-heading" href="#services-links-list" id="header-services-links">Services</a>
            <ul id="services-links-list" aria-labelledby="header-services-links" class="container links-list">
              <li class="links-list-item column-fifth">
                <a id="header-services-find-a-buyer" href="{{ services_urls.fab }}">
                  <span>Create a business profile</span>
                  <p>Get promoted internationally with a great.gov.uk business profile</p>
                </a>
              </li>
              <li class="links-list-item column-fifth">
                <a id="header-services-selling-online-overseas" href="{{ services_urls.soo }}">
                  <span>Sell online overseas</span>
                  <p>Find the right marketplace for your business and access special offers for sellers</p>
                </a>
              </li>
              <li class="links-list-item column-fifth">
                <a id="header-services-export-opportunities" href="{{ services_urls.exopps }}">
                  <span>Find export opportunities</span>
                  <p>Find and apply for overseas opportunities</p>
                </a>
              </li>
              <li class="links-list-item column-fifth">
                <a id="header-services-get-finance" href="{{ header_footer_urls.get_finance }}">
                  <span>Get finance</span>
                  <p>Get the finance you need to compete and grow</p>
                </a>
              </li>
              <li class="links-list-item column-fifth">
                <a id="header-services-events" href="{{ services_urls.events }}" rel="noopener noreferrer" target="_blank">
                  <span>Find events and visits</span>
                  <p>Attend events and see how visits by ministers can support your trade deals</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
