{% extends 'core/base.html' %}

{% load static from staticfiles %}
{% load include_markdown from article_tags %}

{% block css %}
    <link href="{% static 'styles/pages/article.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container">
    <article id="top">
        <h1>{{ article.title }}</h1>
        {% include_markdown article.markdown_file_path %}
        <footer>
            <p class="sharing-links" data-component="sharing-links">
                <span class="label">Share</span>
                <a id="share-twitter" href="{{ social_links.twitter }}">
                    <img alt="with Twitter" height="36px" src="{% static 'images/twitter.svg' %}" width="36px">
                </a>
                <span class="verbose">,</span>
                <a id="share-facebook" href="{{ social_links.facebook }}">
                    <img alt="with Facebook" height="36px" src="{% static 'images/facebook.svg' %}" width="36px">
                </a>
                <span class="verbose">,</span>
                <a id="share-linkedin" href="{{ social_links.linkedin }}">
                    <img alt="with LinkedIn" height="36px" src="{% static 'images/linkedin.svg' %}" width="36px">
                </a>
                <span class="verbose">,</span>
                <a id="share-email" href="{{ social_links.email }}">
                	<img alt="with Email" height="36px" src="{% static 'images/email.svg' %}" width="36px">
                </a>
            </p>
        </footer>
    </article>
</div>
{% endblock %}
