{% extends 'article/base.html' %}
{% load static %}
{% load cta_box add_export_elements_classes from directory_components_tags %}
{% load parse_date from article_tags %}

{% block css_layout_class %}country-guide-page{% endblock css_layout_class %}

{% block content %}
<section class="hero hero-generic padding-0" {% if page.hero_image %}style="background-image: url('{{ page.hero_image.url }}')"{% endif %}>
  <div class="container">
    <div class="hero-title-compact">
      <h1 class="heading-hero-generic{% if page.breadcrumbs_label|length > 15 %}-compact{% endif %}" id="hero-heading">{{ page.landing_page_title }}</h1>
    </div>
  </div>
</section>

<section>
    {% block breadcrumbs %}
      {% include 'article/components/breadcrumbs.html' with breadcrumbs=breadcrumbs %}
    {% endblock %}

  <div class="container">

    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-large margin-top-15">{{ page.section_one_heading }}</h2>
        <div class="margin-bottom-60">{{ page.section_one_content|add_export_elements_classes }}</div>
      </div>
    </div>

    <ul class="grid-row">
      <li class="column-third">
        {% if page.selling_point_one_icon %}<img src="{{ page.selling_point_one_icon.url }}" width="50" alt="">{% endif %}
        <h3 class="heading-medium margin-top-15">{{ page.selling_point_one_heading }}</h3>
        {{ page.selling_point_one_content|add_export_elements_classes }}
      </li>
      {% if page.selling_point_two_heading and page.selling_point_two_content %}
        <li class="column-third">
          {% if page.selling_point_two_icon %}<img src="{{ page.selling_point_two_icon.url }}" width="50" alt="">{% endif %}
          <h3 class="heading-medium margin-top-15">{{ page.selling_point_two_heading }}</h3>
          {{ page.selling_point_two_content|add_export_elements_classes }}
        </li>
      {% endif %}
      {% if page.selling_point_three_heading and page.selling_point_three_content %}
        <li class="column-third">
          {% if page.selling_point_three_icon %}<img src="{{ page.selling_point_three_icon.url }}" width="50" alt="">{% endif %}
          <h3 class="heading-medium margin-top-15">{{ page.selling_point_three_heading }}</h3>
          {{ page.selling_point_three_content|add_export_elements_classes }}
        </li>
      {% endif %}
    </ul>

  </div>
</section>

{% if page.articles %}
  <section class="background-stone-30 padding-top-15">
    <div class="container">
      <div class="grid-row">
        <div class="column-half">
          <h2 class="heading-large">{{ page.section_two_heading }}</h2>
          <div class="margin-bottom-45">{{ page.section_two_content|add_export_elements_classes }}</div>
        </div>
      </div>

      <div class="grid-row">
        {% if page.articles %}
          {% for article in page.articles %}
            <div class="column-third">
              <p class="subheading">Published on {{ page.last_published_at|parse_date }}</p>
              <a href="{{ article.full_path }}" class="heading-medium margin-top-0 link">{{ article.article_title }}</a>
              <p>{{ article.article_teaser }}</p>
            </div>
          {% endfor %}
        {% endif %}
      </div>

    </div>
  </section>
{% endif %}

{% if page.related_pages.0.article_title %}
<section class="padding-top-15 padding-bottom-90">
  <div class="container">
    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-large">{{ page.related_content_heading }}</h2>
        <div class="margin-bottom-30">{{ page.related_content_intro|add_export_elements_classes }}</div>
      </div>
    </div>

    <ul class="grid-row" aria-labelledby="related-content-heading" id="related-pages-list">
      {% for article in page.related_pages %}
        <li class="column-third" id="related-page-one">
          {% if article.article_image %}
            <img id="related-page-one-image" src="{{ article.article_image_thumbnail.url }}" alt="" class="width-full">
          {% endif %}
          <a href="{{ article.full_path }}" class="heading-medium grey-text margin-top-30">{{ article.article_title }}</a>
          <p>{{ article.article_teaser }}</p>
        </li>
        {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

<section class="{% if page.related_pages.0.article_title %}background-stone-gradient-left{% endif %} padding-top-45">
  <div class="container">
    <div class="card-grid reverse-columns-l">
      <div class="column-third-xl column-full-l">
        <h2 class="heading-xlarge heading-hero-domestic title margin-top-0 margin-bottom-30"><span>If we can</span><br><span>you can</span></h2>
        <p>Thousands of businesses like yours have increased their sales, growth and stability by selling overseas.</p>
        <p>Explore the potential of exporting with guidance, services and support from the Department for International Trade.</p>

        <a class="button button-large margin-top-30" href="#">Get started</a>
      </div>

      <div class="column-two-thirds-xl column-full-l">
        <img id="cta-image" src="{% static 'images/home-triage-world-connections@2x.png' %}" alt="" class="float-right width-full margin-top-90 margin-bottom-60 margin-0-l">
      </div>
    </div>
  </div>
</section>
{% endblock %}
