{% extends 'core/base.html' %}

{% load static from staticfiles %}
{% load include_markdown from article_tags %}
{% load add_export_elements_classes from directory_components_tags %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/article.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_title %}
    {{ article.title }} - great.gov.uk
{% endblock %}

{% block sharing_metadata %}
  <meta name="description" content="" />

  {# Twitter #}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ article.title }}">
  {# twitter falls back to og for other data not included here #}

  {# Facebook share data #}
  <meta property="og:locale" content="en_UK" />
  <meta property="og:site_name" content="great.gov.uk" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:title" content="{{ article.title }}" />
  <meta property="og:type" content="article" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="breadcrumbs body-text">
    <ol>
      <li><a href="{% url 'landing-page' %}">Export</a></li>
      {% if article_group.url %}
        <li><a href="{{ article_group.url }}">{{ article_group.title }}</a></li>
      {% endif %}
      <li aria-current="page">{{ article.title }}</li>
    </ol>
  </div>

    <div class="article-container">
      {% include 'core/widgets/social-share-links.html' %}
      <article id="top">
          <h1 class="heading-xlarge">{{ article.title }}</h1>
          {% include_markdown article.markdown_file_path as content %}
          {{ content|add_export_elements_classes }}
          <footer>
            {% include 'article/useful-feedback.html' %}
          </footer>
      </article>
      {% include 'article/read-count.html' %}
    </div>

    {% if next_article %}
    <div class="link-continuity">
      <p>
        <span class="lead">Next</span>
        <span class="verbose">:&nbsp;</span><a id="next-article-link" href="{{ next_article.url }}?source={{ next_article_group.name }}" class="link">{{ next_article.title }}</a>
      </p>
    </div>
    {% endif %}
    <div class="group">
        <span class="link-back-to">{% if article_group.url %}Back to <a id="category-link" href="{{ article_group.url }}" class="link">{{ article_group.title }}</a>{% else %}&nbsp;{% endif %}</span><a href="#top" class="link-top link">Back to top</a>
  </div>
</div>
{% endblock %}

{% block body_js %}
    <script src="{% static 'js/useful-feedback.js' %}"></script>
    <script>
        var positiveELement = document.getElementById('js-feedback-positive');
        var negativeELement = document.getElementById('js-feedback-negative');
        var containerQuestion = document.getElementById('js-feedback');
        var containerOutcome = document.getElementById('js-feedback-success');
        new GOVUK.components.Feedback(
            positiveELement, negativeELement, containerQuestion, containerOutcome
        );
    </script>
{% endblock %}
