{% extends 'core/base.html' %}

{% load static from staticfiles %}
{% load include_markdown from article_tags %}

{% block css %}
    <link href="{% static 'styles/pages/article.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container">

    <p class="breadcrumbs">
        <span class="label verbose">You are here:</span>
        <a href="/">Export</a>
        <span class="separator">,</span>
        {% if article_group.url %}
            <a href="{{ article_group.url }}">{{ article_group.title }}</a>
            <span class="separator">,</span>
        {% endif %}
        <span class="current">{{ article.title }}</span>
    </p>

    <article id="top">
        <h1>{{ article.title }}</h1>
        {% include 'article/read-count.html' %}
        {% include_markdown article.markdown_file_path %}
        <footer>
            {% include 'article/useful-feedback.html' %}
            {% include 'core/social-share-links.html' %}
        </footer>
    </article>
    {% if next_article %}
        <div class="link-continuity">
          <p>
            <span class="lead">Next</span>
            <span class="verbose">:&nbsp;</span><a id="next-article-link" href="{{ next_article.url }}?source={{ next_article_group.name }}">{{ next_article.title }}</a>
          </p>
        </div>
    {% else %}
      {% if article_group.next_guidance_group %}
      <div class="link-continuity">
        <p>
          <span class="lead">Next</span>
          <span class="verbose">:&nbsp;</span><a id="next-article-link" href="{{ article_group.next_guidance_group.articles.0.url }}?source={{ article_group.next_guidance_group.name }}">{{ article_group.next_guidance_group.articles.0.title }}</a>
        </p>
      </div>
      {% endif %}
    {% endif %}
    <div class="group">
        <span class="link-back-to">{% if article_group.url %}Back to <a id="category-link" href="{{ article_group.url }}" class="link">{{ article_group.title }}</a>{% else %}&nbsp;{% endif %}</span><a href="#top" class="link-top link">Back to top</a>
  </div>
</div>
{% endblock %}

{% block bodyScripts %}
    <script src="{% static 'js/useful-feedback.js' %}"></script>
    <script>
        var positiveELement = document.getElementById('js-feedback-positive');
        var negativeELement = document.getElementById('js-feedback-negative');
        var containerQuestion = document.getElementById('js-feedback');
        var containerOutcome = document.getElementById('js-feedback-success');
        new GOVUK.components.Feedback(
            positiveELement, negativeELement, containerQuestion, containerOutcome
        );
    </script>
{% endblock %}
