{% extends 'article/article_detail_content.html' %}

{% load parse_date from article_tags %}
{% load add_export_elements_classes from directory_components_tags %}

{% block breadcrumbs %}
<div class="container">
  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="{% url 'landing-page' %}">great.gov.uk</a>
      </li>
      <li>
        <a href="{% url 'eu-exit-news-list' %}">EU exit news</a>
      </li>
      <li aria-current="page">{{ page.article_title }}</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block article_tags %}{% endblock %}

{% block article_footer %}
<footer>
  <nav class="grid-row">
    <div class="column-seven-twelfths margin-left-2-cols">
      <span class="font-xsmall">Back to <a href="{% url 'eu-exit-news-list' %}" class="link">EU exit news</a></span>
    </div>
    <div class="column-quarter">
      <a class="float-right font-xsmall link" href="#content">Back to top</a>
    </div>
  </nav>
</footer>
{% endblock %}
