{% extends 'article/list-base-persona.html' %}

{% block hero_title %}
<span>New to</span><br>
<span>exporting</span>
<br>
{% endblock %}

{% block breadcrums_title %}
	New to exporting
{% endblock %}
{% block title %}
	Start your exporting journey
{% endblock %}
{% block subtitle %}
	It takes preparation to export successfully. Make sure you have the right resources and skills in place before you start. 

Follow our guidance for new exporters to get an overview of the exporting process. From market research through to operational logistics, you’ll read about the terms, processes and information you need to be successful at selling overseas.
{% endblock %}
