{% extends 'article/list-base-guidance.html' %}

{% load static from staticfiles %}
{% load static_absolute from directory_components_tags %}

{% block header_class %}market-research{% endblock %}

{% block og_image %}{% static_absolute 'images/hero/export-g-market-research-hero-300.jpg' %}{% endblock %}

{% block head_title %}
    Market research export guidance - great.gov.uk
{% endblock %}

{% block hero_title %}
<span>Market</span><br>
<span>research</span>
<br>
{% endblock %}

{% block breadcrums_title %}
	Market research
{% endblock %}
{% block title %}
	Market research is essential
{% endblock %}
{% block subtitle %}
	Researching a new market will help you plan effectively and maximise your profits.
{% endblock %}
