{% extends 'article/list-base-guidance.html' %}

{% load static from staticfiles %}
{% load static_absolute from directory_components_tags %}

{% block header_class %}customer-insight{% endblock %}

{% block og_image %}{% static_absolute 'images/hero/export-g-customer-insight-hero-300.jpg' %}{% endblock %}

{% block hero_title %}
<span>Customer</span><br>
<span>insight</span>
<br>
{% endblock %}

{% block breadcrums_title %}
	Customer insight
{% endblock %}
{% block title %}
	Get to know your customers
{% endblock %}
{% block subtitle %}
	Customer research starts with knowing who your customers are, what they like and where to find them.
{% endblock %}
