{% extends 'article/list-base-persona.html' %}

{% load static from staticfiles %}

{% block header_class %}occasional{% endblock %}

{% block head_title %}
    Guidance for occasional exporters - great.gov.uk
{% endblock %}

{% block hero_title %}
<span>Occasional</span><br>
<span>exporter</span>
<br>
{% endblock %}

{% block breadcrums_title %}
	Occasional
{% endblock %}
{% block title %}
	Continue your exporting journey
{% endblock %}
{% block subtitle %}
	If you’re already exporting, you’ll know the potential benefits. Becoming more strategic in your activity could lead to sustainable growth and higher returns on your investment.  

Read our guidance for occasional exporters to research and plan how to grow your exporting activities.
{% endblock %}
