{% extends 'article/list-base-persona.html' %}

{% load static from staticfiles %}

{% block header_style %}background-image: url( {% static 'images/persona-hero-occasional-exporter.png' %}){% endblock %}

{% block hero_title %}
<span>Occasional</span><br>
<span>exporter</span>
<br>
{% endblock %}

{% block breadcrums_title %}
	Occasional
{% endblock %}
{% block title %}
	Your export guidance
{% endblock %}
{% block subtitle %}
	Follow step-by-step exporting guidance that has been tailored to your experience level. You can save your progress and return at any time to the same place in your journey.
{% endblock %}
