{% extends 'article/list-base-persona.html' %}

{% load static from staticfiles %}

{% block header_class %}regular{% endblock %}

{% block head_title %}
    Guidance for regular exporters - great.gov.uk
{% endblock %}

{% block hero_title %}
<span>Regular</span><br>
<span>exporter</span>
<br>
{% endblock %}

{% block breadcrums_title %}
	Regular
{% endblock %}
{% block title %}
	Grow your export business
{% endblock %}
{% block subtitle %}
	Step up your activity in a market you’re already established in or break into a new one. There are always ways to expand your exporting activities. 
<br><br>
Markets can change quickly so it pays to be a step ahead. Refresh your approach with our guidance for regular exporters.
{% endblock %}
