{% extends 'article/list-base-persona.html' %}

{% block hero_title %}
<span>New to</span><br>
<span>exporting</span>
<br>
{% endblock %}

{% block breadcrums_title %}
	New to exporting
{% endblock %}
{% block title %}
	Start your exporting journey
{% endblock %}
{% block subtitle %}
	Our guidance for new exporters will help you to learn the important basics of exporting. Each chapter will guide you through the beginning stages of learning how to export. With our guidance, you'll be able to increase your knowledge and feel prepared to start selling to overseas customers.
{% endblock %}
