{% extends 'core/base.html' %}

{% load static from staticfiles %}

{% block css %}
    <link href="{% static 'styles/pages/article-list.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<section style="{% block header_style%}{% endblock %}" class="hero-section">
    <div class="container">
        <div class="hero-teaser">
            <h1 class="title">
                {% block hero_title %}{% endblock %}
            </h1>
        </div>
    </div>
</section>
<div class="container">
    <p class="breadcrumbs"><span class="label verbose">You are here:</span><a href="{% url 'landing-page' %}">Export</a><span class="separator">,</span><span class="current">
        {% block breadcrums_title %}{% endblock %}
    </span></p>
</div>
<section id="articles">
    <div class="container">
        <div class="section-intro">
            <h2 class="header">{% block title %}{% endblock %}</h2>
            <p class="intro">{% block subtitle %}{% endblock %}</p>
        </div>
        {% include 'article/read-count.html' %}
        <div class="section-content-list">
            <ol class="navigation" aria-live="assertive"  id="js-paginate-list">
                {% for article in article_group.articles %}
                    <li>
                        <span class="section">{{ article.parent.title }}<span class="verbose">:</span>&nbsp;</span>
                        <a href="{{ article.url }}?source={{article_group.key}}" class="article{% if article.uuid in article_group_progress.read_article_uuids %} article-read{% endif %}">{{ article.title }}</a>
                    </li>
                {% endfor %}

                <div class="buttons">
                    <a class="button more js-enabled-only" id="js-paginate-list-more">Show more</a>
                </div>
            </ol>
        </div>
    </div>
</section>

{% endblock %}


{% block bodyScripts %}
    <script src="{% static 'js/article-list.js' %}"></script>
    <script>
        var listELement = document.getElementById('js-paginate-list');  
        var loadMoreButton = document.getElementById('js-paginate-list-more');  
        new GOVUK.components.ArticlePaginator(listELement, loadMoreButton);
    </script>
{% endblock %}
