{% extends 'article/list-base-guidance.html' %}

{% load static from staticfiles %}
{% load static_absolute from directory_components_tags %}

{% block header_class %}finance{% endblock %}

{% block og_image %}{% static_absolute 'images/hero/export-g-finance-hero-300.jpg' %}{% endblock %}

{% block head_title %}
    Finance export guidance - great.gov.uk
{% endblock %}

{% block hero_title %}
<span>Finance</span><br>
{% endblock %}

{% block breadcrums_title %}
	Finance
{% endblock %}
{% block title %}
	Get money to grow your business
{% endblock %}
{% block subtitle %}
	Find out the ways you can get money to help you grow your business by exporting.
{% endblock %}
