{% extends 'article/list-base.html' %}

{% load static from staticfiles %}

{% block content %}
<div class="container">
    <nav class="navigation-ribbon">
        <ul class="navigation">
            <li class="market-research">
                <a href="{% url 'article-list-market-research' %}" {% if request.resolver_match.url_name == 'article-list-market-research' %} class="active"{% endif %}>Market research</a>
            </li>
            <li class="customer-insight">
                <a href="{% url 'article-list-customer-insight' %}" {% if request.resolver_match.url_name == 'article-list-customer-insight' %} class="active"{% endif %}>Customer insight</a>
            </li>
            <li class="finance">
                <a href="{% url 'article-list-finance' %}" {% if request.resolver_match.url_name == 'article-list-finance' %} class="active"{% endif %}>Finance</a>
            </li>
            <li class="business-planning">
                <a href="{% url 'article-list-business-planning' %}" {% if request.resolver_match.url_name == 'article-list-business-planning' %} class="active"{% endif %}>Business planning</a>
            </li>
            <li class="getting-paid">
                <a href="{% url 'article-list-getting-paid' %}" {% if request.resolver_match.url_name == 'article-list-getting-paid' %} class="active"{% endif %}>Getting paid</a>
            </li>
            <li class="operations-and-compliance">
                <a href="{% url 'article-list-operations-and-compliance' %}" {% if request.resolver_match.url_name == 'article-list-operations-and-compliance' %} class="active"{% endif %}>Operations and compliance</a>
            </li>
        </ul>
    </nav>
</div>
{{ block.super }}
{% endblock %}
