{% extends 'article/list-base-guidance.html' %}

{% load static from staticfiles %}

{% block header_class %}operations{% endblock %}

{% block hero_title %}
<span>Operations</span><br>
<span>and</span><br>
<span>compliance</span>
<br>
{% endblock %}

{% block breadcrums_title %}
	Operations and compliance
{% endblock %}
{% block title %}
	Manage the logistics
{% endblock %}
{% block subtitle %}
	Manage your export operations including getting your product or service to your customers and protecting your brand.
{% endblock %}
