{% extends 'article/list-base-guidance.html' %}

{% load static from staticfiles %}

{% block header_style %}background-image: url( {% static 'images/vertical-hero-customer-insight.png' %}){% endblock %}

{% block hero_title %}
<span>Customer</span><br>
<span>insight</span>
<br>
{% endblock %}

{% block breadcrums_title %}
	Customer insight
{% endblock %}
{% block title %}
	Get to know your customers
{% endblock %}
{% block subtitle %}
	Customer research starts with knowing who your customers are, what they like and where to find them.
{% endblock %}
