{% extends 'core/base.html' %}

{% load static from staticfiles %}

{% block css %}
    <link href="{% static 'styles/pages/article-list.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<section style="{% block header_style%}{% endblock %}" class="hero-section">
    <div class="container">
        <div class="hero-teaser">
            <h1 class="title">
                {% block hero_title %}{% endblock %}
            </h1>
        </div>
    </div>
</section>
<div class="container">
    <p class="breadcrumbs"><span class="label verbose">You are here:</span><a href="{% url 'landing-page' %}">Export</a><span class="separator">,</span><span class="current">
        {% block breadcrums_title %}{% endblock %}
    </span></p>
</div>
<section id="articles">
    <div class="container">
        <div class="section-intro">
            <h2 class="header">{% block title %}{% endblock %}</h2>
            <p class="intro">{% block subtitle %}{% endblock %}</p>
        </div>
        <div class="section-content-list">
            <ul class="navigation" aria-live="assertive">
                {% for article in article_group.articles %}
                    <li>
                        <span class="section">{{ article.parent.title }}<span class="verbose">:</span>&nbsp;</span>
                        <a href="{{ article.url }}?source={{article_group.key}}" class="article">{{ article.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}
