{% extends 'article/list-base-guidance.html' %}

{% load static from staticfiles %}

{% block header_style %}background-image: url( {% static 'images/vertical-hero-getting-paid.png' %}){% endblock %}

{% block hero_title %}
<span>Getting</span><br>
<span>paid</span>
<br>
{% endblock %}

{% block breadcrums_title %}
	Getting paid
{% endblock %}
{% block title %}
	Get paid on time
{% endblock %}
{% block subtitle %}
	Payment methods and the currency you invoice in can affect when and how much you get paid.
{% endblock %}
