{% extends 'core/base.html' %}

{% load static from staticfiles %}

{% block css %}
    <link href="{% static 'styles/pages/article-list.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<section style="{% block header_style%}{% endblock %}" class="hero-section">
    <div class="container">
        <div class="hero-teaser">
            <h1 class="title">
                {% block hero_title %}{% endblock %}
            </h1>
        </div>
    </div>
</section>
<div class="container">
    <p class="breadcrumbs"><span class="label verbose">You are here:</span><a href="{% url 'landing-page' %}">Export</a><span class="separator">,</span><span class="current">
        {% block breadcrums_title %}{% endblock %}
    </span></p>
</div>
<section id="articles">
    <div class="container">
        <div class="section-intro">
            <h2 class="header">{% block title %}{% endblock %}</h2>
            <p class="intro">{% block subtitle %}{% endblock %}</p>
        </div>
        <div class="section-content-list">
            <ul class="navigation" aria-live="assertive">
                {% for article in articles %}
                    <li>
                        <span class="section">{{ article.parent.title }}<span class="verbose">:</span>&nbsp;</span>
                        <a href="{{ article.url }}" class="article">{{ article.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="buttons"><a href="#" aria-hidden="true" class="button previous">Previous 5 chapters</a><span class="separator verbose">,</span><a href="#" aria-hidden="true" class="button next">Next 5 chapters</a><span class="separator verbose">,</span><a href="#ListPaginationControl_1508499914813_06139424706495396" aria-hidden="true" class="button more" aria-controls="ListPaginationControl_1508499914813_06139424706495396" style="display: none;">Show more</a></div>
        </div>
    </div>
</section>

{% endblock %}
