{% load time_to_read from article_tags %}
<div class="scope-indicator">
    <dl>
        <dt class="section">{{ article_group_title }}</dt>
        <dd class="position">
            <span class="from">{{ article_group_progress.read_count }}</span>
            <span class="of">&nbsp; of </span>
            <span class="to">{{ article_group_progress.total_articles_count }}</span>
            <span class="chapters"></span>
        </dd>
        <dd class="time">
            <span class="value">{{ article_group_progress.time_left_to_read|time_to_read }}</span><span>&nbsp;read time to complete</span>
    </dd>
    </dl>
    {% if not sso_is_logged_in %}
        <p class="register">
            <a href="{{ sso_register_url }}">Register </a> or <a href="{{ sso_login_url }}">sign in</a> to save your progress
        </p>
    {% endif %}
</div>
