%font--nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.font--nowrap {
  @extend %font--nowrap;
}


// GENERAL CONTENT STYLES
//------------------------------


.button {
  @include body-m;
  font-weight: 800;
  padding: 10px $spacing-2;
  text-decoration: none;
}

.navigation {
  margin: 0;
  li {
    padding: 0;
    &::before {
      display: none;
    }
  }
}

.dead {
  cursor: not-allowed;
}
