%font--nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.font--nowrap {
  @extend %font--nowrap;
}


// GENERAL CONTENT STYLES
//------------------------------


.button {
  @include body-m;
  font-weight: 800;
  padding: 10px $spacing-2;
  text-decoration: none;
}

.navigation {
  margin: 0;
  li {
    padding: 0;
    &::before {
      display: none;
    }
  }
}

.dead {
  cursor: not-allowed;
}

ul {
   margin: 0 0 1em 0;
   list-style: none;

   &.list-bullet {
     padding-left: 0;
   }

   li {
     position: relative;
     list-style: none;
     padding: 0 0 0 30px;
   }

   li::before {
     background-color: $stone;
     border-radius: 4px;
     content: "";
     display: inline-block;
     height: 8px;
     left: 0;
     position: absolute;
     top: 0.65em;
     width: 8px;
   }
}
