@import './partials/base';
@import './components/breadcrumbs';

$teal: #00A699;

#success-message-container{
    border: 4px solid $teal;
    padding: 20px 30px;
    h1, h2, h3 {
        padding: 0;
        margin: 0;
        color: $teal;
    }
    p {
        margin-bottom: 0;
    }
}

#next-container {
    background-color: #F5F2EC;
    section {
        padding-top: 60px;
        margin-top: 60px;
        padding-bottom: 60px;
        h3 {
            margin-top: 0;
        }
    }
}

.breadcrumbs {
  background-color: transparent;
  border: 0;
}
