// GENERAL SITE STYLES
// ---------------------

// REQIURES...

// From _colours.scss
// $light-grey
// $mid-grey
// $offwhite
// $white

// From _vars.scss
// $design-max-width
// $spacing-1
// $spacing-2
// $spacing-3
// $spacing-4

// From _typography.scss
// body-m
// heading-m
// body-m-mob
// heading-m-mob


#content {
  max-width: none;
  padding: 0;
}

a:active {
  background-color: $focus-yellow;
}

a:focus {
  outline: $focus-yellow solid 3px;
}

img.placeholder {
  background-color: $light-grey;
  border: $mid-grey solid 1px;
  display: block;
  padding: 16%;
}

section {
  clear: both;
  overflow: hidden;
  padding-bottom: 90px;

  .intro {
    @include columns(6);
    clear: left;
    margin-bottom: $spacing-2;
  }
}

table {
  margin-bottom: 2em;
}

.container {
  max-width: $design-max-width;
  margin: 0 auto;

  @media (max-width: #{$design-max-width + ($spacing-3 * 2)}) {
    margin: 0 $spacing-3;
  }

  @media (max-width: 420px) {
    margin: 0 20px; // Special figure intentionally outside of standard.
  }
}

.group {
  // Use to clear a group of floated elements
  // and have the parent recalculate its height.
  clear: both;
  float: none;
}

.verbose {
  overflow: hidden;
  position: absolute;
  text-indent: -1000px;
  z-index: -1;
}

#content .hidden {
  display: none;
}

.error-reporting {
  padding-top: 0;
  padding-bottom: 0px;
}
// TABLET
@media (max-width: 767px) {
  section {
    .section-header,
    .intro,
    .section-intro {
      width: 100%;
    }
  }
}


// MOBILE
@media (max-width: 420px) {
  body {
    @include body-m-mob;
  }

  section {
    padding-top: $spacing-3;
    .section-header {
      @include heading-m-mob;
    }
  }
}
