// GENERAL SITE STYLES
// ---------------------

// REQIURES...

// From _colours.scss
// $light-grey
// $mid-grey
// $offwhite
// $white

// From _vars.scss
// $design-max-width
// $spacing-1
// $spacing-2
// $spacing-3
// $spacing-4

// From _typography.scss
// body-m
// heading-m
// body-m-mob
// heading-m-mob



@import 'staticfiles/export_elements/stylesheets/govuk-elements-styles';

#content {
  max-width: none;
}

a:active {
  background-color: $focus-yellow;
}

a:focus {
  outline: $focus-yellow solid 3px;
}

img.placeholder {
  background-color: $light-grey;
  border: $mid-grey solid 1px;
  display: block;
  padding: 16%;
}

section {
  clear: both;
  overflow: hidden;

  h1 {
    @extend .heading-xlarge;
    margin-bottom: 45px;
  }

  h2 {
    @extend .heading-medium;
  }

  h3, h4, h5, h6 {
    @extend .heading-small;
  }

  a {
    @extend .link;
  }

  .heading {
    @include columns(6);
    @include heading-m;
    margin-bottom: $spacing-4;
  }

  .intro {
    @include columns(6);
    clear: left;
    margin-bottom: $spacing-2;
  }
}

.container {
  max-width: $design-max-width;
  margin: 0 auto;

  @media (max-width: #{$design-max-width + ($spacing-3 * 2)}) {
    margin: 0 $spacing-3;
  }

  @media (max-width: 420px) {
    margin: 0 20px; // Special figure intentionally outside of standard.
  }
}

.group {
  // Use to clear a group of floated elements
  // and have the parent recalculate its height.
  clear: both;
  float: none;
}

.verbose {
  overflow: hidden;
  position: absolute;
  text-indent: -1000px;
  z-index: -1;
}

#content .hidden {
  display: none;
}

.error-reporting {
  padding-top: 0;
  padding-bottom: 0px;
}
// TABLET
@media (max-width: 767px) {
  section {
    .heading,
    .section-header,
    .intro,
    .section-intro {
      width: 100%;
    }
  }
}


// MOBILE
@media (max-width: 420px) {
  body {
    @include body-m-mob;
  }

  section {
    padding-top: $spacing-3;
    .heading,
    .section-header {
      @include heading-m-mob;
    }
  }
}
