
// UTILITY CLASSES
// ================

.button-large {
  text-align: center;
  width: 300px;
  padding: 15px 0;
}

.width-100 {
  width: 100%;
}

@media (max-width: 960px) {
  .reverse-columns-l {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .reverse-columns-m {
    flex-direction: column-reverse;
  }
}

@media (max-width: 640px) {
  .reverse-columns-s {
    flex-direction: column-reverse;
  }

  .button-large {
    width: 100%;
  }
}
