{% extends "core/base.html" %}

{% load static from staticfiles %}

{% block css %}
    <link href="{% static 'styles/pages/custom-page.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<section style="" class="hero-section regular">
    <div class="container">
        <div class="hero-teaser">
            <h1 class="title">
            {% if persona.key == 'NEW_EXPORTER' %}
                <span>Use your</span><br>
                <span>potential</span><br>
                <span>start</span><br>
                <span>exporting</span><br>
            {% elif persona.key == 'OCCASIONAL_EXPORTER' %}
                <span>New customers</span><br>
                <span>are waiting</span><br>
                <span>promote your</span><br>
                <span>business</span><br>
            {% elif persona.key == 'REGULAR_EXPORTER'%}
                <span>Choose your</span><br>
                <span>next market</span><br>
                <span>Find new</span><br>
                <span>customers</span><br>
            {% endif %}
            </h1>
            <p>Learn about the best markets for your sector, increase your exporting knowledge and start connecting with overseas buyers.</p>
            <a href="{% url 'triage-wizard' %}" class="preferences">Update preferences</a>
            <img src="{% static 'images/eig-logo-stacked.svg' %}">
        </div>
    </div>
</section>

{% if section_configuration.persona_article_group %}
<section id="articles">
    <div class="container">
        <div class="section-intro">
            <h2 class="header">Your export guidance</h2>
            <p class="intro">
                Based on your answers, we've selected information that will help guide you through the different areas of exporting. After reading the information, complete the tasks to get the most out of your exporting journey.
            </p>
        </div>
        <div class="section-content-list">
            <ul class="navigation" aria-live="assertive">
                {% for article in section_configuration.persona_article_group.articles %}
                    <li>
                        <span class="section">{{ article.parent.title }}<span class="verbose">:</span>&nbsp;</span>
                        <a href="{{ article.url }}?source={{article_group.key}}" class="article">{{ article.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endif %}
{% if section_configuration.trade_profile %}
<section class="service-section fas">
    <div class="container">
        <h2 class="heading">
            {% if triage_result.company_name %}
                Connect {{ triage_result.company_name }} directly with international buyers
            {% else %}
                Connect directly with international buyers
            {% endif %}
        </h2>
        <img src="{% static 'images/services/service-fas-section.png' %}" alt="">
        <div class="intro">
            <div class="content">
                <p>Get promoted internationally with a free trade profile.</p>
                <ul>
                    <li>let international buyers get in touch with your company's sales team</li>
                    <li>showcase your company's outstanding projects and experience to give buyers insight into what you do</li>
                    <li>give companies looking to buy from your industry an easy way to find you</li>
                </ul>
                <a href="https://find-a-buyer.export.great.gov.uk" class="button button-cta">Create a trade profile</a>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% if section_configuration.selling_online_overseas_and_export_opportunities %}
<section id="other-services">
    <div class="container">
        <h2 class="header verbose">Other services</h2>
        <div class="group">
            <div class="lg-2 md-1">
                <article data-component="service-teaser" class="service-teaser">
                    <h3 class="title">Find online marketplaces</h3>
                    <p class="text">Reach over 2 billion consumers online around the world. Get exclusive deals negotiated on behalf of UK businesses.</p>
                    <img src="{% static 'images/services/service-soo-teaser.png' %}"><a href="https://selling-online-overseas.export.great.gov.uk/" class="link">Service: Find online marketplaces</a>
                </article>
            </div>
            <div class="lg-2 md-1">
                <article data-component="service-teaser" class="service-teaser">
                    <h3 class="title">Find export opportunities</h3>
                    <p class="text">Find and apply for overseas opportunities from businesses looking for products or services like yours.</p>
                    <img src="{% static 'images/services/service-exopps-teaser.png' %}"><a href="https://opportunities.export.great.gov.uk/" class="link">Service: Find export opportunities</a>
                </article>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if section_configuration.selling_online_overseas %}
<section class="service-section soo">
    <div class="container">
        <h2 class="heading">
            {% if triage_result.company_name %}
                Help {{ triage_result.company_name }} reach over 2 billion consumers around the world
            {% else %}
                Reach over 2 billion consumers around the world
            {% endif %}
        </h2>
        <img src="{% static 'images/services/service-soo-section.png' %}" alt="">
        <div class="intro">
            <div class="content">
                <p>Get promoted internationally with a free trade profile.</p>
                <ul>
                    <li>find online marketplaces to sell your products and compare them by size, fees and support.</li>
                    <li>find out their details and exclusive deals.</li>
                    <li>join an online marketplace and start selling your   products to customers across the world.</li>
                </ul>
                <a href="https://opportunities.export.great.gov.uk/" class="button button-cta">Find marketplaces</a>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if section_configuration.articles_resources %}
    {% include 'core/guidance-resources.html' %}
{% endif %}

{% if section_configuration.case_studies %}
<section id="carousel">
    {% include 'casestudy/carousel.html' %}
</section>
{% endif %}

{% endblock %}
