{% extends "core/base.html" %}

{% load static from staticfiles %}
{% load intword from triage_tags %}
{% load intcomma from humanize %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/custom-page.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block sharing_metadata %}{% endblock %}

{% block head_title %}
    Your export journey - great.gov.uk
{% endblock %}

{% block content %}
<section style="" class="hero-section {% if persona.name == 'NEW_EXPORTER' %}new{% elif persona.name == 'OCCASIONAL_EXPORTER' %}occasional{% elif persona.name == 'REGULAR_EXPORTER'%}regular{% endif %}">
    <div class="container">
        <div class="hero-teaser">
            <h1 class="title heading-xlarge">Your Export Journey</h1>
            <p>We've gathered information, guidance and tools to help your business grow.</p>
            <a href="{% url 'triage-wizard' step='summary' %}?result" class="preferences">Update preferences</a>
        </div>
    </div>
</section>
{% if persona.name == 'REGULAR_EXPORTER'%}
<section>
  <div class="container">
    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-large">Connect with international buyers</h2>
        <p>Increase your exporting knowledge and start connecting with overseas buyers.</p>
        {% if not sso_is_logged_in %}
          <p><a class="link" href="{{ sso_register_url }}">Register</a> or <a class="link" href="{{ sso_login_url }}">sign in</a> to save your progress.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if section_configuration.persona_article_group %}
<section id="articles">
    <div class="container">
        <div class="section-intro">
            <h2 class="heading-large">Your export guidance</h2>
            <p class="intro">
                Read the export guidance we've selected for your experience level. You can come back to this page at any time, but you'll need to <a href="{{ sso_register_url }}" class="link">register</a> if you want to save your progress.</p>
        </div>
        {% include 'article/read-count.html' %}
        <div class="section-content-list">
            <ol class="navigation" aria-live="assertive" id="js-paginate-list">
                {% for article in section_configuration.persona_article_group.articles %}
                    <li>
                        <span class="section">{{ article.parent.title }}<span class="verbose">:</span>&nbsp;</span>
                        <a href="{{ article.url }}?source={{ article_group.name }}" class="link article{% if article.uuid in article_group_progress.viewed_article_uuids %} article-read{% endif %}">{{ article.title }}</a>
                    </li>
                {% endfor %}
                <div class="buttons">
                    <a href="#" class="more js-enabled-only" id="js-paginate-list-more">Show more</a>
                </div>
            </ol>
        </div>
    </div>
</section>
{% endif %}
{% if section_configuration.trade_profile %}
<section class="service-section fas">
    <div class="container">
        <h2 class="heading heading-large">Create a trade profile</h2>
        <div class="intro">
            <div class="content">
                <p>Create a free export profile to:</p>
                <ul class="list list-bullet">
                    <li>get promoted to international buyers</li>
                    <li>showcase your company's projects and experience</li>
                    <li>be contacted directly by buyers interested in your products or services</li>
                </ul>
                <a href="{{ directory_components_urls.fab }}" class="button button-cta">Create an export profile</a>
            </div>
        </div>
        <img src="{% static 'images/service-fas-section.png' %}" alt="">
    </div>
</section>
{% endif %}
{% if section_configuration.selling_online_overseas_and_export_opportunities %}
<section id="other-services">
    <div class="container">
        <h2 class="verbose heading-large">Other services</h2>
        <div class="group">
            <div class="lg-2 md-1">
                <article data-component="service-teaser" class="service-teaser">
                    <h3 class="title">Find online marketplaces</h3>
                    <p class="text">Reach over 2 billion consumers online around the world. Get exclusive deals negotiated on behalf of UK businesses.</p>
                    <img src="{% static 'images/triage-soo-cta@2x.png' %}" alt=""><a href="{{ directory_components_urls.soo }}" class="link">Service: Find online marketplaces</a>
                </article>
            </div>
            <div class="lg-2 md-1">
                <article data-component="service-teaser" class="service-teaser">
                    <h3 class="title">Find export opportunities</h3>
                    <p class="text">Find and apply for overseas opportunities from businesses looking for products or services like yours.</p>
                    <img src="{% static 'images/triage-export-opps-cta@2x.png' %}" alt=""><a href="{% url 'export-opportunities' %}" class="link">Service: Find export opportunities</a>
                </article>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if section_configuration.selling_online_overseas %}
<section class="service-section soo">
    <div class="container">
        <h2 class="heading-large">
            {% if triage_result.company_name %}
                Help {{ triage_result.company_name }} reach billions of international customers online
            {% else %}
                Reach billions of international customers online
            {% endif %}
        </h2>
        <img src="{% static 'images/triage-soo-cta@2x.png' %}" alt="">
        <div class="intro">
            <div class="content">
                <p>Use this service to:</p>
                <ul class="list list-bullet">
                    <li>find international online marketplaces to sell your products</li>
                    <li>compare online marketplaces by size, fees and support</li>
                    <li>get special deals negotiated for you by the government</li>
                </ul>
                <a href="{{ directory_components_urls.soo }}" class="button button-cta">Find marketplaces</a>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if section_configuration.articles_resources %}
    {% include 'core/guidance-resources.html' %}
{% endif %}

{% if section_configuration.case_studies %}
<section id="carousel">
    {% include 'casestudy/carousel.html' %}
</section>
{% endif %}

{% endblock %}


{% block body_js %}
    {% if section_configuration.persona_article_group %}
        <script src="{% static 'js/article-list.js' %}"></script>
        <script>
            var listELement = document.getElementById('js-paginate-list');
            var loadMoreButton = document.getElementById('js-paginate-list-more');
            new GOVUK.components.ArticlePaginator(listELement, loadMoreButton);
        </script>
    {% endif %}
{% endblock %}
