{% extends "core/base.html" %}

{% load static from staticfiles %}
{% load intword from triage_tags %}
{% load intcomma from humanize %}

{% block css %}
    <link href="{% static 'styles/pages/custom-page.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header_class %}
    {% if persona.name == 'NEW_EXPORTER' %}
        new
    {% elif persona.name == 'OCCASIONAL_EXPORTER' %}
        occasional
    {% elif persona.name == 'REGULAR_EXPORTER'%}
        regular
    {% endif %}
{% endblock %}


{% block content %}
<section style="" class="hero-section regular">
    <div class="container">
        <div class="hero-teaser">
            <h1 class="title">
            {% if persona.name == 'NEW_EXPORTER' %}
                <span>Use your</span><br>
                <span>potential -</span><br>
                <span>start</span><br>
                <span>exporting</span><br>
            {% elif persona.name == 'OCCASIONAL_EXPORTER' %}
                <span>New customers</span><br>
                <span>are waiting -</span><br>
                <span>promote your</span><br>
                <span>business</span><br>
            {% elif persona.name == 'REGULAR_EXPORTER'%}
                <span>Choose your</span><br>
                <span>next market -</span><br>
                <span>Find new</span><br>
                <span>customers</span><br>
            {% endif %}
            </h1>
            <p>We've gathered information, guidance and tools to help your business grow.</p>
                <a href="{% url 'triage-wizard' %}?result" class="preferences">Update preferences</a>
            <img src="{% static 'images/eig-logo-stacked.png' %}">
        </div>
    </div>
</section>
{% if top_markets %}
<section class="sector-fact">
    <div class="container">
        <div class="fact">
          <p class="intro"><span id="top_importer_name">{{ top_importer.partner }}</span> is the largest importer in this sector with a value of <span id="top_importer_global_trade_value">${{ top_importer.global_trade_value|intword|intcomma }}</span></p>
          <p class="figure"><strong>${{ top_importer.uk_export_value|intword|intcomma }}</strong><span class="verbose">,&nbsp;</span><span>is the total value of exports in this sector from the UK in 2016</span>
          </p>
        </div>
    </div>
</section>
{% endif %}
{% if top_markets %}
<section class="top-markets background--white">
    <div class="container">
        <div class="intro" id="largest-importers">
            <h2 class="header">
                10 largest importers from the UK
            </h2>
            <p class="commodity-name">{{ sector_name }}</p>
            <p><a href="{% url 'triage-wizard' %}">Select a different product category</a></p>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="intro">
            <p>Start your market research with the data shown below. The export data is taken from the <a href="https://comtrade.un.org/">UN Comtrade Database</a>. The gross domestic product and ease of doing business ranking is taken from the World Bank’s <a href="http://www.doingbusiness.org/rankings">Doing Business project</a>.</p> 
    		<p>For more import and export data use our  <a href="https://comtrade.un.org/labs/dit-trade-vis/?reporter=826&type=C&year=2016&flow=2&commodity">data visualisation tool.</a></p>
    		<p>Read our guidance on  <a href="{% url 'article-research-market' %}">researching your market.</a></p>
        </div>
        <table id="top-of-the-markets">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Export value from the UK</th>
                    <th>Export value from the world</th>
                    <th>Gross domestic product (GDP)</th>
                    <th>Ease of Doing<br>Business rank*</th>
                </tr>
            </thead>
            <tbody>
                {% for market in top_markets %}
                <tr id="row-{{ market.partner }}" {% if not forloop.last %}class="lined"{% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td class="partner">{{ market.partner }}</td>
                    <td>${{ market.trade_value|intword }}</td>
                    <td class="cell-global_trade_value">${{ market.global_trade_value|intword }}</td>
                    <td>${{ market.country.gdp|intword }}</td>
                    <td>{{ market.country.ease_of_doing_business }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="market-source-data">
            <p>The data is for 2016. This page was updated on 30 October 2017.</p>
            <p>All import and export values are the value of exports a country has reported to <a href="https://comtrade.un.org" target="_blank">UN Comtrade, DESA/UNSD</a>.</p>
            <p>*The <a href="http://www.doingbusiness.org/rankings" target="_blank">World Bank’s Doing Business project</a> ranks economies from 1 to 190 on the how easy their regulatory environment makes it to start a business, with 1 being the easiest.</p>
            <p>The UK government takes no responsibility for this data.</p>
        </div>
    </div>
</section>
{% endif %}
{% if section_configuration.persona_article_group %}
<section id="articles">
    <div class="container">
        <div class="section-intro">
            <h2 class="header">Your export guidance</h2>
            <p class="intro">
                Read the export guidance we've selected for your experience level. You can come back to this page at any time, but you'll need to <a href="{{ sso_register_url }} ">register</a> if you want to save your progress.</p>
        </div>
        {% include 'article/read-count.html' %}
        <div class="section-content-list">
            <ol class="navigation" aria-live="assertive" id="js-paginate-list">
                {% for article in section_configuration.persona_article_group.articles %}
                    <li>
                        <span class="section">{{ article.parent.title }}<span class="verbose">:</span>&nbsp;</span>
                        <a href="{{ article.url }}?source={{ article_group.name }}" class="article{% if article.uuid in article_group_progress.read_article_uuids %} article-read{% endif %}">{{ article.title }}</a>
                    </li>
                {% endfor %}
                <div class="buttons">
                    <a class="button more js-enabled-only" id="js-paginate-list-more">Show more</a>
                </div>
            </ol>
        </div>
    </div>
</section>
{% endif %}
{% if section_configuration.trade_profile %}
<section class="service-section fas">
    <div class="container">
        <h2 class="heading">
            {% if triage_result.company_name %}
                Connect {{ triage_result.company_name }} directly with international buyers
            {% else %}
                Connect directly with international buyers
            {% endif %}
        </h2>
        <div class="intro">
            <div class="content">
                <p>Get promoted internationally with a free trade profile.</p>
                <ul>
                    <li>let international buyers get in touch with your company's sales team</li>
                    <li>showcase your company's outstanding projects and experience to give buyers insight into what you do</li>
                    <li>give companies looking to buy from your industry an easy way to find you</li>
                </ul>
                <a href="https://find-a-buyer.export.great.gov.uk" class="button button-cta">Create a trade profile</a>
            </div>
        </div>
        <img src="{% static 'images/service-fas-section.png' %}" alt="">
    </div>
</section>
{% endif %}
{% if section_configuration.selling_online_overseas_and_export_opportunities %}
<section id="other-services">
    <div class="container">
        <h2 class="header verbose">Other services</h2>
        <div class="group">
            <div class="lg-2 md-1">
                <article data-component="service-teaser" class="service-teaser">
                    <h3 class="title">Find online marketplaces</h3>
                    <p class="text">Reach over 2 billion consumers online around the world. Get exclusive deals negotiated on behalf of UK businesses.</p>
                    <img src="{% static 'images/home-soo-cta@2x.png' %}"><a href="https://selling-online-overseas.export.great.gov.uk/" class="link">Service: Find online marketplaces</a>
                </article>
            </div>
            <div class="lg-2 md-1">
                <article data-component="service-teaser" class="service-teaser">
                    <h3 class="title">Find export opportunities</h3>
                    <p class="text">Find and apply for overseas opportunities from businesses looking for products or services like yours.</p>
                    <img src="{% static 'images/home-export-opps-cta@2x.png' %}"><a href="https://opportunities.export.great.gov.uk/" class="link">Service: Find export opportunities</a>
                </article>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if section_configuration.selling_online_overseas %}
<section class="service-section soo">
    <div class="container">
        <h2 class="heading">
            {% if triage_result.company_name %}
                Help {{ triage_result.company_name }} reach over 2 billion consumers around the world
            {% else %}
                Reach over 2 billion consumers around the world
            {% endif %}
        </h2>
        <img src="{% static 'images/home-soo-cta@2x.png' %}" alt="">
        <div class="intro">
            <div class="content">
                <p>Get promoted internationally with a free trade profile.</p>
                <ul>
                    <li>find online marketplaces to sell your products and compare them by size, fees and support.</li>
                    <li>find out their details and exclusive deals.</li>
                    <li>join an online marketplace and start selling your   products to customers across the world.</li>
                </ul>
                <a href="https://selling-online-overseas.export.great.gov.uk/" class="button button-cta">Find marketplaces</a>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if section_configuration.articles_resources %}
    {% include 'core/guidance-resources.html' %}
{% endif %}

{% if section_configuration.case_studies %}
<section id="carousel">
    {% include 'casestudy/carousel.html' %}
</section>
{% endif %}

{% endblock %}


{% block bodyScripts %}
    {% if section_configuration.persona_article_group %}
        <script src="{% static 'js/article-list.js' %}"></script>
        <script>
            var listELement = document.getElementById('js-paginate-list');  
            var loadMoreButton = document.getElementById('js-paginate-list-more');  
            new GOVUK.components.ArticlePaginator(listELement, loadMoreButton);
        </script>
    {% endif %}
{% endblock %}
