{% extends 'triage/wizard-step-base.html' %}

{% load static from staticfiles %}

{% block body_js %}
    <script src="{% static 'js/vendor/accessible-autocomplete.min.js' %}"></script>
    <link href="{% static 'js/vendor/accessible-autocomplete.min.css' %}" rel="stylesheet" type="text/css" />
    <script>
        accessibleAutocomplete.enhanceSelectElement({
          selectElement: document.getElementById('js-sector-select'),
          defaultValue: '',
          autoselect: true,
          displayMenu: 'overlay',
          showAllValues: true
        })
    </script>
{% endblock %}
