{% extends "core/base.html" %}

{% load static from staticfiles %}

{% block sharing_metadata %}{% endblock %}

{% block head_css %}
{{ block.super }}
<link href="{% static 'styles/triage.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<section class="triage {% block container_class %}{% endblock %}">
  <div class="container">
    <div class="question">
      <form method="post" enctype="multipart/form-data">

        {% if wizard.steps.step1 != wizard.steps.count %}
        <legend>Question {{ wizard.steps.step1 }}</legend>
        {% endif %}
        {% csrf_token %}

        {% block extra_contents %}{% endblock %}

        <div class="form-group">
          {{ wizard.management_form }}
          {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
              {{ form }}
            {% endfor %}
          {% else %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
              <ul>
                <li class="{{ field.css_classes }}">
                  {{ field.label_tag }}
                  {% if field.help_text %}
                    <span class="helptext">{{ field.help_text|safe }}</span>
                  {% endif %}
                  <div class="error-message">{{ field.errors }}</div>
                  {{ field }}
                </li>
              </ul>
            {% endfor %}
          {% endif %}

          {% if wizard.steps.step1 != wizard.steps.count %}
            <button type="submit" class="button button-primary">Continue</button>
          {% else %}
            <input class="button next" type="submit" value="{% block submit_button_label %}{% endblock %}"/>
          {% endif %}

          {% block extra_buttons %}{% endblock %}
        </div>

        {% if wizard.steps.prev %}
          <button name="wizard_goto_step" class="link previous-step" type="submit" value="{{ wizard.steps.prev }}">Previous step</button>
        {% endif %}

      </form>
    </div>
  </div>
</section>
{% endblock %}
