{% extends "core/base.html" %}

{% load static from staticfiles %}

{% block sharing_metadata %}{% endblock %}

{% block head_css %}
{{ block.super }}
<link href="{% static 'styles/triage.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<section class="questions {% block container_class %}{% endblock %}">
  <div class="container">
    <div class="question ">
      <form method="post" enctype="multipart/form-data">
        <div class="exred-triage-form">
          {% if wizard.steps.step1 != wizard.steps.count %}
          <legend id="triage-question-label">Question {{ wizard.steps.step1 }}</legend>
          {% endif %}
          {% csrf_token %}
          {% block extra_contents %}{% endblock %}
          <div class="input-field-container">
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
            {{ form }}
            {% endfor %}
            {% else %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
            <div class="form-group {{ field.css_classes }}">
              {{ field.errors }}
              {% if field.label %}
              <label id="triage-question"{% if field.id %} for="{{ field.id }}"{% endif %}>{{ field.label }}</label>
              {% endif %}
              {% if field.help_text %}
              <span class="helptext">{{ field.help_text|safe }}</span>
              {% endif %}
              {{ field }}
            </div>
            {% endfor %}
            {% endif %}
          </div>
          {% if wizard.steps.step1 != wizard.steps.count %}
          <button type="submit" id="triage-continue" class="button">Continue</button>
          {% else %}
          <input class="button next" {% block submit_button_id %}id="triage-continue"{% endblock %} type="submit" value="{% block submit_button_label %}{% endblock %}"/>
          {% endif %}
          {% block extra_buttons %}{% endblock %}
        </div>
        {% if wizard.steps.prev %}
        <button name="wizard_goto_step" class="previous-step" id="triage-previous-step" type="submit" value="{{ wizard.steps.prev }}">Previous step</button>
        {% else %}
        <div class="home-link"><a class="link" id="triage-question-back-to-home" href="/">Back to home</a></div>
        {% endif %}
      </form>
    </div>
  </div>
</section>
{% endblock %}
