{% extends 'triage/wizard-step-base.html' %}

{% block container_class %}resultspage{% endblock %}
{% block extra_contents %}
<div class="question">
	<h2>{{ persona.label }}</h2>
	<div class="answers">
		<h3 class="title">Your answers</h3>
		<dl>
			<dt class="answer">What do you want to export?</dt>
			<dd class="answer">{{ sector_label }}</dd>
			<dt class="answer">Have you exported before?</dt>
			<dd class="answer">{{ all_cleaned_data.exported_before|yesno:"Yes,No" }}</dd>
			{% if all_cleaned_data.regular_exporter is not None %}
				<dt class="answer">Is exporting a regular part of your business activities?</dt>
				<dd class="answer" id="regular_exporter">{{ all_cleaned_data.regular_exporter|yesno:"Yes,No" }}</dd>
			{% endif %}
			{% if all_cleaned_data.used_online_marketplace is not None %}
				<dt class="answer">Do you use online marketplaces to sell your products?</dt>
				<dd class="answer" id="used_online_marketplace">{{ all_cleaned_data.used_online_marketplace|yesno:"Yes,No" }}</dd>
			{% endif %}
            {% if all_cleaned_data.is_in_companies_house is not None %}
				<dt class="answer">Is your company incorporated in the UK?</dt>
				<dd class="answer" id="is_in_companies_house">{{ all_cleaned_data.is_in_companies_house|yesno:"Yes,No" }}</dd>
			{% endif %}
			{% if all_cleaned_data.company_name %}
				<dt class="answer">Company name</dt>
				<dd class="answer">{{ all_cleaned_data.company_name }}</dd>
			{% endif %}
		</dl>
	</div>
</div> 
{% endblock %}

{% block extra_buttons %}
<div id="change-answers-button-container">
	<button name="wizard_goto_step" type="submit" class="previous-step update" value="{{ wizard.steps.first }}">Change your answers</button>
</div>
{% endblock %}

{% block submit_button_label %}{{ is_updating_answers|yesno:'Continue my export journey,Create my export journey' }}{% endblock %}
