{% extends 'triage/wizard-step-base.html' %}

{% block container_class %}resultspage{% endblock %}
{% block extra_contents %}
  <h2 class="heading-large">{{ persona.label }}</h2>
  <div class="answers">
    <h3 class="title heading-medium">Your answers</h3>
    <dl>
      <dt>Have you exported before?</dt>
      <dd>{{ all_cleaned_data.exported_before|yesno:"Yes,No" }}</dd>
      {% if all_cleaned_data.regular_exporter is not None %}
      <dt>Is exporting a regular part of your business activities?</dt>
      <dd id="regular_exporter">{{ all_cleaned_data.regular_exporter|yesno:"Yes,No" }}</dd>
      {% endif %}
      {% if all_cleaned_data.used_online_marketplace is not None %}
      <dt>Do you use online marketplaces to sell your products?</dt>
      <dd id="used_online_marketplace">{{ all_cleaned_data.used_online_marketplace|yesno:"Yes,No" }}</dd>
      {% endif %}
      {% if all_cleaned_data.is_in_companies_house is not None %}
      <dt>Is your company incorporated in the UK?</dt>
      <dd id="is_in_companies_house">{{ all_cleaned_data.is_in_companies_house|yesno:"Yes,No" }}</dd>
      {% endif %}
      {% if all_cleaned_data.is_exporting_goods or all_cleaned_data.is_exporting_services %}
        <dt class="answer">What do you want to export?</dt>
        <dd class="answer" id="goods_or_services">
          {% if all_cleaned_data.is_exporting_goods and all_cleaned_data.is_exporting_services %}Goods and services
          {% elif all_cleaned_data.is_exporting_goods %}Goods
          {% elif all_cleaned_data.is_exporting_services %}Services{% endif %}
        </dd>
      {% endif %}
      {% if all_cleaned_data.company_name %}
      <dt>Company name</dt>
      <dd>{{ all_cleaned_data.company_name }}</dd>
      {% endif %}
    </dl>
  </div>

{% endblock %}

{% block extra_buttons %}
<div id="change-answers-button-container">
  <button name="wizard_goto_step" type="submit" class="link previous-step" value="{{ wizard.steps.first }}">Change your answers</button>
</div>
{% endblock %}

{% block submit_button_label %}{{ is_updating_answers|yesno:'Continue my export journey,Create my export journey' }}{% endblock %}
