{% extends "core/base.html" %}

{% load static from staticfiles %}
{% load render_form from directory_components_tags %}

{% block sharing_metadata %}{% endblock %}

{% block head_css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="grid-row">
                <div class="column-one-half">
                    <form method="post">
                        <div id="success-message-container">
                            <h1 class="heading-medium">EU Exit help</h1>
                            <span class="font-xsmall">If you don't find an anwswer...</span>
                        </div>
                        {% render_form form %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
