{% extends "core/base_international.html" %}

{% load static from staticfiles %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/euexit-form.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  {% block breadcrumbs %}
    {% url 'landing-page-international' as landing_page %}
    {% url 'international-news-article-list' as news_list %}
    {% include 'euexit/breadcrumbs.html' with home_breadcrumbs_url=landing_page news_breadcrumbs_url=news_list %}
  {% endblock %}

  {% block form_content %}
    {% include 'euexit/form-contents.html'%}
  {% endblock %}
{% endblock %}
