{% load progressive_image from image_tags %}

<section id="beis" class="beis-section background-stone-30">
  <div class="container">
    <div class="grid-row">
      <div class="column-full column-two-thirds-m column-half-l intro">
        <h2 id="business-is-great-title" class="heading-large">Get support to start or grow your UK business</h2>
        <p id="business-is-great-description">
          You can get government support and advice to start or grow a business within the UK. Whatever the size of your business, the Department for Business, Energy &amp; Industrial Strategy can help make it a success.
          <p><a id="business-is-great-link" class="link" href="http://www.greatbusiness.gov.uk" target="_blank">Find out more on www.greatbusiness.gov.uk</a></p>
        </p>
      </div>
      <div class="column-half">
        {% progressive_image webp='images/export-hp-beis.webp' img_id='business-is-great-image' src='images/export-hp-beis.jpg' %}
      </div>
    </div>
  </div>
</section>
