{% load add_export_elements_classes from directory_components_tags %}
{% load parse_date from article_tags %}

{% if page.articles %}
<section id="eu-exit-news-section" class="news-section blue-underline">
  <div class="container">
    <div class="grid-row">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 class="heading-large">{{ page.news_title }}</h2>

        {{ page.news_description|add_export_elements_classes }}

        <ul class="content-list">
          {% for article in page.articles %}
          <li class="article">
            <a href="{{ article.full_path }}" class="link heading-medium" id="{{ article.meta.slug }}-link">{{ article.article_title }}</a>
            <p class="subheading">Last updated {{ article.last_published_at|parse_date }}</p>
          </li>
          {% endfor %}
        </ul>
        <a href="{% url 'eu-exit-news-list' %}" class="link" id="see-all-eu-exit-news">See all news</a>
      </div>
    </div>
  </div>
</section>
{% endif %}
