
<section id="services" class="services-section padding-top-30 background-stone-30">
  <div class="container">
    <div class="grid-row margin-bottom-30">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 id="services-section-title" class="heading-large">Export services</h2>
        <p id="services-section-description">Our export services help to connect UK businesses with international buyers.</p>
      </div>
    </div>

    <div class="card-grid">
      <div class="column-third-l column-full-m">
        <div class="card" id="services-section-find-a-buyer">
          <a class="card-link" href="{{ services_urls.fab }}">
            <div class="card-image" id="services-section-find-a-buyer-image" role="image" aria-label="Create a business profile" title="Create a business profile">
              <p class="visually-hidden">Create a business profile</p>
            </div>
            <div class="card-inner">
              <h3 class="heading-large">Create a business profile</h3>
              <p class="description">Create your free business profile and promote your company to overseas buyers.</p>
            </div>
          </a>
        </div>
      </div>

      <div class="column-third-l column-full-m">
        <div class="card" id="services-section-selling-online-overseas">
          <a class="card-link" href="{{ services_urls.soo }}">
            <div class="card-image" id="services-section-selling-online-overseas-image" role="image" aria-label="Find online marketplaces" title="Find online marketplaces">
              <p class="visually-hidden">Find online marketplaces</p>
            </div>
            <div class="card-inner">
              <h3 class="heading-large">Find online marketplaces</h3>
              <p class="description">Reach over 2 billion international consumers online. Get exclusive deals negotiated by the government on behalf of UK businesses.</p>
            </div>
          </a>
        </div>
      </div>

      <div class="column-third-l column-full-m">
        <div class="card" id="services-section-export-opportunities">
          {% url 'export-opportunities' as exopps_url %}
          <a class="card-link" href="{{ exopps_url }}">
            <div class="card-image" id="services-section-export-opportunities-image" role="image" aria-label="Find export opportunities" title="Find export opportunities">
              <p class="visually-hidden">Find export opportunities</p>
            </div>
            <div class="card-inner">
              <h3 class="heading-large">Find export opportunities</h3>
              <p class="description">Search for opportunities and pitch your company to overseas buyers who are looking for products and services like yours.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
