<section id="articles">
    <div class="container">
        <div class="section-intro">
            <h2 class="heading-large">Your export guidance</h2>
            <div class="grid-row">
              <div class="column-half">
                <p>
                  Read the export guidance we've selected for your experience level. You can come back to this page at any time, but you'll need to <a href="{{ sso_register_url }}" class="link">register</a> if you want to save your progress.
                </p>
              </div>
            </div>
        </div>
        <div class="article-list-container">
          <div class="section-content-list">
            <ol class="navigation" aria-live="assertive" id="js-paginate-list">
                {% for article in section_configuration.persona_article_group.articles %}
                    <li>
                        <span class="section">{{ article.parent.title }}<span class="verbose">:</span>&nbsp;</span>
                        <a href="{{ article.url }}?source={{ article_group.name }}" class="link article{% if article.uuid in article_group_progress.viewed_article_uuids %} article-read{% endif %}">{{ article.title }}</a>
                    </li>
                {% endfor %}
                <a href="#" class="show-more link js-enabled-only" id="js-paginate-list-more">Show more</a>
            </ol>
          </div>
          {% include 'article/read-count.html' %}
        </div>
    </div>
</section>
