{% load static %}
<section class="service-section fas {% if persona.name == 'REGULAR_EXPORTER' %}regular{% endif %}">
    <div class="container">
        <div class="intro">
          <h2 class="heading-large">Create a trade profile</h2>
          <p>Create a free trade profile and showcase your products and services to buyers around the world. Your trade profile will:</p>
            <ul class="list list-bullet">
                <li>promote the products or services you sell to overseas buyers</li>
                <li>give overseas buyers from your industry an easy way to find you</li>
                <li>enable them to quickly contact you and find out more</li>
            </ul>
            <a href="{{ directory_components_urls.fab }}" class="button button-ghost-white">Create a trade profile</a>
        </div>
        <img src="{% static 'images/service-fas-section.png' %}" alt="">
    </div>
</section>
