<section id="sector">
  <div class="container">
    <div class="grid-row">
      <div class="column-half">
        <form action="{% url 'custom-page' %}" method="post">
          {% csrf_token %}
          <h2 class="heading-large">Select the goods you'd like to export</h2>
            {% if triage_result.sector and not service_sector %}
            <p>Select a different product category</p>
            {% else %}
            <p>Type the product you want to export to get statistics on the largest importers.</p>
            {% endif %}
            <div class="form-group{% if service_sector %} form-group-error{% endif %}">
              {% if service_sector %}
              <p>No data available, please select a different commodity.</p>
              {% endif %}
                {{ form }}
            </div>
          <input class="button button-blue" type="submit" value="Get top markets" />
        </form>
      </div>
    </div>
  </div>
  {% if triage_result.sector and not service_sector %}
    {% include 'triage/sections/top_markets.html' %}
  {% endif %}
</section>
