{% load static %}
<section class="service-section soo">
    <div class="container">
        <img src="{% static 'images/service-soo-section.png' %}" alt="">
        <div class="intro">
            <div class="content">
              <h2 class="heading-large">Use our selling online overseas service to:</h2>
                <ul class="list list-bullet">
                    <li>find online marketplaces to sell your products and 	compare them by size, fees and support</li>
                    <li>find out their details and exclusive deals</li>
                    <li>join an online marketplace and start selling your 	products to customers across the world</li>
                </ul>
                <a href="{{ directory_components_urls.soo }}" class="button button-cta">Find marketplaces</a>
            </div>
        </div>
    </div>
</section>
