// PAGE: CONTACT
// ------------------------------------------------

@import './partials/base';
@import './components/form-wizard';
@import './components/breadcrumbs';


.breadcrumbs {
  background-color: transparent;
  border-bottom: 0;
}

li {
  list-style: none;
  padding-left: 0;
  &::before {
    background-color: transparent;
  }
}

ul {
  li::before {
    background-color: transparent;
  }
}

#form-step-body-text {
  margin-bottom: 20px;
}

button {
  margin-top: 30px;
}

#content {
  input, textarea {
    width: 100%;
  }
}


.previous-step {
  color: #00549f;
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
  border-width: 0;
  font-size: 18px;
  display: inline-block;
  margin-right: 20px;
}
