// PAGE: CUSTOM
// ------------------------------------------------

@import './partials/base';
@import './components/_hero';
@import './components/_fact';
@import './components/_scope-indicator';
@import './components/_section-content-list';
@import './components/_service';
@import './components/_exporter-story';
@import './components/_resources';
@import './components/_feedback';
@import './components/_carousel';
@import './components/_top_markets';


.hero-section {
  background-position: top center;
  padding-top: 45px;
}

.hero-section.new {
  background-image: url('/static/images/custom-hero-new-to-exporting@2x.png');
}

.hero-section.occasional {
  background-image: url('/static/images/custom-hero-occasional-exporter@2x.png');
}

.hero-section.regular {
  background-image: url('/static/images/custom-hero-regular-exporter@2x.png');
}

.hero-teaser {
  float: left;
  position: static;
  width: 43%;

  .title {
    margin-bottom: $spacing-3;
  }
}


.section-content-list {
  @include columns(6);
  margin-left: $cols-2;
}

.scope-indicator {
  clear: left;
  float: right;
  padding-top: $spacing-3;
  width: $cols-3;
}

.sector-fact,
#other-services,
#resource-guidance {
  background-color: $offwhite;
}

#stories {
  .Carousel {
    width: 100%;
  }
}

.preferences {
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
}
#articles {
  background-color: #fafafa;
}

#top-of-the-markets {
  border-spacing: 0;
  margin-top: 71px;
  width: 100%;
  text-align: center;
  color: #333333;
  th {
    font-size: 15px;
    line-height: 1.47;
  }
  td {
    font-size: 19px;
    line-height: 3.16;
  }
  tr.lined {
    td {
      border-bottom: solid 1px #e6e6e6;
    }
  }
  .partner {
    font-weight: bold;
    text-align: left;
  }
}

#market-source-data {
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: #999999;
  margin-top: 30px;
  margin-bottom: 49px;
}

h2 {
  max-width: 570px;
}

.top-markets .header span {
  display: block;
}

.service-section.fas {
  ul {
    margin-bottom: 45px;
  }
}

.container {
  hr {
    background-color: #e6e6e6;
  }
}

#largest-importers {
  margin-bottom: 75px;
  .commodity-name {
    font-weight: bold;
  }
}



// TABLET
@media (max-width: 840px) {
  .hero-teaser {
    width: 75%;
  }
}

@media (max-width: 767px) {

  .section-content-list {
    float: none;
    width: calc(#{$cols-10} - #{$spacing-3});
  }

  .hero-teaser {
    min-width: 258px;
    width: calc(100% - 75px);
  }

  .scope-indicator {
    clear: left;
    float: none;
    margin: 0;
    width: auto;
  }

  .section-content-list {
    float: none;
    width: calc(#{$cols-10} - #{$spacing-3});
  }

  .service-section.fas {
    .content {
      margin-right: 50px;
    }
  }

  #largest-importers {
    margin-bottom: $spacing-3;
  }
}

// MOBILE
@media (max-width: 540px) {
  .hero-section {
    padding-bottom: 0;
    padding-top: 180px; 

    &.new {
      background-position: 60% 10%;
      background-image: url('/static/images/custom-hero-new-to-exporting-mobile@2x.png');
    }
    
    &.occasional {
      background-position: 60% 10%;
      background-image: url('/static/images/custom-hero-occasional-exporter-mobile@2x.png');
      padding-top: 150px;
    }
    
    &.regular {
      background-position: 60% 10%;
      background-image: url('/static/images/custom-hero-regular-exporter-mobile@2x.png');
      padding-top: 130px;
    }

    &:after {
      margin-top: -350px;
    }
  }

  .service-section.fas {
    .button-cta {
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
  }

  .top-markets {
    table {
      min-width: 540px;
    }
    .container {
      overflow: auto;
    }
  }
}

@media (max-width: 510px) {
  .hero-section.new {
    .title {
      @include heading-hero-mob;
    }
  }
}

@media (max-width: 420px) {
  .hero-teaser {
    .title {
      margin-bottom: $spacing-3;
    }
  }

  .section-content-list {
    width: auto;
  }
}

