// PAGE: CUSTOM
// ------------------------------------------------

@import './partials/base';
@import './components/_hero';
@import './components/_fact';
@import './components/_scope-indicator';
@import './components/_section-content-list';
@import './components/_service';
@import './components/_exporter-story';
@import './components/_resources';
@import './components/_feedback';
@import './components/_carousel';
@import './components/_top_markets';
@import './components/_breadcrumbs';
@import './components/_article-widgets';

#content {
  padding-top: 0;

  .error-reporting {
    padding-top: $spacing-2;
  }
}

.article-list-container {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}

.breadcrumbs {
  @include body-s;
}

.form-group-error {
  p {
    color: $great-red;
    font-weight: 700;
  }
}

.hero-section {
  background-position: top center;

  .container {
    height: 300px;
  }
}

.hero-section.new {
  background-image: url('/static/images/hero/export-cp-new-to-exporting-hero-500.jpg');
  background-position: 60% 50%;
}

.hero-section.occasional {
  background-image: url('/static/images/hero/export-cp-hero-occasional.jpg');
}

.hero-section.regular {
  background-image: url('/static/images/hero/export-cp-regular-hero-500.jpg');
  background-position: 50% 35%;
}

.regular.service-section.fas {
  &:after {
    display: none;
  }
}

.hero-teaser {
  width: 50%;
  max-width: 400px;
  min-width: 335px;
}

.section-content-list {
  @include columns(6);
  margin-left: $cols-2;
}

.scope-indicator {
  float: right;
  margin: 0 $spacing-3 0 $spacing-1;
  padding-top: $spacing-3;
}

#other-services,
#resource-guidance {
  background-color: $offwhite;
}

#other-services {
  padding-top: $spacing-1;

  .card-image {
    height: 300px;
    background-position: center;
  }
}

#sector {
  background-color: $stone-20;
}

#js-sector-select {
  height: $spacing-1;
  width: 100%;
  // use text input carat instead of pointer
  cursor: initial;
  background-color: white;
}

.autocomplete__wrapper {
  margin: $spacing-4 0 $spacing-3;

  .autocomplete__menu {
    width: 100%;
  }

}

#stories {
  .Carousel {
    width: 100%;
  }
}

.preferences {
  @include body-s;
  @extend .link;
  float: right;
  position: relative;
  margin-top: $spacing-3;


  &:before {
    content: '';
    position: absolute;
    background: url(/static/images/icons/preferences.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    left: -26px;
    top: 2px;
    height: 20px;
    width: 20px;
  }
}
#articles {
  background-color: #fafafa;
}

#top-of-the-markets {
  border-spacing: 0;
  margin-top: 71px;
  width: 100%;
  text-align: center;
  color: #333333;
  th {
    font-size: 15px;
    line-height: 1.47;
  }
  td {
    font-size: 19px;
    line-height: 3.16;
  }
  tr.lined {
    td {
      border-bottom: solid 1px #e6e6e6;
    }
  }
  .partner {
    font-weight: bold;
    text-align: left;
  }
}

#market-source-data {
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: #999999;
  margin-top: 30px;
  margin-bottom: 49px;
}

h2 {
  max-width: 570px;
}

.top-markets .header span {
  display: block;
}

#fas {
  margin-bottom: 60px;
  background-color: $great-blue;
  color: $white;

  ul {
    margin-bottom: 45px;
  }
}
.sector-fact {
  padding: 60px 0 45px 0;
}

.container {
  hr {
    background-color: #e6e6e6;
  }
}

#largest-importers {
  margin-bottom: 75px;
  .commodity-name {
    font-weight: bold;
  }
}

// TABLET
@media (max-width: 840px) {
  .hero-section.new {
    background-position: 70% 0;
  }

  .hero-teaser {
    min-width: 400px;
  }
}

@media (max-width: 767px) {
  .article-list-container {
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
  }

  .hero-section.occasional {
    background-position: 54% 0;

    .hero-teaser {
      width: 77%;
    }
  }

  .hero-section.regular {
    background-position: 42% 0;
  }

  .section-content-list {
    float: none;
    width: calc(#{$cols-10} - #{$spacing-3});
  }

  .scope-indicator {
    clear: left;
    float: none;
    margin: 0;
    width: auto;
  }

  .section-content-list {
    float: none;
    width: calc(#{$cols-10} - #{$spacing-3});
  }

  #fas {
    .content {
      margin-right: 50px;
    }
  }

  #largest-importers {
    margin-bottom: $spacing-3;
  }
}

// MOBILE
@media (max-width: 540px) {
  .hero-section {
    .title {
      @include heading-hero-mob;
      margin-bottom: $spacing-4;
    }

    &.new {
      background-image: url('/static/images/hero/export-cp-new-to-exporting-hero-500-mb.jpg');
      background-position: top right;

      .hero-teaser {
        width: calc(100% - #{$spacing-2});
      }
    }

    &.occasional {
      background-image: url('/static/images/hero/export-cp-occasional-500-mb.jpg');

      .hero-teaser {
        min-width: 275px;
        width: calc(100% - #{$spacing-2});
      }
    }

    &.regular {
      background-image: url('/static/images/hero/export-cp-regular-hero-500-mb.jpg');

      .hero-teaser {
        width: calc(100% - #{$spacing-2});
      }
    }
  }

  .hero-teaser {
    min-width: 0;
  }

  #fas {
    .button-cta {
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
  }

  .top-markets {
    table {
      min-width: 540px;
    }
    .container {
      overflow: auto;
    }
  }
}

@media (max-width: 420px) {
  .section-content-list {
    width: auto;
  }
}
