// PAGE: CUSTOM
// ------------------------------------------------

@import './partials/base';
@import './components/_hero';
@import './components/_fact';
@import './components/_scope-indicator';
@import './components/_section-content-list';
@import './components/_service';
@import './components/_exporter-story';
@import './components/_resources';
@import './components/_feedback';
@import './components/_carousel';
@import './components/_top_markets';


.hero-section {
  background-position: top center;

  .container {
    height: 500px;
  }
}

.hero-section.new {
  background-image: url('/static/images/hero/export-cp-new-to-exporting-hero-500.jpg');
}

.hero-section.occasional {
  background-image: url('/static/images/hero/export-cp-hero-occasional.jpg');

  .hero-teaser {
    max-width: none;
    width: 60%;
  }
}

.hero-section.regular {
  background-image: url('/static/images/hero/export-cp-regular-hero-500.jpg');
}

.hero-teaser {
  width: 43%;

  .title {
    margin-bottom: $spacing-3;
  }
}


.section-content-list {
  @include columns(6);
  margin-left: $cols-2;
}

.scope-indicator {
  clear: left;
  float: right;
  padding-top: $spacing-3;
  width: $cols-3;
}

.sector-fact,
#other-services,
#resource-guidance {
  background-color: $offwhite;
}


#stories {
  .Carousel {
    width: 100%;
  }
}

.preferences {
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
}
#articles {
  background-color: #fafafa;
}

#top-of-the-markets {
  border-spacing: 0;
  margin-top: 71px;
  width: 100%;
  text-align: center;
  color: #333333;
  th {
    font-size: 15px;
    line-height: 1.47;
  }
  td {
    font-size: 19px;
    line-height: 3.16;
  }
  tr.lined {
    td {
      border-bottom: solid 1px #e6e6e6;
    }
  }
  .partner {
    font-weight: bold;
    text-align: left;
  }
}

#market-source-data {
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: #999999;
  margin-top: 30px;
  margin-bottom: 49px;
}

h2 {
  max-width: 570px;
}

.top-markets .header span {
  display: block;
}

.service-section.fas {
  ul {
    margin-bottom: 45px;
  }
}
.sector-fact {
  padding: 60px 0 45px 0;
}

.container {
  hr {
    background-color: #e6e6e6;
  }
}

#largest-importers {
  margin-bottom: 75px;
  .commodity-name {
    font-weight: bold;
  }
}

#start-now-container {
  padding: 0 0 45px 0;
  margin-left: 15px;
}

// DESKTOP
@media (max-width: 1200px) {
  .hero-section.new { 
    background-position: 60% 0;
  }
}


// TABLET
@media (max-width: 840px) {
  .hero-section.new {
    background-position: 70% 0;
  }

  .hero-teaser {
    width: 55%;
  }
}

@media (max-width: 767px) {
  .hero-section.occasional {
    background-position: 54% 0;

    .hero-teaser {
      width: 77%;
    }
  }

  .hero-section.regular {
    background-position: 42% 0;
  }

  .hero-teaser {
    min-width: 350px;
  }

  .section-content-list {
    float: none;
    width: calc(#{$cols-10} - #{$spacing-3});
  }

  .scope-indicator {
    clear: left;
    float: none;
    margin: 0;
    width: auto;
  }

  .section-content-list {
    float: none;
    width: calc(#{$cols-10} - #{$spacing-3});
  }

  .service-section.fas {
    .content {
      margin-right: 50px;
    }
  }

  #largest-importers {
    margin-bottom: $spacing-3;
  }
}

// MOBILE
@media (max-width: 540px) {
  .hero-section {
    .title {
      @include heading-hero-mob;
      margin-bottom: $spacing-4;
    }

    &.new {
      background-image: url('/static/images/hero/export-cp-new-to-exporting-hero-500-mb.jpg');
      background-position: top right;

      .hero-teaser {
        width: calc(100% - #{$spacing-2});
      }
    }
    
    &.occasional {
      background-image: url('/static/images/hero/export-cp-occasional-500-mb.jpg');

      .hero-teaser {
        min-width: 275px;
        width: calc(100% - #{$spacing-2});
      }
    }
    
    &.regular {
      background-image: url('/static/images/hero/export-cp-regular-hero-500-mb.jpg');

      .hero-teaser {
        width: calc(100% - #{$spacing-2});
      }
    }
  }

  .hero-teaser {
    min-width: 0;
  }

  .service-section.fas {
    .button-cta {
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
  }

  .top-markets {
    table {
      min-width: 540px;
    }
    .container {
      overflow: auto;
    }
  }
}

@media (max-width: 420px) {
  .section-content-list {
    width: auto;
  }
}

