@import './partials/base';
@import './components/form-wizard';
@import './components/breadcrumbs';

#international-header-menu {
  min-height: 110px;
}

#content {
  background: white;
  h1 {
    margin-bottom: 20px;
  }
  .body-text {
    margin-bottom: 50px;
  }
  .breadcrumbs {
    background-color: transparent;
    border-bottom: 0;
  }
  .form-label,
  .form-hint {
    margin-bottom: 10px;
  }
  button {
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
