@import 'partials/form-submission-success.scss';
@import 'partials/colours';

#international-header-menu {
  min-height: 110px;
}

.message-box {
  margin-bottom: 0;
}

#content {
  background: $white;

  .breadcrumbs {
    border-bottom: 0;
    margin-bottom: 30px;
  }
}
