@import 'partials/colours';

section {
  padding-bottom: 60px;
}

.get-finance-banner {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;

  .breadcrumbs {
    background-color: transparent;
    border: 0;

    a {
      text-decoration: underline;
    }

    a:visited {
      color: white;
    }
  }
}

.get-finance-video {
  background-color: $stone-30;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

@media (max-width: 560px) {
  iframe {
    width: 100%;
  }
}
