@import 'partials/colours';

section {
  padding-bottom: 60px;
}

.get-finance-banner {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;

  &:after {
    background: linear-gradient(to bottom, transparent 50%, rgba(0,0,0,0.7) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .breadcrumbs {
    background-color: transparent;
    border: 0;

    a {
      text-decoration: underline;
    }

    a:visited {
      color: white;
    }
  }
}

.get-finance-video {
  background-color: $stone-30;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

@media (max-width: 560px) {
  iframe {
    width: 100%;
  }
}
