@import 'partials/colours';
@import 'partials/utils';

.get-finance {
  .get-finance-hero {
    background-position: center top;
    position: relative;
    z-index: 0;

    &:after {
      background: linear-gradient(to bottom left, transparent 20%, rgba(0,0,0,0.9) 100%);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      z-index: 1;
    }

    .container {
      position: relative;
      z-index: 2;
    }

    .breadcrumbs {
      a {
        text-decoration: underline;
        color: $white;
      }

      a:visited {
        color: $white;
      }
    }

    .ukef-logo {
      width: 148px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .service-card {
    flex-direction: row;

    .advantages-content {
      padding-left: 30px;
      width: calc(100% - 40px);
    }
  }

  .get-finance-video {
    background-color: $stone-30;

    video {
      width: 100%;
    }
  }

}

@media (max-width: 768px) {
  .evidence-section {
    margin-bottom: 30px;
  }
}

@media (max-width: 640px) {
  .get-finance {
    .contact-section {
      padding-top: 0;
      padding-bottom: 30px;

      & > .container {
        margin: 0;
      }
    }

    .ukef-logo {
      display: none;
    }

    .video-container {
      margin-bottom: 30px;
    }

    .get-finance-hero:after {
      background: linear-gradient(to bottom left, transparent 0%, rgba(0,0,0,0.9) 100%);
    }
  }
}
