// PAGE: HOME
// ------------------------------------------------

@import './partials/base';
@import './components/_hero-campaign';
@import './components/_video';
@import './components/_triage';
@import './components/_service';
@import './components/_export-status-selector';
@import './components/_resources';
@import './components/_exporter-story';
@import './components/_carousel';
@import './components/_teaser';
@import './components/_language-selector-home';
@import './components/_beta';


section {
  padding-bottom: 90px;
}

.beta {
  background-color:  $white;
}

.hero-campaign-section {
  background-image: url('/static/images/hero/export-hp-hero-500.jpg');
}

.intro {
  ul {
    margin-bottom: 45px;
  }
}

#beis {
  background-color: $offwhite;
  margin-bottom: $spacing-2;
  .intro {
    margin-bottom: 0;
  }
}

#content .triage-section {
  padding-top: 60px;
}

#content .triage-section .intro {
  margin-bottom: 0;
}

#content section#resource-guidance {
  // the guidance boxes have margin-bottom of 30px
  padding-bottom: 60px;
}

#personas,
#services {
  background-color: $offwhite;
}

#stories {
  .Carousel {
    width: 100%;
  }
}


// TABLET
@media (min-width: 767px) {
  .service-teaser {
    height: 487.391px
  }
}


// MOBILE
@media (max-width: 540px) {

  section {
    padding-bottom: 45px;
  }

  .hero-campaign-section {
    background-image: url('/static/images/hero/export-hp-hero-mb.jpg');
    background-position: top left;
  }

  #content section#resource-guidance {
    // the guidance boxes have margin-bottom of 15px
    padding-bottom: 30px;
  }

  .intro {
    ul {
      margin-bottom: 30px;
    }
  }

  .triage-section {
    .button {
      width: 100%;
      text-align: center;
      font-weight: bold;
    }
  }
}


@media (max-width: 420px) {
  .hero-campaign-section {
    background-position: 10% 0%;
  }
}
