// PAGE: HOME
// ------------------------------------------------

@import 'partials/base';
@import 'components/hero-campaign';
@import 'components/video';
@import 'components/triage';
@import 'components/service';
@import 'components/export-status-selector';
@import 'components/resources';
@import 'components/exporter-story';
@import 'components/carousel';
@import 'components/teaser';
@import 'components/modal';
@import 'components/language-selector-home';

#header .account-links li:nth-child(2):after {
  display: none;
}

#content {
  padding: 0;
  color: $grey;
}

.phase-banner {
  border-bottom: 0;
}

.hero-campaign-section {
  background-image: url('/static/images/hero/export-hp-hero-500.png');
}
body.webp-enabled .hero-campaign-section {
  background-image: url('/static/images/hero/export-hp-hero-500.webp');
}

.intro {
  p {
    margin-bottom: 60px;
  }
}

#beis {
  margin-bottom: $spacing-2;
  .intro {
    margin-bottom: 0;
  }
}

#content .triage-section .intro {
  margin-bottom: 0;
}

#content section#resource-guidance {
  // the guidance boxes have margin-bottom of 30px
  padding-bottom: 60px;
}

#personas,
#services,
#beis {
  background-color: $stone-20;
}

#stories {
  .Carousel {
    width: 100%;
  }
}

section {
  clear: both;
  overflow: hidden;
}

// MOBILE
@media (max-width: 540px) {

  section {
    padding-bottom: 45px;
  }

  .hero-campaign-section {
    background-image: url('/static/images/hero/export-hp-hero-mb.jpg');
    background-position: top left;
  }

  body.webp-enabled  .hero-campaign-section {
    background-image: url('/static/images/hero/export-hp-hero-mb.webp');
  }

  #content section#resource-guidance {
    // the guidance boxes have margin-bottom of 15px
    padding-bottom: 30px;
  }

  .intro {
    ul {
      margin-bottom: 30px;
    }
  }

  .triage-section {
    .button {
      width: 100%;
      text-align: center;
      font-weight: bold;
    }
  }
}


@media (max-width: 420px) {
  .hero-campaign-section {
    background-position: 10% 0%;
  }
}
