// PAGE: INTERNATIONAL
// ------------------------------------------------

@import './partials/reset';
@import './partials/colours';
@import './partials/vars';
@import './partials/typography';
@import './partials/mixins';
@import './partials/layout';
@import './partials/fonts';

// Global style
@import './partials/general';
@import './partials/content';
@import './partials/elements';
@import './partials/effects';

// Components
@import './components/_language-selector';
@import './components/_teaser';

body {
  margin: 0;
}

li {
  list-style: none;
}

.intro {
  padding-bottom: 30px;
}

// stretch columns and cards so they are aligned in the row
.grid-row, .column-half {
  display: flex;
}

.column-half, .card {
  flex-grow: 1;
}

.phase-banner {
  border-bottom: 0;
}

.LanguageSelectorDialog-Tracker {
  float: right;
}

// Footer
.global-footer {
  background-color: inherit;
  clear: both;
  color: $white;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: right;

  img {
    vertical-align: middle;
  }

  span {
    @include body-s-mob;
    line-height: 1.9em;
  }
}

#content {
  background: linear-gradient(to top, #{$white} #{$cols-8}, #{$offwhite} #{$cols-4});
}

#international-footer {
  @include body-m;
  background-color: $grey;
  color: $light-grey;
  padding-top: $spacing-1;
  position: relative;

  a {
    @include body-s;
    color: $light-grey;
  }

  .sharing-links {
    float: right;
    margin-top: $spacing-4;
    text-align: right;

    a {
      margin-left: $spacing-4;
    }

    span {
      position: absolute;
      z-index: -1;
    }
  }

  .site-links {
    border-top: $white solid 1px;
    clear: both;
    margin-top: $spacing-1;

    a {
      @include body-s-mob;
      display: inline;
    }

    li {
      display: inline;
      margin-right: $spacing-3;
    }

    ul {
      border: none;
      float: left;
      padding: $spacing-4 0;
      width: $cols-8;
    }
  }
}

#international-footer-logo {
  min-width: 250px;
  width: 30%;
}


// Header
#international-header-bar {
  @include body-s;
  background-color: $grey;
  color: $light-grey;
  min-height: 37px;
  overflow: hidden;

  a {
    color: inherit;
    display: inline-block;
    font-weight: bold;
  }

  p {
    margin: 0;
    padding: 7px 0 4px 0;

    &:before {
      display: none;
    }
  }

  .government-links {
    float: left;

    a,
    span {
      vertical-align: top;
    }
  }
}

#international-header-menu {
  background-color: $offwhite;
  color: $grey;
  min-height: 138px;
  position: relative;
}

#international-header-logo {
  margin-bottom: -6px;
  min-width: 250px;
  padding-top: 30px;
  width: 30%;
}

#skip-link {
  background-color: transparent;
  color: $white;
  display: inline-block;
  padding: $spacing-4;

  &:focus {
    background-color: $focus-yellow;
    color: $dark-blue;
    left: 0;
    text-indent: 0;
    top: 0;
    z-index: 1;
  }
}

// TABLET
@media (max-width: 768px) {
  #international-header-bar {
    .partof {
      display: none;
    }
  }

  #international-header-menu {
    min-height: 100px;

    .container {
      margin: 0;
    }

    .great {
      margin-right: $spacing-3;
    }
  }

  #international-header-logo {
    margin-left: $spacing-3;
  }

  .global-footer {
    padding-bottom: $spacing-4;
    padding-top: $spacing-4;

    span {
      display: block;
      float: none;
      padding-top: 5px;
    }
  }

  #international-footer {
    .sharing-links {
      float: none;
      text-align: center;
      width: auto;
    }

    .site-links {
      li {
        margin: 0 5px;
      }

      ul {
        border-color: $mid-grey;
        float: none;
        padding: 20px $spacing-3;
        text-align: center;
        width: auto;
      }
    }
  }

}

// columns breakpoint
@media (max-width: 640px) {
  .grid-row {
    display: block;
  }
}


@media (max-width: 600px) {
  #international-header-bar {
    .profile {
      &:before {
        display: none;
      }
    }
  }
}


// MOBILE
@media (max-width: 580px) {
  .international-links {
    .teaser-site-external {
      float: none;
      margin-left: 0;
      padding-top: 58%;
      width: auto;
    }
  }
}

@media (max-width: 420px) {
  #international-footer {
    .site-links ul {
      padding-left: 0;
      padding-right: 0;
    }
  }

  #international-header-logo {
    margin-bottom: $spacing-4;
    margin-left: $spacing-3-m;
    padding-top: $spacing-4;
  }
}

// bidirectional and custom font support for arabic
:lang(ar) {
  font-family: 'ge-ss', sans-serif;

  #international-footer .site-links ul {
    text-align: left;
  }

  #international-footer .site-links a,
  .card .card-inner h3,
  .card .card-inner p {
    font-family: 'ge-ss', sans-serif;
  }
}
