
// PARTIALS
// from core/sass
@import 'partials/colours';
@import 'partials/vars';
@import 'partials/typography';
@import 'partials/layout';
@import 'partials/mixins';
@import 'partials/utils';

// COMPONENTS
@import 'components/modal';
@import 'components/language-selector-home';
@import 'components/carousel';
@import 'components/video';
@import 'components/utils';

// PAGES
@import 'pages/landing-page';
@import 'pages/article-list';
@import 'pages/tag-list';
@import 'pages/article-detail';
@import 'pages/campaign-page';


#content {
  padding: 0;
  color: $grey;
}
