// PAGE: TRIAGE
// ------------------------------------------------

@import './partials/base';
@import './components/_form-wizard';

input[type='text'],
select {
  margin-top: $spacing-3;
  max-width: 400px;
}

.triage {
  padding: $spacing-1 0;

  .previous-step {
    cursor: pointer;
    text-decoration: underline;
    background-color: transparent;
    border-width: 0;
    padding: 0;
    font-size: 18px;
    display: inline-block;
    &:focus {
      @include focus;
    }
  }

  // question container div
  .question {
    .heading-large {
      margin-top: 0;
    }
    .form-group {
      padding-bottom: $spacing-3;
      border-bottom: 1px solid $light-grey;
    }
    button {
      display: block;
      margin-top: 30px;
    }
    legend {
      font-size: 15px;
      color: $mid-grey;
      margin-bottom: $spacing-4;
    }
  }

}

#change-answers-button-container {
  margin-top: 30px;
}

// like question div but specific to resultspage
#content {
  .exred-triage-form > .question {
    width: 100%;
  }
  .update {
    padding: 0;
    margin-left: 0;
    margin-top: 15px;
  }
}

// DESKTOP
@media (min-width: 768px) {
  #content {
    background: linear-gradient(to right, #{$white} #{$cols-7}, #{$offwhite} #{$cols-5});
  }
  .question {
    @include columns(7);
    padding-right: $spacing-3;
  }
}

@media (max-width: 767px) {
  .triage {
    padding: $spacing-2 0;
  }
  .questions {
    background: none;
  }
  .question {
    @include columns(12);
  }
}
