// PAGE: TRIAGE
// ------------------------------------------------

@import './partials/base';
@import './components/_form-wizard';

input[type='text'],
select {
  margin-top: $spacing-3;
}

input:focus {
  @include focus;
}

#content {
  padding-bottom: 0;
}

// question container div
.question {
  margin-top: 60px;

  select {
    width: 100%;
  }

  ul {
    margin-top: $spacing-4;
  }

  label {
    @extend .form-label;
  }

  legend {
    @include body-s;
    color: $mid-grey;
    margin-bottom: $spacing-4;
  }

  .button {
    display: block;
    margin-top: 30px;
  }

  // question container div
  .question {
    .heading-large {
      margin-top: 0;
    }

    .form-group {
      padding-bottom: $spacing-3;
    }

    legend {
      font-size: 15px;
      color: $mid-grey;
      margin-bottom: $spacing-4;
    }
  }

  .home-link {
    margin: 30px 0;
    display: block;

    a {
      @include body-m;
      @extend .link;
    }
  }

  .previous-step {
    @include body-m;
    @extend .link;
    margin: 30px 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border-width: 0;
    font-size: 18px;

    &:focus {
      @include focus;
    }

    &:active {
      background: $focus-yellow;
    }
  }

}

#start-now-container {
  padding: $spacing-2 0;
  margin-left: $spacing-4;
}

.exred-triage-form {
  padding-bottom: $spacing-3;
  border-bottom: 1px solid $light-grey;
}

// like question div but specific to resultspage
#content {
  padding-top: 0;

  .exred-triage-form > .question {
    width: 100%;
    margin-top: 0;
  }
  .update {
    padding: 0;
    margin-left: 0;
    margin-top: 15px;
  }
}

// DESKTOP
@media (min-width: 768px) {
  #content {
    background: linear-gradient(to right, #{$white} #{$cols-7}, #{$offwhite} #{$cols-5});
  }
  .question {
    @include columns(7);
    padding-right: $spacing-3;
  }
}

@media (max-width: 767px) {
  .triage {
    padding: $spacing-2 0;
  }
  .questions {
    background: none;
  }
  .question {
    @include columns(12);
    margin-top: 0;
  }
}
