@import './partials/base';

#heading-container {
    h2 {
        margin-bottom: 10px;
    }
    margin-bottom: 40px;
}
#form-container {
    button {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
