{% extends 'core/base.html' %}

{% load static from staticfiles %}

{% block head_css %}
    {{ block.super }}
<link href="{% static 'styles/interstitial.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_title %}Market Access - Urgent contact details - great.gov.uk{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">Urgent local help</h1>
        <p>
            You can <a href="https://www.gov.uk/world/embassies">contact the local British embassy</a> if your trade barrier
            is urgent. Their knowledge of local business practices and working hours might mean your barrier is resolved more 
            quickly.
        </p>
        <p>
            You can still continue to send a report to us. We’re best placed to help if your barrier needs response or action 
            from a UK government department.
        </p>
        <br>
        <a href="{% url 'report-ma-barrier' step='about' %}" class="button" role="button">Continue</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}