{% extends 'contact/soo/base.html' %}

{% load static from static %}

{% block extra_contents %}
    <div id="form-step-body-text">
        Your answers to the questions below help us to decide the best way to support your business
    </div>
{% endblock %}

{% block form_class %}{% endblock %}
{% block form_contents_class %}lg-2{% endblock %}
{% block step_title_container %}
  {{ block.super }}
  <div id="benefits-toggle">
    <h3 class="heading-medium">Benefits of applying here</h3>
    <div id="benefits">
      <p>The Department for International Trade facilitates the introduction between you and the marketplace directly.</p>
      <p>
        <p>
          <h4 class="heading-small">Save time</h4>
          <span>Your application will be 'fast tracked' through this channel, providing a direct route to the marketplace.</span>
        </p>
        <p>Your application for this marketplace will be reviewed for suitability and we will respond to you within 5 working days.</p>
      </p>
      <p>
        <h4 class="heading-small">Save money</h4>
        <p>If successfully matched, you may be able to get access to marketplace offers.</p>
      </p>
    </div>
  </div>
  <h3 class="heading-medium">Your business</h3>
{% endblock %}

{% block step_title_heading %}{% endblock %}

{% block body_js %}
    <script src="{% static 'js/company-lookup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dit.components.toggleOther.js' %}"></script>
    <script type="text/javascript">
        var isSoleTrader = document.getElementById('id_organisation-soletrader');
        var companyNumberContainer = document.getElementById('id_organisation-company_number-container');
        companyNumberContainer.style.display = 'none';
        var companyNumber = document.getElementById('id_organisation-company_number');
        var companyName = document.getElementById('id_organisation-company_name');
        var companyNameContainer = document.getElementById('id_organisation-company_name-container');
        var companyPostcodeContainer = document.getElementById('id_organisation-company_postcode-container');
        
        GOVUK.utils.toggleInputOnNotTicked(isSoleTrader, companyNameContainer);
        GOVUK.utils.toggleRadioOtherOnClick(isSoleTrader, companyPostcodeContainer);

        function clearUpValuesOnTypeChange() {
          isSoleTrader.addEventListener('change', function(event) {
            if (event.target.checked) {
              companyNumber.value = '';
            }
          });
        }

        function createCompaniesHouseLookup() {
          $(document.body).on(
            "click.SelectiveLookupCloseAll",
            GOVUK.components.SelectiveLookup.closeAll
          );
          function maybePreventCompanyLookup(event) {
            isSoleTrader.checked && event.stopImmediatePropagation();
          }
          companyName.addEventListener('keydown', maybePreventCompanyLookup);
          companyName.addEventListener('keypress', maybePreventCompanyLookup);
          companyName.addEventListener('keyup', maybePreventCompanyLookup);
          companyName.addEventListener('input', maybePreventCompanyLookup);
          return new GOVUK.components.CompaniesHouseNameLookup(
            $(companyName),
            $(companyNumber)
          );

        }
        createCompaniesHouseLookup();
        clearUpValuesOnTypeChange();
    </script>


{% endblock %}

