{% extends 'core/base.html' %}

{% load static from staticfiles %}

{% block css %}
    <link href="{% static 'styles/default.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <h1>An unexpected error occurred</h1>
        <ul>
            <li>If this problem persists, please <a class="link" href="{% external_url 'feedback_directory' %}">report the problem</a>.</li>
            <li>Return to the <a href="/">home</a> page.</li>
        </ul>
        <hr>
        <p class="page-status">HTTP 500 Error Code - Internal Server Error</p>
    </div>
</section>
{% endblock %}

{% block feedback_reporter %}{% endblock %}
