{% extends 'core/base.html' %}

{% load static from staticfiles %}

{% block head_css %}
{{ block.super }}
<link href="{% static 'styles/default.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_title %}
About - great.gov.uk
{% endblock %}

{% block content %}
<div class="container">
  <section>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">About</h1>
        <p>Great.gov.uk brings together international trade and investment information and services from across government. It is maintained by the <a class="link" href="{{ directory_components_urls.dit }}" title="Department for International Trade - GOV.UK">Department for International Trade (DIT)</a>.</p>
        <p>DIT is the government department responsible for promoting and financing international trade and investment, and championing free trade.</p>
        <h2 class="heading-medium">What's on great.gov.uk</h2>
        <p aria-labels="about-list-1">You can:</p>
        <ul id="about-list-1" class="list list-bullet">
          <li><a class="link" href="{% url 'landing-page' %}">read guidance</a> to help you export your product or service
          </li>
          <li><a class="link" href="{% url 'triage-wizard' step='exported-before' %}">get market statistics and guidance</a> to match your experience</li>
          <li><a class="link" href="{{ directory_components_urls.fab }}">create a profile</a> to showcase your business to overseas buyers</li>
          <li><a class="link" href="{{ directory_components_urls.soo }}">find an online marketplace</a> to sell your products overseas</li>
          <li><a class="link" href="{% url 'export-opportunities' %}">apply for opportunities</a> to sell your product or service overseas</li>
          <li><a class="link" href="{% url 'get-finance' %}">get finance advice and support from UK Export Finance</a></li>
          <li><a class="link" href="https://www.events.trade.gov.uk/">find events and trade missions</a> to attend</li>
        </ul>
        <p aria-labels="about-list-2">Overseas companies can:</p>
        <ul id="about-list-2" class="list list-bullet">
          <li>read <a class="link" href="https://invest.great.gov.uk">guidance on how to invest in the UK</a></li>
          <li><a class="link" href="https://trade.great.gov.uk/">find a UK supplier</a></li>
          <li><a class="link" href="http://www.visitbritain.org/">see Visit Britain for information about visiting the UK</a></li>
          <li><a class="link" href="https://study-uk.britishcouncil.org/">see the British Council website for information about studying in the UK</a></li>
        </ul>
      </div>
    </div>
  </section>
</div>
{% endblock %}
