{% extends 'core/base.html' %}

{% load static from staticfiles %}

{% block css %}
    <link href="{% static 'styles/default.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<main id="content" role="main">
    <section>
        <div class="container">
            <div class="static">
                <h1 class="header">About</h1>
                <p aria-labels="about-list-1">GREAT.gov.uk is the UK government’s single destination for information on trade, investment, tourism and education provided by:</p>
                <ul id="about-list-1">
                    <li><a href="http://www.gov.uk/dit">Department for International Trade</a>
                    </li>
                    <li><a href="http://www.visitbritain.org/">Visit Britain</a>
                    </li>
                    <li><a href="https://study-uk.britishcouncil.org/">British Council</a>
                    </li>
                </ul>
                <p aria-labels="about-list-2">On this website UK companies can:</p>
                <ul id="about-list-2">
                    <li>read guidance for <a href="http://great.gov.uk/export">new, occasional and frequent exporters </a>and read about services from Exporting is GREAT partners
                    </li>
                    <li>sign up to the <a href="http://www.great.gov.uk/export/find-a-buyer">find a buyer</a>service, which will launch fully in early 2017 and will allow you to showcase your products to overseas buyers
                    </li>
                    <li>use the <a href="http://www.great.gov.uk/export/selling-online-overseas">selling online overseas </a>tool to find the best online marketplace to sell your products. You can also take advantage of special deals negotiated by the government for UK businesses
                    </li>
                    <li>apply for overseas <a href="https://opportunities.export.great.gov.uk/">export opportunities </a>for your products or service
                    </li>
                </ul>
                <p aria-labels="">Overseas companies can:</p>
                <ul id="about-list-3">
                    <li>read guidance about how to <a href="http://www.great.gov.uk/invest">invest in the UK</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock %}
