{% extends 'core/base.html' %}

{% load static %}

{% block head_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/international.css' %}">
{% endblock %}

{% block head_js %}
  <script src="{% static 'directory_components/js/third-party.js' %}"></script>
  <script src="{% static 'js/dit.js' %}"></script>
  <script src="{% static 'js/dit.class.modal.js' %}"></script>
  <script src="{% static 'js/dit.components.languageSelector.js' %}"></script>
  <script src="{% static 'js/international.js' %}"></script>
  <script src="{% static 'directory_components/js/dit.components.cookie-notice.js' %}"></script>
{% endblock %}

{% block head_other %}
  {% include 'core/browser-checks.html' %}
{% endblock %}

{% block skip_link %}{% endblock %}

{% block body_header %}
  {% include 'core/includes/international_header.html' %}
{% endblock %}

{% block body_footer %}
  {% include 'core/includes/international_footer.html' %}
{% endblock %}

{% block body_attributes %}id="top"{% endblock %}

{% block cookie_notice %}
  <div dir="ltr">
    {% include 'directory_components/cookie_notice.html' %}
  </div>
{% endblock %}

{% block feedback_reporter %}
    <section class="error-reporting" dir="ltr">
        <div class="container">
            <a id="error-reporting-section-contact-us" href="{{ directory_components_urls.contact_us }}" target="_blank">Is there anything wrong with this page?</a>
        </div>
    </section>
{% endblock %}
