{% extends 'core/base.html' %}

{% load static from staticfiles %}
{% load include_markdown from article_tags %}

{% block css %}
    <link href="{% static 'styles/article.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_title %}
    Get finance - great.gov.uk
{% endblock %}

{% block content %}
<div class="container">

    <p class="breadcrumbs">
        <span class="label verbose">You are here:</span>
        <a href="/">Export</a>
        <span class="separator">,</span>
        {% if article_group.url %}
            <a href="{{ article_group.url }}">{{ article_group.title }}</a>
            <span class="separator">,</span>
        {% endif %}
        <span class="current">Get finance</span>
    </p>

    <article id="top" class="no-gutter">
        <h1>Get finance</h1>
        <p>UK Export Finance can help you get the finance or insurance you need to compete and grow as an exporter.</p>
        <p>Use this service to:
            <ul>
                <li>discover how to make your export business more competitive while managing the payment risks</li>
                <li>access additional working capital, credit insurance or bank guarantees to help you grow</li>
                <li>see how businesses like yours have used UK Export Finance support</li>
            </ul>
        </p>
        <p><a href="https://www.contactus.trade.gov.uk/enquiry/topic#enquiry-reason-Getting%20finance%20help" target="_blank">Complete a short online form to request a consultation. Make sure you tick the 'Get finance' help button.</a></p>
        <p><a href="https://www.gov.uk/government/organisations/uk-export-finance">Learn more about UK Export Finance</a></p>
    </article>

</div>
{% endblock %}

