{% extends 'core/base.html' %}

{% load static from staticfiles %}
{% load include_markdown from article_tags %}

{% block css %}
    <link href="{% static 'styles/article.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_title %}
    Get finance - great.gov.uk
{% endblock %}

{% block content %}
<div class="container">

    <p class="breadcrumbs">
        <span class="label verbose">You are here:</span>
        <a href="/">Export</a>
        <span class="separator">,</span>
        {% if article_group.url %}
            <a href="{{ article_group.url }}">{{ article_group.title }}</a>
            <span class="separator">,</span>
        {% endif %}
        <span class="current">Get finance</span>
    </p>

    <article id="top" class="no-gutter">
        <h1>Get finance</h1>
        <p>You can get finance to export from government through UK Export Finance (UKEF). UKEF is the export credit agency for the UK. It helps UK companies to:
            <ul>
                <li>win export contracts by providing attractive financing terms to their buyers</li>
                <li>fulfil contracts by supporting working capital loans</li>
                <li>get paid by insuring against buyer default</li>
            </ul>
        </p>
        <p><a href="https://www.contactus.trade.gov.uk/" target="_blank">Complete a short enquiry form</a> to get free, impartial guidance from an export finance manager. Select ‘Get finance’ from the enquiry options. You’ll be asked about your exporting experience, where you work and how you want to be contacted.</p>
        <p><a href="https://www.gov.uk/government/organisations/uk-export-finance/about">Find out more about UK Export Finance</a>.</p>
    </article>

</div>
{% endblock %}

