{% load static from staticfiles %}

<section id="resource-guidance">
    <div class="container">
        <h2 id="guidance-section-title" class="heading-large">Guidance</h2>
        <p id="guidance-section-description" class="intro">Find information on the areas of exporting you’re dealing with as and when you need it.</p>
        <div class="group">
            <div class="lg-3 md-2 sm-1">
                <div id="guidance-section-market-research" data-component="resource-teaser" class="resources resources-teaser market-research">
                    <a id="guidance-market-research-link" href="{% url 'article-list-market-research' %}" class="more"><span>Articles:</span>Market research</a>
                    <img id="guidance-section-market-research-icon" src="{% static 'images/sections/market-research-blue.svg' %}" alt="" class="icon">
                    <p class="count">
                        {% if article_group_read_progress %}
                            <span id="guidance-section-market-research-read-counter">{{ article_group_read_progress.market_research.read }}</span>/<span id="guidance-section-market-research-total-number-of-articles">{{ article_group_read_progress.market_research.total }}</span> completed
                        {% endif %}
                    </p>
                    <p id="guidance-section-market-research-description" class="resource-description">Research is an essential first step to selling in a new market. Making decisions based on market data will help you maximise profits and avoid costly mistakes.</p>
                </div>
            </div>
            <div class="lg-3 md-2 sm-1">
                <div id="guidance-section-customer-insight" data-component="resource-teaser" class="resources resources-teaser customer-insight">
                    <a id="guidance-section-customer-insight-link" href="{% url 'article-list-customer-insight' %}" class="more"><span>Articles:</span>Customer insight</a>
                    <img id="guidance-section-customer-insight-icon" src="{% static 'images/sections/customer-insight-blue.svg' %}" alt="" class="icon">
                    <p class="count">
                        {% if article_group_read_progress %}
                            <span id="guidance-section-customer-insight-read-counter">{{ article_group_read_progress.customer_insights.read }}</span>/<span id="guidance-section-customer-insight-total-number-of-articles">{{ article_group_read_progress.customer_insights.total }}</span> completed
                        {% endif %}
                    </p>
                    <p  id="guidance-section-customer-insight-description" class="resource-description">Find out about potential customers to target them effectively. Once you have overseas customers, nurture the customer relationship with regular face-to-face meetings.</p>
                </div>
            </div>
            <div class="lg-3 md-2 sm-1">
                <div id="guidance-section-finance" data-component="resource-teaser" class="resources resources-teaser finance">
                    <a id="guidance-section-finance-link" href="{% url 'article-list-finance' %}" class="more"><span>Articles:</span>Finance</a>
                    <img id="guidance-section-finance-icon" src="{% static 'images/sections/finance-blue.svg' %}" alt="" class="icon">
                    <p class="count">
                        {% if article_group_read_progress %}
                            <span id="guidance-section-finance-article-read-counter">{{ article_group_read_progress.finance.read }}</span><span id="guidance-section-finance-total-number-of-articles">/{{ article_group_read_progress.finance.total }}</span> completed
                        {% endif %}
                    </p>
                    <p id="guidance-section-finance-description" class="resource-description">Finding the right financial products for your business can give you a competitive edge in overseas markets and bridge the gap between invoicing and payment.</p>
                </div>
            </div>
            <div class="lg-3 md-2 sm-1">
                <div id="guidance-section-business-planning" data-component="resource-teaser" class="resources resources-teaser business-planning">
                    <a id="guidance-section-business-planning-link" href="{% url 'article-list-business-planning' %}" class="more"><span>Articles:</span>Business planning</a>
                    <img id="guidance-section-business-planning-icon" src="{% static 'images/sections/business-planning-blue.svg' %}" alt="" class="icon">
                    <p class="count">
                        {% if article_group_read_progress %}
                            <span id="guidance-section-business-planning-article-read-counter">{{ article_group_read_progress.business_planning.read }}</span><span id="guidance-section-business-planning-total-number-of-articles">/{{ article_group_read_progress.business_planning.total }}</span> completed
                        {% endif %}
                    </p>
                    <p id="guidance-section-business-planning-description" class="resource-description">Having a well thought out export plan will make it easier to get financial support and make informed decisions on which markets to enter and which routes to take.</p>
                </div>
            </div>
            <div class="lg-3 md-2 sm-1">
                <div id="guidance-section-getting-paid" data-component="resource-teaser" class="resources resources-teaser getting-paid">
                    <a id="guidance-section-getting-paid-link" href="{% url 'article-list-getting-paid' %}" class="more"><span>Articles:</span>Getting paid </a>
                    <img id="guidance-section-getting-paid-icon" src="{% static 'images/sections/getting-paid-blue.svg' %}" alt="" class="icon">
                    <p class="count">
                        {% if article_group_read_progress %}
                            <span id="guidance-section-getting-paid-article-read-counter">{{ article_group_read_progress.getting_paid.read }}</span><span id="guidance-section-getting-paid-total-number-of-articles">/{{ article_group_read_progress.getting_paid.total }}</span> completed
                        {% endif %}
                    </p>
                    <p id="guidance-section-getting-paid-description" class="resource-description">Think about what currency to invoice in, what to include on a commercial invoice and if you need to insure against non-payment.</p>
                </div>
            </div>
            <div class="lg-3 md-2 sm-1">
                <div id="guidance-section-operations-and-compliance" data-component="resource-teaser" class="resources resources-teaser operations-and-compliance">
                    <a id="guidance-section-operations-and-compliance-link" href="{% url 'article-list-operations-and-compliance' %}" class="more"><span>Articles:</span>Operations and compliance</a>
                    <img id="guidance-section-operations-and-compliance-icon" src="{% static 'images/sections/operations-and-compliance-blue.svg' %}" alt="" class="icon">
                    <p class="count">
                        {% if article_group_read_progress %}
                            <span id="guidance-section-operations-and-compliance-article-read-counter">{{ article_group_read_progress.operations_and_compliance.read }}</span><span id="guidance-section-operations-and-compliance-total-number-of-articles">/{{ article_group_read_progress.operations_and_compliance.total }}</span> completed
                        {% endif %}
                    </p>
                    <p id="guidance-section-operations-and-compliance-description" class="resource-description">How you market your website, deliver your products and protect your brand all need consideration when your customers are overseas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
