{% load static from staticfiles %}

<section id="resource-guidance">
    <div class="container">
        <h2 class="section-header">Guidance</h2>
        <p class="intro">Find information on the areas of exporting you’re dealing with as and when you need it.</p>
        <div class="group">
            <div class="lg-3 md-2 sm-1">
                <div data-component="resource-teaser" class="resources resources-teaser market-research">
                    <a href="{% url 'article-list-market-research' %}" class="more"><span>Articles:</span>Market research</a>
                    <img src="{% static 'images/sections/market-research-blue.svg' %}" alt="" class="icon">
                    <p class="count">
                        {% if article_group_read_progress %}
                            {{ article_group_read_progress.market_research.read }}/{{ article_group_read_progress.market_research.total }} completed
                        {% endif %}
                    </p>
                    <p class="resource-description">Research is an essential first step to selling in a new market. Making decisions based on market data will help you maximise profits and avoid costly mistakes.</p>
                </div>
            </div>
            <div class="lg-3 md-2 sm-1">
                <div data-component="resource-teaser" class="resources resources-teaser customer-insight">
                    <a href="{% url 'article-list-customer-insight' %}" class="more"><span>Articles:</span>Customer insight</a>
                    <img src="{% static 'images/sections/customer-insight-blue.svg' %}" alt="" class="icon">
                    <p class="count">
                        {% if article_group_read_progress %}
                            {{ article_group_read_progress.customer_insights.read }}/{{ article_group_read_progress.customer_insights.total }} completed
                        {% endif %}
                    </p>
                    <p class="resource-description">Find out about potential customers to target them effectively. Once you have overseas customers, nurture the customer relationship with regular face-to-face meetings.</p>
                </div>
            </div>
            <div class="lg-3 md-2 sm-1">
                <div data-component="resource-teaser" class="resources resources-teaser finance">
                    <a href="{% url 'article-list-finance' %}" class="more"><span>Articles:</span>Finance</a>
                    <img src="{% static 'images/sections/finance-blue.svg' %}" alt="" class="icon">
                    <p class="count">
                        {% if article_group_read_progress %}
                            {{ article_group_read_progress.finance.read }}/{{ article_group_read_progress.finance.total }} completed
                        {% endif %}
                    </p>
                    <p class="resource-description">Finding the right financial products for your business can give you a competitive edge in overseas markets and bridge the gap between invoicing and payment.</p>
                </div>
            </div>
            <div class="lg-3 md-2 sm-1">
                <div data-component="resource-teaser" class="resources resources-teaser business-planning">
                    <a href="{% url 'article-list-business-planning' %}" class="more"><span>Articles:</span>Business planning</a>
                    <img src="{% static 'images/sections/business-planning-blue.svg' %}" alt="" class="icon">
                    <p class="count">
                        {% if article_group_read_progress %}
                            {{ article_group_read_progress.business_planning.read }}/{{ article_group_read_progress.business_planning.total }} completed
                        {% endif %}
                    </p>
                    <p class="resource-description">Having a well thought out export plan will make it easier to get financial support and make informed decisions on your which markets to enter and which routes to take.</p>
                </div>
            </div>
            <div class="lg-3 md-2 sm-1">
                <div data-component="resource-teaser" class="resources resources-teaser getting-paid">
                    <a href="{% url 'article-list-getting-paid' %}" class="more"><span>article-list-finances:</span>Getting paid </a>
                    <img src="{% static 'images/sections/getting-paid-blue.svg' %}" alt="" class="icon">
                    <p class="count">
                        {% if article_group_read_progress %}
                            {{ article_group_read_progress.getting_paid.read }}/{{ article_group_read_progress.getting_paid.total }} completed
                        {% endif %}
                    </p>
                    <p class="resource-description">Think about what currency to invoice in, what to include on a commercial invoice, whether to offer open account and if you need to insure against non-payment.</p>
                </div>
            </div>
            <div class="lg-3 md-2 sm-1">
                <div data-component="resource-teaser" class="resources resources-teaser operations-and-compliance">
                    <a href="{% url 'article-list-operations-and-compliance' %}" class="more"><span>Articles:</span>Operations and compliance</a>
                    <img src="{% static 'images/sections/operations-and-compliance-blue.svg' %}" alt="" class="icon">
                    <p class="count">
                        {% if article_group_read_progress %}
                            {{ article_group_read_progress.operations_and_compliance.read }}/{{ article_group_read_progress.operations_and_compliance.total }} completed
                        {% endif %}
                    </p>
                    <p class="resource-description">How you market your website, deliver your products and protect your brand will need more consideration when your customers are overseas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
