{% extends 'core/base.html' %}

{% load static from staticfiles %}

{% block head_css %}
    {{ block.super }}
<link href="{% static 'styles/interstitial.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_title %}Make sure you're export ready - great.gov.uk
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Export opportunities</h1>
        <p>To secure an overseas business deal you need to show that you can meet the demand.</p>
        <p>Read our selected guidance before applying for an opportunity to make sure you’re export ready:</p>
        <ul class="list list-bullet">
          <li><a href="{% url 'article-research-market' %}" class="link">Research your market</a></li>
          <li><a href="{% url 'make-an-export-plan' %}" class="link">Make an export plan</a></li>
          <li><a href="{% url 'plan-the-logistics' %}" class="link">Plan the logistics</a></li>
          <li><a href="{% url 'understand-your-customers-culture' %}" class="link">Understand your customer’s culture</a></li>
        </ul>
        <br>
        <a class="button button-primary" href="{{ exopps_url }}">Find export opportunities</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
