{% extends 'core/base.html' %}

{% load static from staticfiles %}

{% block js %}
  <script src="{% static 'js/language-selector.js' %}"></script>
{% endblock %}

{% block css %}
    <link href="{% static 'styles/home.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header_area %}
    {% include 'directory_header_footer/header_static.html' %}
{% endblock %}

{% block footer_area %}
    {% include 'directory_header_footer/footer_static.html' %}
{% endblock %}

{% block content %}
  <section role="dialog" data-component="language-selector-dialog" data-lang="en" data-label="UK" data-name="English" class="language-selector-dialog">
    <p id="great-languages-selector">Go to our international site</p>
    <p>The UK supports international trade and investment, and welcomes travellers and students from across the world.</p>
    <div data-node="languages" class="languages">
      <ul aria-labelledby="great-languages-selector" class="navigation">
        <li><a href="http://export.great.gov.uk/international?lang=en">English (International)</a></li>
        <li><a href="http://export.great.gov.uk/international?lang=zh">中国</a></li>
        <li><a href="http://export.great.gov.uk/international?lang=de">Deutsch</a></li>
        <li><a href="http://export.great.gov.uk/international?lang=ja">日本語</a></li>
        <li><a href="http://export.great.gov.uk/international?lang=es">Español</a></li>
        <li><a href="http://export.great.gov.uk/international?lang=pt">Português</a></li>
        <li><a href="http://export.great.gov.uk/international?lang=ar">عربى</a></li>
      </ul>
    </div>
  </section>
    <section class="hero-campaign-section">
        <div class="container">
            <div class="hero-campaign-teaser">
                <h1 class="title"><span>If we can,</span><br><span>you can</span></h1>
                <p>Thousands of businesses like yours have increased their sales, growth and stability by selling overseas. Explore the potential of exporting with guidance, services and support from the Department for International Trade.</p>
                <img src="{% static 'images/eig-logo-stacked.png' %}" alt="">
            </div>
        </div>
    </section>
    <section class="triage triage-section">
        <div class="container">
            <h2 class="heading">Create your export journey</h2>
            <img src="{% static 'images/home-triage-world-connections@2x.png' %}" alt="">
            <div class="intro">
                <div class="content">
                    <p>Answer a few quick questions about what you want to export and your level of experience to get:</p>
                    <ul>
                        <li>guidance aimed at your exporting experience level</li>
                        <li>export statistics to start your market research</li>
                        <li>access to services to help you export</li>
                    </ul>
                    {# visibility changed by javascript #}
                    <a id="begin-export-journey" href="{% url 'triage-wizard' step='sector' %}" class="button button-cta">Get started</a>
                    <a id="continue-export-journey" href="{% url 'custom-page' %}" class="button button-cta" style="display: none;">Continue your export journey</a>
                </div>
            </div>
        </div>
    </section>
    <section id="personas">
        <div class="container">
            <h2 class="header">Export readiness</h2>
            <p class="intro">It can be hard to know where to start if you’re new to exporting. And even if you export regularly, there’s always more to know. Get exporting guidance for your experience level.</p>
            <div class="group">
                <div class="lg-3 md-1">
                    <div class="export-status-selector"><img src="{% static 'images/home-new-to-exporting-cta@2x.png' %}" alt=""><a href="{% url 'article-list-persona-new' %}" class="link">I'm new to exporting</a></div>
                </div>
                <div class="lg-3 md-1">
                    <div class="export-status-selector"><img src="{% static 'images/home-occasional-exporter-cta@2x.png' %}" alt=""><a href="{% url 'article-list-persona-occasional' %}" class="link">I export occasionally</a></div>
                </div>
                <div class="lg-3 md-1">
                    <div class="export-status-selector"><img src="{% static 'images/home-regular-exporter-cta@2x.png' %}" alt=""><a href="{% url 'article-list-persona-regular' %}" class="link"><span class="status">I’m a regular exporter</a></div>
                </div>
            </div>
        </div>
    </section>
    {% include 'core/guidance-resources.html' %}
    <section id="services">
        <div class="container">
            <h2 class="header">Export services</h2>
            <p class="intro">Our export services help to connect UK businesses with international buyers.</p>
            <div class="group">
                <div class="lg-3 md-1">
                    <article data-component="service-teaser" class="service-teaser">
                        <h3 class="title">Create an export profile</h3>
                        <p class="text">Create your free trade profile and get promoted to businesses around the world.</p>
                        <img src="{% static 'images/home-fab-cta@2x.png' %}" alt=""><a href="{{ header_footer_urls.services_fab }}" class="link">Service: Find a buyer</a>

                    </article>
                </div>
                <div class="lg-3 md-1">
                    <article data-component="service-teaser" class="service-teaser">
                        <h3 class="title">Find online marketplaces</h3>
                        <p class="text">Reach over 2 billion international consumers online. Get exclusive deals negotiated by government on behalf of UK businesses.</p>
                        <img src="{% static 'images/home-soo-cta@2x.png' %}" alt=""><a href="{{ header_footer_urls.services_soo }}" class="link">Service: Find online marketplaces</a>
                    </article>
                </div>
                <div class="lg-3 md-1">
                    <article data-component="service-teaser" class="service-teaser">
                        <h3 class="title">Find export opportunities</h3>
                        <p class="text">Find and apply for overseas opportunities from businesses looking for products or services like yours.</p>
                        <img src="{% static 'images/home-export-opps-cta@2x.png' %}" alt=""><a href="{% url 'export-opportunities' %}" class="link">Service: Find export opportunities</a>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section id="carousel">
        <div class="container">
            {% include 'casestudy/carousel.html' %}
        </div>
    </section>

    <section id="beis" class="teaser-section">
        <div class="container">
            <h2 class="heading">Get support to start or grow your UK business</h2>
            <img src="{% static 'images/teaser-great-business.jpg' %}" alt=""/>
            <p class="intro">
                <span class="text">You can get government support and advice to start or grow a business within the UK. Whatever the size of your business, the Department for Business, Energy &amp; Industrial Strategy can help make it a success.</span>
                <a href="http://www.greatbusiness.gov.uk" target="_blank">Find out more on www.greatbusiness.gov.uk</a>
            </p>
        </div>
    </section>
{% endblock %}

{% block bodyScripts %}
   {# performing this operation on the browser instead of the server to allow caching the view's response and performance gains. #}
    <script type="text/javascript">
      var hasCompletedTriage = document.cookie.indexOf('{{ TRIAGE_COMPLETED_COOKIE_NAME }}=true') > -1;
      var continueJourneyStyle = hasCompletedTriage ? 'inline-block' : 'none';
      var beginJourneyStyle = hasCompletedTriage ? 'none' : 'inline-block';
      document.getElementById('continue-export-journey').style.display = continueJourneyStyle;
      document.getElementById('begin-export-journey').style.display = beginJourneyStyle;
    </script>
{% endblock bodyScripts %}
