{% extends 'core/base_international.html' %}
{% load static from staticfiles %}
{% load trans from i18n %}

{% block content %}

{% if news_section_on %}
  <div class="container" dir="ltr">
    {% include 'core/includes/eu-exit-banner.html' %}
  </div>
{% endif %}

<section class="intro">
  <div class="container">
      <h1 class="heading-xlarge">{% trans "Welcome to the UK" %}</h1>
      <div class="grid-row">
        <div class="column-two-thirds">
          <p>{% trans "Home to cutting edge innovators, a place that nurtures talent and creates exceptional products and services. Your future belongs here." %}</p>
        </div>
      </div>
  </div>
</section>


<section>
  <div class="container">

    <div class="card-grid">

      <div class="column-half">
        <div class="card">
          <div class="card-image" role="image" style="background-image: url({% static 'images/international/great-hp-fas.png' %})" aria-label="{% trans 'Buy from the UK' %}" title="{% trans 'Buy from the UK' %}">
            <p class="visually-hidden">{% trans 'Buy from the UK' %}</p>
          </div>
          <div class="card-inner">
            <h3>{% trans "Buy from the UK" %}</h3>
            <p>{% trans "Get exclusive early access to profiles of high quality UK businesses ready to fulfill your demand." %}</p>
            <a href="{{ directory_components_urls.fas }}?lang={{ LANGUAGE_CODE }}" rel="noopener noreferrer" target="_blank" class="button button-ghost-blue">{% trans "Find a Supplier" %}</a>
          </div>
        </div>
      </div>

      <div class="column-half">
        <div class="card">
          <div class="card-image" role="image" style="background-image: url({% static 'images/international/great-hp-invest.png' %})" aria-label="{% trans 'Invest in the UK' %}" title="{% trans 'Invest in the UK' %}">
            <p class="visually-hidden">{% trans 'Invest in the UK' %}</p>
          </div>
          <div class="card-inner">
            <h3>{% trans "Invest in the UK" %}</h3>
            <p>{% trans "Discover the UK’s wealth of investment opportunities and how the UK government will support your global ambition." %}</p>
            <a href="{% trans "https://invest.great.gov.uk/" %}" rel="noopener noreferrer" target="_blank" class="button button-ghost-blue">{% trans "See the potential" %}</a>
          </div>
        </div>
      </div>

      <div class="column-half">
        <div class="card">
          <div class="card-image" role="image" style="background-image: url({% static 'images/international/great-hp-study.png' %})" aria-label="{% trans 'Study in the UK' %}" title="{% trans 'Study in the UK' %}">
            <p class="visually-hidden">{% trans 'Study in the UK' %}</p>
          </div>
          <div class="card-inner">
            <h3>{% trans 'Study in the UK' %}</h3>
            <p>{% trans "Get a headstart from an exceptional British education that will inspire you to achieve." %}</p>
            <a href="https://study-uk.britishcouncil.org/" rel="noopener noreferrer" target="_blank" class="button button-ghost-blue">{% trans "Learn more" %}</a>
          </div>
        </div>
      </div>

      <div class="column-half">
        <div class="card">
          <div class="card-image" role="image" style="background-image: url({% static 'images/international/great-hp-visit.png' %})" aria-label="{% trans 'Visit the UK' %}" title="{% trans 'Visit the UK' %}">
            <p class="visually-hidden">{% trans 'Visit the UK' %}</p>
          </div>
          <div class="card-inner">
            <h3>{% trans 'Visit the UK' %}</h3>
            <p>{% trans "Take a journey through vibrant cities, breathtaking scenery, unrivalled heritage and iconic landmarks and discover what makes the UK great." %}</p>
            <a href="{% trans 'https://www.visitbritain.com/gb/en' %}" rel="noopener noreferrer" target="_blank" class="button button-ghost-blue">{% trans "Plan your trip" %}</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
{% endblock %}
