{% extends 'core/info_page.html' %}
{% load static from staticfiles %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/article.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'styles/performance-dashboard.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_title %}{{ page.title }}{% endblock %}

{% block breadcrumbs %}

<div class="container">
  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/">Great.gov.uk</a>
      </li>
      <li>
        <a href="{% url 'performance-dashboard' %}">Performance dashboard</a>
      </li>
      <li aria-current="page">{{ page.title }}</li>
    </ol>
  </div>
</div>
{% endblock %}
