{% extends 'core/base.html' %}

{% load static from staticfiles %}
{% load include_markdown from article_tags %}
{% load add_export_elements_classes from cms_tags %}

{% block head_css %}
{{ block.super }}
<link href="{% static 'styles/article.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'styles/performance-dashboard.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_title %}
Performance dashboard - great.gov.uk
{% endblock %}

{% block content %}
<div class="container">
  <p class="breadcrumbs">
    <span class="label verbose">You are here:</span>
    <a href="/">Great.gov.uk</a>
    <span class="separator">,</span>
    {% if page.landing_dashboard %}
      <span class="current">Performance dashboard</span>
    {% else %}
      <a href="{% url 'performance-dashboard' %}">Performance dashboard</a>
      <span class="separator">,</span>
      <span class="current">{{ page.title }}</span>
    {% endif %}
  </p>
</div>

<section>
  <div class="container">

    <div class="performance">

      <p class="font-small subheading">Performance dashboard</p>
      <h2 class="heading-large">{{ page.title }}</h2>
      <div class="grid-row">
        <div class="column-half">
          {{ page.description|safe }}
          <p>Visit <a href="{{ page.product_link }}">{{ page.title }}</a></p>
        </div>
      </div>

      <div class="grid-row performance-stats">
        <div class="column-quarter">
          <div class="data">
            <h2 class="heading-small">{{ page.data_title_row_one }}</h2>
            <p class="number bold-xlarge">{{ page.data_number_row_one }}</p>
            <p class="date font-xsmall">{{ page.data_period_row_one }}</p>
            <div class="data-description">
              {{ page.data_description_row_one|safe }}
            </div>
          </div>
        </div>

        <div class="column-quarter">
          <div class="data">
            <h2 class="heading-small">{{ page.data_title_row_two }}</h2>
            <p class="number bold-xlarge">{{ page.data_number_row_two }}</p>
            <p class="date font-xsmall">{{ page.data_period_row_two }}</p>
            <div class="data-description">
              {{ page.data_description_row_two|safe }}
            </div>
          </div>
        </div>

        <div class="column-quarter">
          <div class="data">
            <h2 class="heading-small">{{ page.data_title_row_three }}</h2>
            <p class="number bold-xlarge">{{ page.data_number_row_three }}</p>
            <p class="date font-xsmall">{{ page.data_period_row_three }}</p>
            <div class="data-description">
              {{ page.data_description_row_three|safe }}
            </div>
          </div>
        </div>

        {% if page.data_title_row_four and page.data_number_row_four and page.data_period_row_four and page.data_description_row_four %}
        <div class="column-quarter">
          <div class="data">
            <h2 class="heading-small">{{ page.data_title_row_four }}</h2>
            <p class="number bold-xlarge">{{ page.data_number_row_four }}</p>
            <p class="date font-xsmall">{{ page.data_period_row_four }}</p>
            <div class="data-description">
              {{ page.data_description_row_four|safe }}
            </div>
          </div>
        </div>
        {% endif %}
      </div>

      {% if page.guidance_notes %}
      <div class="grid-row">
        <div class="column-half">
          {{ page.guidance_notes|add_export_elements_classes|safe }}
        </div>
      </div>
      {% endif %}

    </div>

    {% if page.landing_dashboard %}
    <div class="other-services">
      <p class="subheading">Department for International Trade</p>
      <h2 class="heading-large">Our services</h2>
      <ul class="list">
        <li><a href="{% url 'performance-dashboard-export-opportunities' %}">Export opportunities</a></li>
        <li><a href="{% url 'performance-dashboard-selling-online-overseas' %}">Selling online overseas</a></li>
        <li><a href="{% url 'performance-dashboard-trade-profiles' %}">Trade profiles</a></li>
        <li><a href="{% url 'performance-dashboard-invest' %}">Invest in Great Britain</a></li>
      </ul>
    </div>
    {% endif %}

  </div>
</section>

{% endblock %}
