{% load static from staticfiles %}
<div class="container">
    <h2 id="case-studies-section-title" class="heading-large">Exporters share their story</h2>
    <p id="case-studies-section-description" class="intro">Read what other UK businesses have to say about their experiences with exporting and the decisions they made to secure the future of their business.</p>
    <div class="ed-carousel-container">
        <div class="ed-carousel my-ed-carousel ed-carousel--translate">
            <input class="ed-carousel__activator" type="radio" name="ed-carousel" id="1" checked="checked"/>
            <input class="ed-carousel__activator" type="radio" name="ed-carousel" id="2"/>
            <input class="ed-carousel__activator" type="radio" name="ed-carousel" id="3"/>

            <div class="ed-carousel__controls">
                <label class="ed-carousel__control ed-carousel__control--backward"
                  id="case-studies-section-backward-button-3"
                  for="3" aria-labelledby="Go to slide 3"></label>
                <label class="ed-carousel__control ed-carousel__control--forward"
                  id="case-studies-section-forward-button-2"
                  for="2" aria-labelledby="Go to slide 2"></label>
            </div>
            <div class="ed-carousel__controls">
                <label class="ed-carousel__control ed-carousel__control--backward"
                  id="case-studies-section-backward-button-1"
                  for="1" aria-labelledby="Go to slide 1"></label>
                <label class="ed-carousel__control ed-carousel__control--forward"
                  id="case-studies-section-forward-button-3"
                  for="3" aria-labelledby="Go to slide 3"></label>
            </div>
            <div class="ed-carousel__controls">
                <label class="ed-carousel__control ed-carousel__control--backward"
                  id="case-studies-section-backward-button-2"
                  for="2" aria-labelledby="Go to slide 2"></label>
                <label class="ed-carousel__control ed-carousel__control--forward"
                  id="case-studies-section-forward-button-1"
                  for="1" aria-labelledby="Go to slide 1"></label>
            </div>

            <div class="ed-carousel__track">
                {% for casestudy in casestudies %}
                <div class="ed-carousel__slide">
                    <div class="ed-carousel__text lg-3 md-1">
                        <h3 class="heading-medium">
                          <a id="case-studies-section-case-study-{{ forloop.counter }}-link" href="{{ casestudy.url }}" class="link">
                          {{ casestudy.title }}
                          </a>
                        </h3>
                        <p>{{ casestudy.description }}</p>
                        <a id="case-studies-section-case-study-{{ forloop.counter }}-button" href="{{ casestudy.url }}" class="carousel-cta link" aria-labelledby="Go to {{ casestudy.title }} case study"></a>
                    </div>
                    <div id="case-studies-section-case-study-{{ forloop.counter }}-image" class="ed-carousel__slide__image lg-2 md-1" style="background-image: url('{% static casestudy.image_url %}'); background-image: -webkit-image-set(url('{% static casestudy.image_url_webp %}') 1x);" role="listitem" aria-labelledby="{{ casestudy.image_description }}">
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="ed-carousel__indicators">
                <label id="case-studies-section-indicator-1"
                  class="ed-carousel__indicator" for="1" aria-labelledby="Go to slide 1"></label>
                <label id="case-studies-section-indicator-2"
                  class="ed-carousel__indicator" for="2" aria-labelledby="Go to slide 2"></label>
                <label id="case-studies-section-indicator-3"
                  class="ed-carousel__indicator" for="3" aria-labelledby="Go to slide 3"></label>
            </div>

        </div>
        <div style="clear: both;"></div>
    </div>
</div>
