<div class="container">
    <h2 class="heading">Exporters share their story</h2>
    <p class="intro">Read what other UK businesses have to say about their experiences with exporting and the decisions they made to secure the future of their business.</p>
    <div class="ed-carousel-container">
        <div class="ed-carousel my-ed-carousel ed-carousel--translate">
            <input class="ed-carousel__activator" type="radio" name="ed-carousel" id="1" checked="checked"/>
            <input class="ed-carousel__activator" type="radio" name="ed-carousel" id="2"/>
            <input class="ed-carousel__activator" type="radio" name="ed-carousel" id="3"/>
            <div class="ed-carousel__controls">
                <label class="ed-carousel__control ed-carousel__control--backward" for="3"></label>
                <label class="ed-carousel__control ed-carousel__control--forward" for="2"></label>
            </div>
            <div class="ed-carousel__controls">
                <label class="ed-carousel__control ed-carousel__control--backward" for="1"></label>
                <label class="ed-carousel__control ed-carousel__control--forward" for="3"></label>
            </div>
            <div class="ed-carousel__controls">
                <label class="ed-carousel__control ed-carousel__control--backward" for="2"></label>
                <label class="ed-carousel__control ed-carousel__control--forward" for="1"></label>
            </div>
            <div class="ed-carousel__track">
                {% for casestudy in casestudies %}
                <div class="ed-carousel__slide">
                    <div class="ed-carousel__text lg-2 md-1">
                        <h3>
                        <a href="{{ casestudy.url }}">
                        {{ casestudy.title }}
                        </a>
                        </h3>
                        <p>{{ casestudy.description }}</p>
                        <a href="{{ casestudy.url }}" class="carousel-cta"></a>
                    </div>
                    <div class="ed-carousel__slide__image lg-2 md-1" style="background-image: url('{{ casestudy.image_url }}');">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="ed-carousel__indicators">
                <label class="ed-carousel__indicator" for="1"></label>
                <label class="ed-carousel__indicator" for="2"></label>
                <label class="ed-carousel__indicator" for="3"></label>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
