{% extends 'casestudy/base.html' %}

{% load static from staticfiles %}

{% block breadcrums_title %}
{{ title }}
{% endblock %}


{% block title %}
{{ title }}
{% endblock %}


{% block subtitle %}
Like many businesses, Bristol-based specialist sports retailer FreestyleXtreme has seen big growth through online sales overseas.
{% endblock %}


{% block image %}
<img src="{% static 'images/stories/freestylextreme.jpg' %}" alt="">
{% endblock %}


{% block quote_one_text %}
Considering we are selling niche products to a small market, we never could have imagined achieving these types of sales.
{% endblock %}


{% block quote_one_name %}
Shaun Loughlin
{% endblock %}


{% block quote_one_job_title %}
Founder
{% endblock %}


{% block quote_one_link %}
<a href="http://www.freestylextreme.com/uk/default.aspx" class="company">FreestyleXtreme</a>
{% endblock %}


{% block main_content %}
<p>They started out selling online in 2011 through eBay and launched eBay stores globally through the cross-border programme. FreestyleXtreme then further expanded their business by joining all of Amazon's 15 markets.</p>
<p>By selling on online marketplaces, FreestyleXtreme became successful exporters and are now a thriving business with a projected annual turnover of £17 million.</p>
<p>Their sales went from 0 to 1,000 NZD within a few days of listing on the New Zealand based TradeMe online marketplace platform. And it’s been a similar story on French online marketplaces La Redoute and Cdiscount.</p>
<p>FreestyleXtreme also had assistance from the Department for International Trade (DIT), who helped them set up a local cooperative to reduce international shipping costs. "Parcel Rate Experts" brought together local online retailers to get competitive rates and solve one of the main barriers to exporting.</p>
{% endblock %}


{% block quote_two_text %}
E-marketplaces show you where there is overseas demand for your product.
{% endblock %}


{% block quote_two_name %}
Shaun Loughlin
{% endblock %}

{% block quote_two_job_title %}
Founder
{% endblock %}


{% block quote_two_link %}
<a href="http://www.freestylextreme.com/uk/default.aspx" class="company">FreestyleXtreme</a>
{% endblock %}
