{% extends 'casestudy/base.html' %}

{% load static from staticfiles %}

{% block head_title %}FreestyleXtreme case study - great.gov.uk{% endblock %}

{% block quote_one_text %}
Considering we are selling niche products to a small market, we never could have imagined achieving these types of sales.
{% endblock %}


{% block quote_one_name %}
Shaun Loughlin
{% endblock %}


{% block quote_one_job_title %}
Founder
{% endblock %}


{% block quote_one_link %}
<a href="http://www.freestylextreme.com/uk/default.aspx" class="company link">FreestyleXtreme</a>
{% endblock %}


{% block main_content %}
<p>FreestyleXtreme began selling online on eBay in 2011. It went so well the company quickly opened stores on the site in several countries through eBay’s cross-border programme. Today they sell on all 15 of Amazon’s international marketplaces.</p>
<p>Online marketplaces have allowed FreestyleXtreme to become a successful exporter. It’s  now a thriving business with a projected annual turnover of £17 million.</p>
<p>The Department for International Trade helped FreestyleXtreme set up a local cooperative to reduce international shipping costs. The cooperative, called Parcel Rate Experts, brought together local online retailers to get competitive shipping rates and solve one of their main barriers to exporting.</p>
{% endblock %}


{% block quote_two_text %}
E-marketplaces show you where there is overseas demand for your product.
{% endblock %}


{% block quote_two_name %}
Shaun Loughlin
{% endblock %}

{% block quote_two_job_title %}
Founder
{% endblock %}


{% block quote_two_link %}
<a href="http://www.freestylextreme.com/uk/default.aspx" class="company link">FreestyleXtreme</a>
{% endblock %}
