{% extends 'casestudy/base.html' %}

{% load static from staticfiles %}


{% block breadcrums_title %}
{{ title }}
{% endblock %}


{% block title %}
{{ title }}
{% endblock %}


{% block subtitle %}
York-based retailer Maxwell Scott Bags was already selling internationally from its UK website when its owners made the decision to launch a German website.
{% endblock %}


{% block image %}
<img src="/static/images/stories/maxwellscottbags.jpg" alt="">
{% endblock %}


{% block quote_one_text %}
Working with Amazon has allowed us to save money on buying our own warehouses and additional manpower, and focus on growing other areas of the business.
{% endblock %}


{% block quote_one_name %}
William Forshaw
{% endblock %}


{% block quote_one_job_title %}
Founder
{% endblock %}


{% block quote_one_link %}
<a href="http://www.maxwellscottbags.com/" class="company">Maxwell Scott Bags</a>
{% endblock %}


{% block main_content %}
<p>In 2013, Maxwell Scott Bags noticed an increase in orders from Germany. They decided to launch both a German and US website and successfully increased their exporting business.</p>
<p>Exporting overseas has seen the business grow by 300% in 3 years and led to the appointment of a Head of e-Marketplaces who focuses on expanding their business further in the online world.</p>
<p>The business asked the Department for International Trade (DIT) for marketplace advice to help increase their business. From listening to the e-commerce advisor at DIT, 25% of Maxwell Scott Bags export sales are now through Amazon.</p>
{% endblock %}


{% block quote_two_text %}
We currently sell on Amazon, which is going really well for us and contributes 25% to our total export sales.
{% endblock %}


{% block quote_two_name %}
William Forshaw
{% endblock %}


{% block quote_two_job_title %}
Founder
{% endblock %}


{% block quote_two_link %}
<a href="http://www.maxwellscottbags.com/" class="company">Maxwell Scott Bags</a>
{% endblock %}
