{% extends 'casestudy/base.html' %}

{% load static from staticfiles %}

{% block head_title %}Maxwell Scott Bags case study - great.gov.uk{% endblock %}

{% block quote_one_text %}
Working with Amazon has allowed us to save money on buying our own warehouses and additional manpower, and focus on growing other areas of the business.
{% endblock %}


{% block quote_one_name %}
William Forshaw
{% endblock %}


{% block quote_one_job_title %}
Founder
{% endblock %}


{% block quote_one_link %}
<a href="http://www.maxwellscottbags.com/" class="company">Maxwell Scott Bags</a>
{% endblock %}


{% block main_content %}
<p>In 2013, Maxwell Scott Bags noticed an increase in orders from Germany. They decided to launch new German and US websites and achieved instant success.</p>
<p>The business grew by 300% in 3 years leading to the appointment of a Head of e-Marketplaces who focuses on expanding the  business online.</p>
<p>The business asked the Department for International Trade (DIT) for marketplace advice to help the company grow. An e-commerce advisor at DIT suggested they try Amazon and the platform now accounts for 25% of Maxwell Scott Bags export sales.</p>
{% endblock %}


{% block quote_two_text %}
We currently sell on Amazon, which is going really well for us and contributes 25% to our total export sales.
{% endblock %}


{% block quote_two_name %}
William Forshaw
{% endblock %}


{% block quote_two_job_title %}
Founder
{% endblock %}


{% block quote_two_link %}
<a href="http://www.maxwellscottbags.com/" class="company">Maxwell Scott Bags</a>
{% endblock %}
