
// ARTICLE DETAIL PAGE
// ===================

@import 'partials/colours';

.article-detail-page {
  article.grid-row {
    margin-bottom: 100px;
  }

  article header {
    .column-seven-twelfths {
      padding-bottom: 1em;
    }

    .heading-xlarge {
      margin-top: 0.2em;
    }
  }

  .column-nine-twelfths {
    width: calc(100% / 12 * 9);
    float: left;
    padding-bottom: 1em;
  }

  .article-content {
    padding-top: 1em;
    line-height: 1.75;
    margin-left: calc(100% / 9 * 2);
  }

  .float-right {
    float: right;
  }

  .content-list li a {
    display: block;
  }

  .related-content-cards {
    background-color: $stone-30;
    padding-top: 30px;
  }

  @media (max-width: 640px) {
    .related-content-cards {
      display: none;
    }

    .column-nine-twelfths {
      width: 100%;
      float: none;
    }

    .article-content {
      margin-left: 0;
    }
  }

}
