// PAGE: CUSTOM
// ------------------------------------------------

@import '../base';
@import '../components/_hero';
@import '../components/_fact';
@import '../components/_scope-indicator';
@import '../components/_section-content-list';
@import '../components/_service';
@import '../components/_exporter-story';
@import '../components/_resources';
@import '../components/_feedback';
@import '../components/_carousel';


.hero-section {
  padding-top: 45px;
  height: 540px;
  background-position: top center;
}

.hero-section.new {
  background-image: url('/static/images/custom-hero-new-to-exporting@2x.png');
}

.hero-section.occasional {
  background-image: url('/static/images/custom-hero-occasional-exporter@2x.png');
}

.hero-section.regular {
  background-image: url('/static/images/custom-hero-regular-exporter@2x.png');
}

.section-content-list {
  @include columns(6);
  margin-left: $cols-2;
}

.scope-indicator {
  clear: left;
  float: right;
  padding-top: $spacing-3;
  width: $cols-3;
}

.sector-fact,
#other-services,
#resource-guidance {
  background-color: $offwhite;
}

#stories {
  .Carousel {
    width: 100%;
  }
}

.preferences {
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
}
#articles {
  background-color: #fafafa;
}

#top-of-the-markets {
  border-spacing: 0;
  margin-top: 71px;
  width: 100%;
  text-align: center;
  color: #333333;
  th {
    font-size: 15px;
    line-height: 1.47;
  }
  td {
    font-size: 19px;
    line-height: 3.16;
  }
  tr.lined {
    td {
      border-bottom: solid 1px #e6e6e6;
    }
  }
  .partner {
    font-weight: bold;
    text-align: left;
  }
}

#market-source-data {
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: #999999;
  margin-top: 30px;
  margin-bottom: 49px;
}

h2 {
  max-width: 570px;
}

.top-markets .header span {
  display: block; 
}

.service-section.fas {
  ul {
    margin-bottom: 45px;
  }
}

.container {
  hr {
    background-color: #e6e6e6;
  }
}

#largest-importers {
  margin-bottom: 75px;
}

@media (min-width: 767px) {
  .service-section.fas {
    .content {
      margin-right: 50px;
    }
  }
}

// TABLET
@media (max-width: 767px) {
  .section-content-list {
    float: none;
    width: calc(#{$cols-10} - #{$spacing-3});
  }

  .scope-indicator {
    clear: left;
    float: none;
    margin: 0;
    width: auto;
  }
}

// MOBILE
@media (max-width: 540px) {
  .service-section.fas {
    .button-cta {
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
  }

  .hero-section:after {
    margin-top: -350px;
  }
  .hero-section.new {
    background-position: 60% 10%;
    background-image: url('/static/images/custom-hero-new-to-exporting-mobile@2x.png');
  }
  .hero-section.occasional {
    background-position: 60% 10%;
    background-image: url('/static/images/custom-hero-occasional-exporter-mobile@2x.png');
  }
  .hero-section.regular {
    background-position: 60% 10%;
    background-image: url('/static/images/custom-hero-regular-exporter-mobile@2x.png');
  }
}

@media (max-width: 510px) {
  .hero-section.new {
    .title {
      @include heading-hero-mob;
    }
  }
}

@media (max-width: 420px) {
  .hero-section.regular {
    padding-top: 130px;
  }
  .hero-section.occasional {
    padding-top: 130px;
  }
  .section-content-list {
    width: auto;
  }
}
