// PAGE: HOME
// ------------------------------------------------

@import '../base';
@import '../components/_hero';
@import '../components/_video';
@import '../components/_triage';
@import '../components/_service';
@import '../components/_export-status-selector';
@import '../components/_resources';
@import '../components/_exporter-story';
@import '../components/_carousel';

#personas,
#services {
  background-color: $offwhite;
}

#stories {
  .Carousel {
    width: 100%;
  }
}

.hero-section {
  background-image: url('/static/images/home-hero-tangerine@2x.png');
  background-position: 75% 10%;
}

// TABLET
@media (min-width: 767px) {
  .service-teaser {
    height: 487.391px
  }
}


// MOBILE
@media (max-width: 540px) {
  .hero-section {
    background-image: url('/static/images/home-hero-tangerine-mobile@2x.png');
    background-position: 50% 30%;
  }
}

// LARGE SCREENS
@media (min-width: 1200px) {
  .hero-section {
    background-position: 50% 10%;
  }
}
