// PAGE: PERSONA
// ------------------------------------------------

@import '../base';
@import '../../components/hero/_hero';
@import '../../components/breadcrumbs/_breadcrumbs';
@import '../../components/scope-indicator/_scope-indicator';
@import '../../components/section-content-list/_section-content-list';


.scope-indicator {
  float: right;
  min-width: 200px;
  width: $cols-2;
}

.section-content-list {
  @include columns(6);
  margin-left: $cols-2;
}

#articles .section-intro {
  @include columns(6);
  margin-left: $cols-2;
  
  .header,
  .intro {
    width: auto;
  }
}


// TABLET
@media (max-width: 1024px) {
  #articles .section-intro {
    margin-left: 0;
    width: $cols-8;
  }
}

@media (max-width: 767px) {
  .scope-indicator {
    float: none;
    width: auto;
  }
  
  .section-content-list,
  #articles .section-intro {
    float: none;
    width: calc(#{$cols-10} - #{$spacing-3});
  }
}

