// PAGE: TRIAGE
// ------------------------------------------------

@import '../base';
@import '../components/_form-wizard';


input[type='text'],
select {
  margin-top: $spacing-3;
  max-width: 400px;
}

// question container div
.question {
  button {
    display: block;
    margin-top: $spacing-2;
  }
  select {
    width: 100%;
  }
  .home-link {
    font-size: 19px;
    margin-top: $spacing-3;
    padding-top: $spacing-3;
    border-top: 1px solid $light-grey;
  }
  legend {
    @include body-s;
    color: $mid-grey;
  }
  .input-container {
      legend {
      @include body-m;
      margin-bottom: $spacing-3;
      color: $black;
    }
  }
}

#change-answers-button-container {
  margin-top: 30px;  
}

// like question div but specific to resultspage
#content {
  .exred-triage-form > .question {
    width: 100%;
  }
  .update {
    padding: 0;
    margin-left: 0;
    margin-top: 15px;
  }
}

.exred-triage-form { 
  .input-field-container li {
    list-style: none;
    padding-left: 0;
    label {
      margin-bottom: 30px;
    }
    .radio label {
      margin-bottom: 0;
    }
  }

  .previous-step { 
    color: #00549f;
    cursor: pointer;
    text-decoration: underline;
    background-color: transparent;
    border-width: 0;
    font-size: 18px;
    display: inline-block;
    margin-left: 20px;
  }

  .button {
    display: inline-block;
  }

  .radio {
    &::before {
      background-color: transparent;
    }
    & label {
      margin-left: 45px;
    }
  }
  .autocomplete__input {
    margin-bottom: 0;
    max-width: none;
  }
  .autocomplete__option--focused,
  .autocomplete__option:hover {
    background: #007ea3 !important;  
  }

  .autocomplete__menu {
    .autocomplete__option {
      &::before {
        background-color: transparent;
      }
    }
    width: 100%;
  }
  .autocomplete__hint {
    height: 50px;
  }

  .autocomplete__input,
  .autocomplete__menu .autocomplete__option,
  .autocomplete__hint {
    padding: 12px 24px;
  }
}

// DESKTOP
@media (min-width: 768px) {
  .questions {
    min-height: 600px;
    background: linear-gradient(to right, #{$white} #{$cols-7}, #{$offwhite} #{$cols-5});
  }
  .question {
    @include columns(7);
    padding-right: $spacing-3;
  }
}

@media (max-width: 767px) {
  .questions {
    background: none;
  }
  .question {
    @include columns(12);
  }
}
