{% extends 'core/base.html' %}

{% load external_url from constants_tags %}

{% block sharing_metadata %}{% endblock %}

{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}

{% block content %}
<section>
  <div class="container">
    <h1 class="heading-xlarge">Something went wrong</h1>
    <ul>
      <li>If this problem persists, please <a class="link" href="{{ header_footer_urls.info_contact_us }}" title="report a broken link">report the problem</a>.</li>
      <li>Return to the <a class="link" href="{% url 'landing-page' %}" title="return to homepage">homepage</a>.</li>
    </ul>
    <hr>
    <p class="ed-error-page-status">HTTP 400 Error Code - Bad Request</p>
  </div>
</section>

{% endblock %}
