// Exporter Story
// -------------------------

// REQIURES...

// From _vars.scss
// $spacing-3

// From _colours.scss
// $white

// From _typography.scss
// @mixin body-l
// @mixin heading-s;

.exporter-story-teaser {
  background-color: $white;
  clear: both;
  margin-bottom: $spacing-3;
  overflow: hidden;
  position: relative;

  img {
    float: right;
    width: 62%;
  }
  
  .content {
    float: left;
    position: relative;
    width: calc(38% - #{$spacing-3});
  }

  .link {
    @include heading-s;
    background-color: $white;
    position: absolute;
    top: 0;
  }
  
  .title {
    @include heading-s;
  }
}


// TABLET
@media (max-width: 767px) {
  .exporter-story-teaser {
    img,
    .content {
      float: none;
      width: 100%;
    }
  }
}