// Feedback Form Component
// ---------------------------
// REQUIRES...

.feedback-section {
  form,
  p {
    min-width: 450px;
    width: $cols-6;
  } 
  
  h2 {
    @include heading-s;
    min-width: 450px;
    width: $cols-6;
  }
  
  .link {
    visibility: hidden;
    
    &.active {
      display: none;
    }
  }
  
  .collapsed {
    display: none;
  }
}

// TABLET
@media (max-width: 767px) {
  .feedback-section {
    form,
    p {
      min-width: auto;
      width: 100%;
    }
    
    h2 {
      @include heading-s-mob;
      min-width: auto;
      width: 100%;
    }
  }
}