// Quiz Component
// ---------------------------

// REQUIRES...
.answers {
  margin-bottom: #{$spacing-3 * 3};
  
  dt {
    @include body-s;
    color: $mid-grey;
    margin-bottom: 0;
  }
  
  dd {
    border-bottom: 1px solid $light-grey;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: $spacing-4;
    
    &:last-child {
      border: none;
    }
  }
}

.next {
  display: block;
  margin-top: $spacing-4;
}

#content .input-field-container {
  .errorlist li::before {
    background-color: transparent;
  }
  &.has-error {
    padding-left: 30px;
    border-left: 4px solid #B00D23;

    ul {
      &.errorlist {
        border: none;
        margin: 0 0 10px;
        padding: 0;
        li {
          color: #b10e1e;
          font-weight: 600;
        }
      }
    }
    input, select, textarea {
      border-color: #B00D23;
    }
  }
}

.SelectiveLookupDisplay {
  background-color: #fff;
  border: #999 solid 1px;
  max-height: 221px;
  overflow: scroll;
  z-index: 2;
  padding-left: 0;
  font-size: 16px;
  margin-top: -1px;
  margin-left: 1px;
  li {
    border-top: #999 solid 1px;
    padding: 10px 20px;
    position: relative;
    top: -1px;
    &:focus {
      border-color: #ffbf47;
      border-style: solid;
      border-width: 4px 3px 3px 3px;
      box-shadow: none;
      outline: 0;
      padding: 7px 17px;
      -webkit-box-shadow: none;
    }
    &:hover {
      background-color: #fafafa;
    }
  }
}
