// Navigation Ribbon
// -------------------------

// REQIURES...

// From _colours.scss
// $active-blue
// $great-blue

// From _vars.scss
// $spacing-2
// $spacing-4

.navigation-ribbon {
  clear: both;
  padding-top: $spacing-4;
  
  a {
    color: $great-blue;
    display: block;
    padding: $spacing-2 $spacing-4 $spacing-4 $spacing-4;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  li {
    // background-image: use the applied classes to add icons in appropriate CSS
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 30px;
    display: table-cell;
    text-align: center;
  }
  
  ul {
    display: table;
    width: 100%;
  }
  
  .active {
    border-bottom: $active-blue solid 3px;
    color: $active-blue;
    cursor: default;
    
    &:hover {
      text-decoration: none;
    }
  }
}


// TABLET
@media (max-width: 767px) {
  .navigation-ribbon {
    // Links are still in Menu but do not really work well on tablet/mobile view.
    display: none;
  }
}