// Section Content List
// -----------------------

// REQUIRES...
//
// From _colours.scss
// $active-blue
// $active-blue-alt
// $light-grey
// $mid-grey
//
// From _vars.scss
// $spacing-2
// $spacing-3
//
// From _typography.scss
// @mixin body-s 
// @mixin body-l
//
// From _layout.scss
// @mixin columns


.section-content-list {
  a {
    @include body-l;
  }
  
  li {
    border-bottom: $light-grey solid 1px;
    counter-increment: li;
    padding: $spacing-3 #{$spacing-3 + 52px} $spacing-3 0;
    position: relative;
  }
  
  ol {
    list-style-type: none;
    li:before {
      @include heading-hero;
      background: none;
      color: $light-grey;
      content: counter(li) " ";
      display: block;
      font-size: 60px;
      left: -130px;
      line-height: 70px;
      position: absolute;
      text-align: right;
      width: 100px;
    }
  }
  
  .article {
    &:after {
      @include continue-arrow;
      position: absolute;
      right: 0;
      top: calc(50% - 26px);
    }
    
    &:visited::after {
      background-image: url(/static/images/arrow.svg);
    }
  }
  
  .buttons {
    margin-bottom: $spacing-3;
    padding-top: $spacing-3;
    text-align: right;
    
    a {
      @include body-l;
      background-color: transparent;
      border-width: 0 0 4px 0;
      color: $active-blue;
      display: none; // JS will toggle visibility (non-JS users won't need these)
      padding-bottom: $spacing-3;
      padding-right: 0;
      text-decoration: underline;
      
      &:hover {
        color: $active-blue-alt;
      }
    }
    
    .previous {
      float: left;
      padding-left: 0;
      padding-right: $spacing-2;
    }
  }
  
  .tasks {
    display: block;
  }
  
  .section {
    @include body-s;
    color: $mid-grey;
    display: block;
  }
}
  

// MOBILE
@media (max-width: 420px) {
  .section-content-list {
    width: 100%;
    
    ol {
      li:before {
        font-size: 40px;
        left: -120px;
        letter-spacing: -4px;
      }
    }
    
    .article {
      &:after {
        @include continue-arrow-mob;
      }
    }
  }
}