// Teaser Component
// ---------------------------

// REQUIRES...
.teaser-site,
.teaser-site-external {
  background-color: $white;
  border: $light-grey solid 1px;
  margin-bottom: $spacing-3;
  padding: $spacing-3;

	.title {
		@include heading-s;
	}
}


// TABLET 
@media screen and (max-width: 767px) {
  
}

// MOBILE
@media screen and (max-width: 480px) {
  .teaser-site,
  .teaser-site-external {
    margin-bottom: $spacing-3;
  } 
}
