{% load i18n %}

<div id="eu-exit-banner" class="information-banner border-medium border-stone-30 padding-15">
  <div class="banner-content">
    <div class="banner-badge">
      <span class="bold-small background-active-blue white-text">{% trans 'EU Exit updates' %}</span>
    </div>
    <div>{% blocktrans %}If you are a company outside of the UK, <a class="link" href="/international/news/?lang=en">see our updates on EU Exit</a>. This text is in English only {% endblocktrans %}</div>
  </div>
</div>
