{% load static %}
{% load trans from i18n %}
{% load build_email_link build_linkedin_link build_twitter_link build_facebook_link from social_tags %}

<footer id="international-footer">
  <div class="container" dir="ltr">
    <a href="https://www.gov.uk/"><img id="international-footer-logo" src="{% static 'images/international/great-uk-gov-logo-colour.svg' %}" alt="{% trans "UK Government" %}"></a>
  </div>
  <div class="site-links container">
    <ul class="navigation">
        <li><a href="{% url 'contact-us-routing-form' step='international' %}" class="">{% trans "Contact us" %}</a></li>
        <li><a href="{% url 'privacy-and-cookies-international' %}?lang=en-gb" class="">{% trans "Privacy and cookies" %}</a></li>
        <li><a href="{% url 'terms-and-conditions-international' %}?lang=en-gb" class="">{% trans "Terms and Conditions" %}</a></li>
    </ul>

    {# Translate here first so we can pass the text to social_tags #}
    {% trans "Welcome to the UK" as welcome_to_the_uk %}

    <p data-component="sharing-links" class="sharing-links">
      <span class="label">{% trans "Share" %} </span>
      <a href="{% build_twitter_link text=welcome_to_the_uk url=request.build_absolute_uri %}">
        <img src="{% static 'images/international/twitter.svg' %}" width="36px" height="36px" alt="{% trans "with Twitter" %}"/></a>
      <span class="verbose">, </span>
      <a href="{% build_facebook_link url=request.build_absolute_uri %}">
        <img src="{% static 'images/international/facebook.svg' %}" width="36px" height="36px" alt="{% trans "with Facebook" %}"/></a>
      <span class="verbose">, </span>
      <a href="{% build_linkedin_link text=welcome_to_the_uk url=request.build_absolute_uri %}">
        <img src="{% static 'images/international/linkedin.svg' %}" width="36px" height="36px" alt="{% trans "with LinkedIn" %}"/></a>
      <span class="verbose">, </span>
      <a href="{% build_email_link text=welcome_to_the_uk url=request.build_absolute_uri %}">
        <img src="{% static 'images/international/email.svg' %}" width="36px" height="36px" alt="{% trans "by email" %}"/></a>
    </p>
  </div>

  <div class="global-footer" dir="ltr">
    <p class="container">
      <span>&copy; {% trans "Crown copyright 2017. All rights reserved." %}</span>
    </p>
  </div>
</footer>
