{% extends "core/base.html" %}

{% load static from staticfiles %}

{% block sharing_metadata %}{% endblock %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/contact.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    {% if request.GET.market %}
        <div class="container" id="title-area">
            <h1 class="heading-xlarge">{{ request.GET.market }}</h1>
            <div>Application via Department for International Trade</div>
        </div>
    {% endif %}

    {% include 'contact/wizard-step-progress-indicator.html' %}

    <section class="questions {% block container_class %}{% endblock %}">
        <div class="container">
            <div class="question">
                <form method="post" enctype="multipart/form-data">
                    <div class="exred-triage-form lg-2">
                        <h3 class="heading-medium">{% block step_title %}{% endblock %}</h3>
                        {% csrf_token %}
                        {% block extra_contents %}{% endblock %}
                        <div class="input-field-container">
                            {{ wizard.management_form }}
                            {% if wizard.form.forms %}
                                {{ wizard.form.management_form }}
                                {% for form in wizard.form.forms %}
                                    {{ form }}
                                {% endfor %}
                            {% else %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in form.visible_fields %}
                                    <li class="{{ field.css_classes }}">
                                        {{ field.errors }}
                                        {{ field.label_tag }}
                                        {% if field.help_text %}
                                            <span class="helptext">{{ field.help_text|safe }}</span>
                                        {% endif %}
                                        {{ field }}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            {% if wizard.steps.prev %}
                                <button name="wizard_goto_step" class="previous-step" type="submit" value="{{ wizard.steps.prev }}">&lt; back to previous step</button>
                            {% endif %}
                            {% if wizard.steps.step1 != wizard.steps.count %}
                                <button type="submit" class="button button">Continue to next step</button>
                            {% else %}
                                <input class="button next" type="submit" value="{% block submit_button_label %}Apply to join{% endblock %}"/>
                            {% endif %}
                            {% block extra_buttons %}{% endblock %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
