{% extends 'marketaccess/report_barrier_form/base.html' %}

{% load static from staticfiles %}

{% block extra_contents %}
    <p>Report a trade barrier</p>
    <p class="bold-small">
        Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
    </p>
    <h1 class="heading-large">Summary</h1>
    <h2 class="heading-medium">About you and your business</h2>
    <p class="bold-small"> First name </p>
    <p>{{all_cleaned_data.firstname}}</p>
    <p class="bold-small"> Last name </p>
    <p>{{all_cleaned_data.lastname}}</p>
    <p class="bold-small"> Job title </p>
    <p>{{all_cleaned_data.jobtitle}}</p>
    <p class="bold-small"> Exporter or trade association </p>
    <p>{{all_cleaned_data.categories}}</p>
    <p class="bold-small"> Business or organisation name </p>
    <p>{{all_cleaned_data.company_name}}</p>
    <p class="bold-small"> Email </p>
    <p>{{all_cleaned_data.email}}</p>
    <p class="bold-small"> Phone </p>
    <p>{{all_cleaned_data.phone}}</p>
    <a id="previous-button" class="link" href="{% url 'report-ma-barrier' step='about' %}?from=summary">Change answers</a>
    <h2 class="heading-medium">Describe your problem</h2>
    <p class="bold-small"> What goods or services do you want to export? </p>
    <p>{{all_cleaned_data.product_service}}</p>
    <p class="bold-small"> Which country do you want to export to? </p>
    <p>{{all_cleaned_data.country}}</p>
    <p class="bold-small"> Tell us about your problem </p>
    <p>{{all_cleaned_data.problem_summary}}</p>
    <p class="bold-small"> How has the problem affected your business? </p>
    <p>{{all_cleaned_data.impact}}</p>
    <p class="bold-small"> Tell us about any steps you’ve taken to resolve the problem </p>
    <p>{{all_cleaned_data.resolve_summary}}</p>
    <p class="bold-small"> Is your problem caused by or related to EU Exit? </p>
    <p>{{all_cleaned_data.eu_exit_related}}</p>
    <a id="previous-button" class="link" href="{% url 'report-ma-barrier' step='problem-details' %}?from=summary">Change answers</a>
    <h2 class="heading-medium">Tell us more about your problem</h2>
    <p class="bold-small"> Do you want to tell us anything else about your problem? </p>
    <p>{{all_cleaned_data.other_details}}</p>
    <a id="previous-button" class="link" href="{% url 'report-ma-barrier' step='other-details' %}?from=summary">Change answers</a>

{% endblock %}

{% block submit_button_label %}Submit report{% endblock %}