{% extends 'core/base.html' %}

{% load static from staticfiles %}
{% load hero from directory_components_tags %}
{% load message_box from directory_components_tags %}

{% block head_css %}
{{ block.super }}
<link href="{% static 'styles/marketaccess.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
<div class="container">
    <div class="breadcrumbs">
        <ol>
        <li><a href="{% url 'landing-page' %}">great.gov.uk</a></li>
        <li> Trade barriers </li>
        <li> Report a trade barrier </li>
        </ol>
    </div>
</div>
<section class="background-stone-30">
    <div class="container">
        <div class="grid-row">
            <div class="column-two-thirds">
                {% message_box heading="We’ve received your report" description="Thank you. We’ve sent a confirmation message to yourname@email.com." %}
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Next steps</h1>    
            <p>We’ll now look at what you’ve told us.</p>
            <p>We’ll then email you within:</p>
            <ul class="list list-bullet">
                <li>5 working days with an initial assessment of your barrier</li>
                <li>20 working days to tell you what we’ll do to help resolve your barrier</li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}