{% load i18n %}
<section role="dialog" data-component="language-selector-dialog" data-lang="en" data-label="UK" data-name="English" class="language-selector-dialog js-enabled-only">
  <p id="great-languages-selector">Go to our international site</p>
  <p>The UK supports international trade and investment, and welcomes travellers and students from across the world.</p>
  <div data-node="languages" class="languages">
    <ul aria-labelledby="great-languages-selector" class="navigation">
      {% for code, label in LANGUAGES %}
        <li><a class="link" id="header-language-selector-{{ code }}" href="{% url 'landing-page-international' %}?lang={{ code }}">{{ label }}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>
