{% load static %}
<header id="header">
  <div id="header-bar">
    <div class="container">
      {% block login_state %}
      <ul aria-label="Account links" class="account-links">
        {% if not sso_is_logged_in %}
        <li class="anonymous">
          <a id="header-register-link" href="{{ sso_register_url }}" class="register">Register</a>
        </li>
        <li class="anonymous">
          <a id="header-sign-in-link" href="{{ sso_login_url }}" class="signin">Sign in</a>
        </li>
        {% else %}
        <li class="authenticated">
          <a id="header-profile-link" href="{{ sso_profile_url }}" class="profile">{% block profile_label %}Account{% endblock %}</a>
        </li>
        <li class="authenticated">
          <a id="header-sign-out-link" href="{{ sso_logout_url }}" class="signout">Sign out</a>
        </li>
        {% endif %}

        {% block international_link_js_disabled %}
        {% endblock %}

      </ul>
      {% endblock %}
      <span id="header-greeting"></span>

      <a id="header-dit-logo" href="{{ services_urls.exred }}">
        <img src="{% static 'directory_components/images/dfit-logo-white.png' %}" alt="Home">
      </a>
    </div>
  </div>

  <div class="js-disabled-only">
  {% block no_js_header_beta_banner %}
  {% endblock %}
  </div>

  <div id="header-menu">
    <div class="container">
      <nav id="menu">
        <ul>
          <li>
            <a class="navigation " href="{{ services_urls.exred }}" id="header-home-link">Home</a>
          </li>

          <li>
            <a class="navigation " href="{% url 'markets' %}" id="header-markets-link">Markets</a>
          </li>

          <li><a class="navigation links-list-heading" href="#advice-links-list" id="header-advice-links">Advice</a>
            <ul id="advice-links-list" aria-labelledby="header-advice-links" class="container links-list">
              <li class="links-list-item column-eigth">
                <a id="header-advice-create-an-export-plan" href="{{ header_footer_urls.create_an_export_plan }}">Create an export plan</a>
              </li>
              <li class="links-list-item column-eigth">
                <a id="header-advice-find-an-export-market" href="{{ header_footer_urls.find_an_export_market }}">Find an export market</a>
              </li>
              <li class="links-list-item column-eigth">
                <a id="header-advice-define-route-to-market" href="{{ header_footer_urls.define_route_to_market }}">Define route to market</a>
              </li>
              <li class="links-list-item column-eigth">
                <a id="header-advice-get-export-finance-and-funding" href="{{ header_footer_urls.get_export_finance_and_funding }}">Get export finance and funding</a>
              </li>
              <li class="links-list-item column-eigth">
                <a id="header-advice-manage-payment-for-export-orders" href="{{ header_footer_urls.manage_payment_for_export_orders }}">Manage payment for export orders</a>
              </li>
              <li class="links-list-item column-eigth">
                <a id="header-advice-prepare-to-do-business-in-a-foreign-country" href="{{ header_footer_urls.prepare_to_do_business_in_a_foreign_country }}">Prepare to do business in a foreign country</a>
              </li>
              <li class="links-list-item column-eigth">
                <a id="header-advice-manage-legal-and-ethical-compliance" href="{{ header_footer_urls.manage_legal_and_ethical_compliance }}">Manage legal and ethical compliance</a>
              </li>
              <li class="links-list-item column-eigth">
                <a id="header-advice-prepare-for-export-procedures-and-logistics" href="{{ header_footer_urls.prepare_for_export_procedures_and_logistics }}">Prepare for export procedures and logistics</a>
              </li>
            </ul>
          </li>

          <li><a class="navigation links-list-heading" href="#services-links-list" id="header-services-links">Services</a>
            <ul id="services-links-list" aria-labelledby="header-services-links" class="container links-list">
              <li class="links-list-item column-fifth">
                <a id="header-services-find-a-buyer" href="{{ services_urls.fab }}">
                  <span>Create a business profile</span>
                  <p>Get promoted internationally with a great.gov.uk business profile</p>
                </a>
              </li>
              <li class="links-list-item column-fifth">
                <a id="header-services-selling-online-overseas" href="{{ services_urls.soo }}">
                  <span>Sell online overseas</span>
                  <p>Find the right marketplace for your business and access special offers for sellers</p>
                </a>
              </li>
              <li class="links-list-item column-fifth">
                <a id="header-services-export-opportunities" href="{{ services_urls.exopps }}">
                  <span>Find export opportunities</span>
                  <p>Find and apply for overseas opportunities</p>
                </a>
              </li>
              <li class="links-list-item column-fifth">
                <a id="header-services-get-finance" href="{{ header_footer_urls.get_finance }}">
                  <span>Get finance</span>
                  <p>Get the finance you need to compete and grow</p>
                </a>
              </li>
              <li class="links-list-item column-fifth">
                <a id="header-services-events" href="{{ services_urls.events }}" rel="noopener noreferrer" target="_blank">
                  <span>Find events and visits</span>
                  <p>Attend events and see how visits by ministers can support your trade deals</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
