{% load card from directory_components_tags %}

{% if page.has_related_card_item_one or page.has_related_card_item_two or page.has_related_card_item_three %}
  <section class="related-content-cards background-stone">
      <div class="container">
        <h2 class="heading-large">Related content</h2>
        <div class="card-grid">
          {% if page.has_related_card_item_one %}
            <div class="column-third-l column-half-m column-full">
              {% card title=page.related_article_one_title description=page.related_article_one_teaser url=page.related_article_one_url %}
            </div>
          {% endif %}
          {% if page.has_related_card_item_two %}
            <div class="column-third-l column-half-m column-full">
              {% card title=page.related_article_three_title description=page.related_article_three_teaser url=page.related_article_three_url %}
            </div>
          {% endif %}
          {% if page.has_related_card_item_three %}
            <div class="column-third-l column-half-m column-full">
              {% card title=page.related_article_two_title description=page.related_article_two_teaser url=page.related_article_two_url %}
            </div>
          {% endif %}
        </div>
      </div>
  </section>
{% endif %}
