{% extends 'prototype/article_list.html' %}

{% load cta_box from directory_components_tags %}

{% block css_layout_class %}article-list-page{% endblock css_layout_class %}

{% block page_id %}news-list-page{% endblock %}

{% block hero %}
<section class="hero hero-generic" id="hero">
  <div class="container">
    <div class="hero-title">
      <h1 class="heading-hero-generic" id="hero-heading">{{ page.landing_page_title }}</h1>
      <p class="hero-description" id="hero-description">{{ page.articles_count }} article{{ page.articles_count|pluralize }}</p>
    </div>
  </div>
</section>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="{% url 'landing-page' %}">Great.gov.uk</a>
      </li>
      <li aria-current="page">{{ page.landing_page_title }}</li>
    </ol>
  </div>
{% endblock %}

{% block article_link %}{{ article.full_path }}{% endblock %}


{% block list_footer %}
  {% if features.EU_EXIT_FORMS_ON %}
    <div class="container">
      {% url 'eu-exit-domestic-contact-form' as contact_url %}
      {% cta_box description='If you still have a question about EU Exit, contact Department for International Trade and one of our experts will try to help you.' button_text='Contact us' button_url=contact_url %}
    </div>
  {% endif %}
{% endblock %}
