{% extends 'core/base_international.html' %}

{% load hero cta_box add_export_elements_classes from directory_components_tags %}
{% load parse_date from prototype_tags %}
{% load static %}

{% block css_layout_class %}international-news-list-page{% endblock %}

{% block content %}

<section class="hero hero-generic" id="hero">
  <div class="container">
    <div class="hero-title">
      <h1 class="heading-hero-generic" id="hero-heading">{{ page.landing_page_title }}</h1>
      <p class="hero-description" id="hero-description">{{ page.articles_count }} article{{ page.articles_count|pluralize }}</p>
    </div>
  </div>
</section>

<section id="article-list-page">
  <div class="container">
    {% block breadcrumbs %}
      <div class="breadcrumbs">
        <ol>
          <li>
            <a href="{% url 'landing-page-international' %}">Great.gov.uk</a>
          </li>
          <li aria-current="page">{{ page.landing_page_title }}</li>
        </ol>
      </div>
    {% endblock %}

    {% if page.articles %}
    <div class="grid-row">
      <div class="column-two-thirds-l column-full article-list">
        <ul class="content-list">
          {% for article in page.articles %}
          <li class="article">
            <h3 class="heading-medium"><a href="{{ request.path|add:article.meta.slug }}" class="link">{{ article.article_title }}</a></h3>
            <p class="subheading">Last updated {{ article.last_published_at|parse_date }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</section>

<div class="container">
  {% url 'eu-exit-international-contact-form' as contact_url %}
  {% cta_box description='If you still have a question about EU Exit, contact Department for International Trade and one of our experts will try to help you.' button_text='Contact us' button_url=contact_url %}
</div>


{% endblock %}
