{% extends 'prototype/domestic_news_detail_content.html' %}

{% block breadcrumbs %}
<div class="container">
  <nav class="breadcrumbs" aria-label="breadcrumb" role="navigation">
    <ol>
      <li>
        <a href="{% url 'landing-page-international' %}">great.gov.uk</a>
      </li>
      <li>
        <a href="{% url 'international-eu-exit-news-list' %}">EU exit news</a>
      </li>
      <li aria-current="page">{{ page.article_title }}</li>
    </ol>
  </nav>
</div>
{% endblock %}

{% block article_tags %}{% endblock %}

{% block article_footer %}
<footer>
  <nav class="grid-row">
    <div class="column-seven-twelfths margin-left-2-cols">
      <span class="font-xsmall">Back to <a href="{% url 'international-eu-exit-news-list' %}" class="link">EU exit news</a></span>
    </div>
    <div class="column-quarter">
      <a class="float-right font-xsmall link" href="#content">Back to top</a>
    </div>
  </nav>
</footer>
{% endblock %}
