{% extends 'core/base.html' %}

{% load static from staticfiles %}
{% load add_export_elements_classes from directory_components_tags %}

{% block head_css %}
{{ block.super }}
<link href="{% static 'styles/article.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'styles/get-finance.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_title %}
Get finance - great.gov.uk
{% endblock %}

{% block content %}
<section class="get-finance-banner" style="background-image: url({{ page.hero_image.url }})">
  <div class="container">
    <div class="breadcrumbs body-text">
      <ol>
        <li><a href="{% url 'landing-page' %}">Export</a></li>
        <li aria-current="page">Get finance</li>
      </ol>
    </div>
    <img src="{% static 'images/UKEF-logo.png' %}" alt="UK Export Finance" />

    <div class="grid-row">
      <div class="column-two-thirds">
        {{ page.hero_text|add_export_elements_classes }}
      </div>
    </div>
  </div>
</section>

<section id="contact-section">
    <div class="container">
        <div class="grid-row">
            <div class="proposition-container">
                {{ page.contact_proposition|safe }}
            </div>
            <div class="button-container">
                <a href="{% url 'uk-export-finance-lead-generation-form' step='contact' %}" class="button">{{ page.contact_button }}</a>
            </div>
        </div>
    </div>
</section>

<section id="advantages-section">
    <div class="container">
        <div class="grid-row">
            <div class="column-one-half">
                <h2 class="heading-large">{{ page.advantages_title }}</h2>
            </div>
        </div>
        <div class="grid-row advantages-list-container">
            <div class="column-one-third service-card">
                <div class="image-container">
                    <img src="{{ page.advantages_one_icon.url}}" />
                </div>
                <div>
                    {{ page.advantages_one|add_export_elements_classes }}
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="column-one-third service-card">
                <div class="image-container">
                    <img src="{{ page.advantages_two_icon.url }}" />
                </div>
                <div>
                    {{ page.advantages_two|add_export_elements_classes }}
                </div>
            </div>
            <div class="column-one-third service-card">
                <div class="image-container">
                    <img src="{{ page.advantages_three_icon.url }}" />
                </div>
                <div>
                    {{ page.advantages_three|add_export_elements_classes }}
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>

<section class="get-finance-video">
  <div class="container">
    <div class="grid-row">
      <div class="column-one-half">
        {{ page.evidence|add_export_elements_classes }}
      </div>
      <div class="column-one-half">
        <video controls controlsList="nodownload">
          <source src="{{ page.evidence_video.url }}" type="video/{{ page.evidence_video.file_extension|default:'mp4' }}">
        </video>
      </div>
    </div>
  </div>
</section>

<section id="contact-section-bottom">
    <div class="container">
        <div class="grid-row">
            <div class="proposition-container">
                {{ page.contact_proposition|safe }}
            </div>
            <div class="button-container">
                <a href="{% url 'uk-export-finance-lead-generation-form' step='contact' %}" class="button">{{ page.contact_button }}</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
