<script type="text/javascript">
    // global vars used by the pi tracker script
    var piAId = '{{ pi_tracker_account_id }}';
    var piCId = '{{ pi_tracker_campaign_id }}';
    (function() {
        function async_load(){
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.src = '{{ pi_tracker_javascript_url }}'
            var c = document.getElementsByTagName('script')[0];
            c.parentNode.insertBefore(s, c);
        }
        if (window.attachEvent) {
            window.attachEvent('onload', async_load);
        } else {
            window.addEventListener('load', async_load, false);
        }
    })();
</script>
